<div class="page-layout carded fullwidth inner-scroll">

    <dh2-spinner [show]="showSpinner"></dh2-spinner>

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="baseUri">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <mat-icon>chrome_reader_mode</mat-icon>
                </div>

                <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="dataRoute.action ==='edit' || dataRoute.action ==='create-lang'">
                        {{ object.name }}
                    </div>
                    <div class="h2" *ngIf="dataRoute.action ==='create'">
                        {{ 'APPS.NEW.F' | translate }} {{ 'CMS.CATEGORY' | translate }}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{ 'APPS.DETAIL' | translate }}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <div fxLayoutGap="30px">
                <button mat-raised-button
                        type="submit"
                        form="formDetail"
                        class="mat-white-bg mt-16 mt-sm-0"
                        [disabled]="fg.pristine || loadingButton"
                        *ngIf="dataRoute.action ==='create'">
                    <span>{{ 'APPS.ADD' | translate }}</span>
                    <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>

                <button mat-raised-button
                        type="submit"
                        form="formDetail"
                        class="mat-white-bg mt-16 mt-sm-0"
                        [disabled]="fg.invalid || loadingButton"
                        *ngIf="dataRoute.action ==='create-lang'">
                    <span>{{ 'APPS.TRANSLATE' | translate }}</span>
                    <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>

                <button mat-raised-button
                        type="submit"
                        form="formDetail"
                        class="mat-white-bg mt-16 mt-sm-0"
                        [disabled]="fg.invalid || fg.pristine || loadingButton"
                        *ngIf="dataRoute.action ==='edit'">
                    <span>{{ 'APPS.SAVE' | translate }}</span>
                    <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>

                <button mat-raised-button
                        class="mat-red-400-bg primary-text mt-16 mt-sm-0"
                        [disabled]="loadingTranslationButton"
                        *ngIf="dataRoute.action ==='edit' && lang.id !== baseLang" 
                        (click)="deleteRecord(object)">
                    <span *ngIf="lang.id !== baseLang">{{ 'APPS.DELETE_TRANSLATION' | translate }}</span>
                    <mat-spinner *ngIf="loadingTranslationButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg p-24">

            <!-- CONTENT -->
            <div class="content">
                <div fxFlex fxLayout="column">
                    <form   id="formDetail"
                        [formGroup]="fg"
                        (ngSubmit)="postRecord(object)">

                    <div fxLayout="row wrap">
                        <mat-form-field class="col-12 col-md-4">
                            <input matInput placeholder="{{ 'APPS.ID' | translate }}" formControlName="id">
                        </mat-form-field>
                        <dh2-flag-icon class="col-12 offset-md-1 col-md-4" [lang]="lang" size="22px" [rounded]="true" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'25px'}}"></dh2-flag-icon>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field class="col-12">
                            <input dh2Slug [model]="graphQL.model" matInput placeholder="{{ 'APPS.NAME' | translate }}" formControlName="name" required>
                            <mat-error>{{ formErrors?.name }}</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field class="col-12">
                            <input dh2Slug [model]="graphQL.model" matInput placeholder="{{ 'APPS.SLUG' | translate }}" formControlName="slug" required>
                            <mat-error>{{ formErrors?.slug }}</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field class="col-12 col-md-6">
                            <mat-select placeholder="{{ 'CMS.SECTION' | translate }}" formControlName="section_id">
                                <mat-option>{{ 'APPS.NONE.F' | translate }}</mat-option>
                                <mat-option *ngFor="let section of sections" [value]="section.id">{{ section.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field class="col-12 col-md-6">
                            <input matInput placeholder="{{ 'APPS.SORT' | translate }}" formControlName="sort" type="number">
                            <mat-error>{{ formErrors?.sort }}</mat-error>
                        </mat-form-field>
                    </div>
                </form>
                </div>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
    
</div>