<div  class="page-layout carded fullwidth tabable" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="baseUri">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="product-image mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <mat-icon>library_books</mat-icon>
                </div>

                <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="dataRoute.action ==='edit' || dataRoute.action ==='create-lang'" [innerHTML]="object.name"></div>
                    <div class="h2" *ngIf="dataRoute.action ==='create'">
                        {{ 'APPS.NEW.M' | translate }} {{ 'CMS.ARTICLE' | translate }}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{ 'APPS.DETAIL' | translate }}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <div fxLayoutGap="30px">
                <button mat-raised-button
                        type="submit"
                        form="formDetail"
                        class="action-btn mat-white-bg mt-16 mt-sm-0"
                        [disabled]="fg.pristine || loadingButton"
                        *ngIf="dataRoute.action ==='create'">
                    <span>{{ 'APPS.ADD' | translate }}</span>
                    <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>

                <button mat-raised-button
                        type="submit"
                        form="formDetail"
                        class="action-btn mat-white-bg mt-16 mt-sm-0"
                        [disabled]="fg.invalid || loadingButton"
                        *ngIf="dataRoute.action ==='create-lang'">
                    <span>{{ 'APPS.TRANSLATE' | translate }}</span>
                    <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>
    
                <button mat-raised-button
                        type="submit"
                        form="formDetail"
                        class="action-btn mat-white-bg mt-16 mt-sm-0"
                        [disabled]="fg.invalid || fg.pristine || loadingButton"
                        *ngIf="dataRoute.action ==='edit'">
                    <span>{{ 'APPS.SAVE' | translate }}</span>
                    <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>

                <button mat-raised-button
                        class="action-btn mat-red-400-bg primary-text mt-16 mt-sm-0"
                        [disabled]="loadingTranslationButton"
                        *ngIf="dataRoute.action ==='edit' && lang.id !== baseLang" 
                        (click)="deleteRecord(object)">
                    <span *ngIf="lang.id !== baseLang">{{ 'APPS.DELETE_TRANSLATION' | translate }}</span>
                    <mat-spinner *ngIf="loadingTranslationButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">
                
                <form   id="formDetail"
                        class="col-12"
                        [formGroup]="fg"
                        (ngSubmit)="postRecord(object)"
                        fxLayout="column"
                        fxFlex>

                    <mat-tab-group>

                        <mat-tab label="{{ 'APPS.PROPERTIES' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <input type="hidden" formControlName="ix">
                                <input type="hidden" formControlName="lang_id">
                                <input type="hidden" formControlName="subtotal">

                                <div fxLayout="row wrap">
                                    <mat-form-field class="col-12 col-md-4">
                                        <input matInput placeholder="{{ 'APPS.ID' | translate }}" formControlName="id">
                                    </mat-form-field>
                                    <dh2-flag-icon class="col-12 offset-md-1 col-md-4" [lang]="lang" width="30px"></dh2-flag-icon>
                                </div>

                                <div fxLayout="row wrap">
                                    <mat-form-field class="col-12 col-md-6">
                                        <input matInput placeholder="{{ 'MARKET.SKU' | translate }}" formControlName="sku">
                                        <mat-error>{{ formErrors?.sku }}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field class="col-12 offset-md-1 col-md-5">
                                        <mat-select placeholder="{{ 'MARKET.PARENT_PRODUCT' | translate }}" formControlName="parent_id">
                                            <mat-option>{{ 'APPS.NONE.M' | translate }}</mat-option>
                                            <mat-option *ngFor="let product of products" [value]="product.id">{{ product.name }}</mat-option>
                                        </mat-select>
                                        <mat-hint align="start">{{ 'MARKET.PARENT_PRODUCT_DESCRIPTION' | translate }}</mat-hint>
                                        <mat-error>{{ formErrors?.parent_id }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col-12">
                                        <mat-select placeholder="{{ 'NAV.CATEGORIES' | translate }}" formControlName="categories_id" multiple>
                                            <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.categories_id }}</mat-error>
                                    </mat-form-field>
                                </div>
            
                                <div fxLayout="row">
                                    <mat-form-field class="col-12">
                                        <input dh2Slug [model]="graphQL.modelLang" matInput placeholder="{{ 'APPS.NAME' | translate }}" formControlName="name" required>
                                        <mat-error>{{ formErrors?.name }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col-12">
                                        <input dh2Slug [model]="graphQL.modelLang" matInput placeholder="{{ 'APPS.SLUG' | translate }}" formControlName="slug" required>
                                        <mat-error>{{ formErrors?.slug }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col-12 col-md-5">
                                        <mat-select placeholder="{{ 'MARKET.PRODUCT_TYPE' | translate }}" formControlName="type_id" required>
                                            <mat-option *ngFor="let productType of productTypes" [value]="+productType.id">{{ productType.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.type_id }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <!-- producto types transportable, them it must to have a weight -->
                                <div fxLayout="row" *ngIf="fg.controls['type_id'].value === 2 || fg.controls['type_id'].value === 3">
                                    <mat-form-field class="col-12 col-md-4">
                                        <input matInput placeholder="{{ 'MARKET.WEIGHT' | translate }}" formControlName="weight" type="number">
                                        <mat-icon matSuffix>line_weight</mat-icon>
                                        <mat-error>{{ formErrors?.weight }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row wrap">
                                    <div class="col-12 col-md-5 py-20">
                                        <mat-checkbox formControlName="active">{{ 'APPS.ACTIVE.M' | translate }}</mat-checkbox>
                                    </div>
                                    <mat-form-field class="col-12 col-md-4">
                                        <input matInput placeholder="{{ 'APPS.SORT' | translate }}" formControlName="sort" type="number">
                                        <mat-error>{{ formErrors?.sort }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <!-- HEADER -->
                                <div fxLayout="row" fxLayoutAlign="start center" class="my-24 header-section">
                                    <mat-icon class="m-0 mr-16">euro_symbol</mat-icon>
                                    <div class="h2 secondary-text">{{ 'MARKET.PRICES_TAXES' | translate }}</div>
                                </div>
                                <!-- / HEADER -->

                                <div fxLayout="row">
                                    
                                    <div class="col-6">
                                        <div fxLayout="row">
                                            <mat-form-field class="col-12 col-md-5">
                                                <mat-select placeholder="{{ 'MARKET.PRICE_TYPE' | translate }}" formControlName="price_type_id" required>
                                                    <mat-option *ngFor="let priceType of priceTypes" [value]="+priceType.id">{{ priceType.name }}</mat-option>
                                                </mat-select>
                                                <mat-error>{{ formErrors?.price_type_id }}</mat-error>
                                            </mat-form-field>
                                        </div>
        
                                        <div fxLayout="row">
                                            <mat-form-field class="col-12 col-md-5">
                                                <mat-select placeholder="{{ 'MARKET.PRODUCT_CLASS_TAX' | translate }}" formControlName="product_class_tax_id" (change)="handleGetProductTaxes()" required>
                                                    <mat-option *ngFor="let productClassTax of productClassTaxes" [value]="productClassTax.id">{{ productClassTax.name }}</mat-option>
                                                </mat-select>
                                                <mat-error>{{ formErrors?.product_class_tax_id }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="col-6" *ngIf="fg.controls['price_type_id'].value === 1">

                                        <div fxLayout="row">
                                            <mat-form-field class="col-12">
                                                <input matInput placeholder="{{ 'MARKET.PRICE' | translate }}" formControlName="price" type="number" (change)="handleGetProductTaxes()">
                                                <mat-spinner *ngIf="loadingPrice" matSuffix mode="indeterminate" diameter="17"></mat-spinner>
                                                <mat-error>{{ formErrors?.price }}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div fxLayout="row">
                                            <mat-form-field class="col-12">
                                                <input matInput placeholder="{{ 'MARKET.SUBTOTAL' | translate }}" formControlName="subtotal_format">
                                                <mat-error>{{ formErrors?.subtotal_format }}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div fxLayout="row">
                                            <mat-form-field class="col-12">
                                                <input matInput placeholder="{{ 'MARKET.TAX' | translate }}" formControlName="tax_format">
                                                <mat-error>{{ formErrors?.tax_format }}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div fxLayout="row">
                                            <mat-form-field class="col-12">
                                                <input matInput placeholder="{{ 'MARKET.TOTAL' | translate }}" formControlName="total_format">
                                                <mat-error>{{ formErrors?.total_format }}</mat-error>
                                            </mat-form-field>
                                        </div>

                                    </div>
                                    <div class="col-6" *ngIf="fg.controls['price_type_id'].value === 2">
                                        Precio indefinido
                                    </div>

                                </div>
                                
                                <!-- HEADER -->
                                <div fxLayout="row" fxLayoutAlign="start center" class="my-24 header-section">
                                    <mat-icon class="m-0 mr-16">subtitles</mat-icon>
                                    <div class="h2 secondary-text">{{ 'NAV.CUSTOM_FIELDS' | translate }}</div>
                                </div>
                                <!-- / HEADER -->

                                <div fxLayout="row">
                                    <mat-form-field class="col-12 col-md-5">
                                        <mat-select placeholder="{{ 'APPS.FIELD_GROUP' | translate }}" formControlName="field_group_id">
                                            <mat-option>{{ 'APPS.NONE.M' | translate }}</mat-option>
                                            <mat-option *ngFor="let fieldGroup of fieldGroups" [value]="fieldGroup.id">{{ fieldGroup.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.field_group_id }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <!-- DYNAMIC FORM -->  
                                <dh2-dynamic-form   [start]="startCustomFields"
                                                    [formGroup]="fg"
                                                    [errors]="formErrors"
                                                    [fieldGroupId]="this.fg.controls['field_group_id']?.value"
                                                    [values]="object.data && object.data.custom_fields ? object.data.custom_fields : undefined"
                                                    [lang]="translateService.currentLang"></dh2-dynamic-form>
                                <!-- / DYNAMIC FORM -->

                            </div>
                        </mat-tab>
                        <mat-tab label="{{ 'APPS.DESCRIPTION' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div fxLayout="row">
                                    <div class="col-12">
                                        <dh2-froala formControlName="description"
                                                    placeholder="{{ 'APPS.DESCRIPTION' | translate }}"
                                                    [heightMin]="400"
                                                    [attachmentFamilies]="attachmentFamilies"></dh2-froala>
                                        <mat-error>{{ formErrors?.description }}</mat-error>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="{{ 'MARKET.STOCK' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div fxLayout="row">
                                    <div class="col-12">

                                        <mat-table [dataSource]="dataSource"
                                                    fusePerfectScrollbar
                                                    matSort 
                                                    matSortDisableClear>

                                            <!-- Column -->
                                            <ng-container matColumnDef="warehouse_id">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
                                                <mat-cell *matCellDef="let row">{{ row.warehouse_id }}</mat-cell>
                                            </ng-container>

                                            <!-- Column -->
                                            <ng-container matColumnDef="warehouse_name">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'MARKET.WAREHOUSE' | translate }}</mat-header-cell>
                                                <mat-cell *matCellDef="let row">{{ row.warehouse_name }}</mat-cell>
                                            </ng-container>
                                            
                                            <!-- Column -->
                                            <ng-container matColumnDef="stock">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'MARKET.STOCK' | translate }}</mat-header-cell>
                                                <mat-cell *matCellDef="let row">{{ row.stock }}</mat-cell>
                                            </ng-container>
                                            
                                            <!-- Column -->
                                            <ng-container matColumnDef="minimum_stock">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'MARKET.MINIMUM_STOCK' | translate }}</mat-header-cell>
                                                <mat-cell *matCellDef="let row">{{ row.minimum_stock }}</mat-cell>
                                            </ng-container>
                                            
                                            <!-- ACTIONS -->
                                            <ng-container matColumnDef="actions">
                                                <mat-header-cell *matHeaderCellDef class="align-center">{{ 'APPS.ACTIONS' | translate }}</mat-header-cell>
                                                <mat-cell *matCellDef="let row" class="align-center">
                                                    <button mat-icon-button type="button" (click)="editStock(row)">
                                                        <mat-icon>mode_edit</mat-icon>
                                                    </button>
                                                </mat-cell>
                                            </ng-container>

                                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                        </mat-table>

                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="{{ 'APPS.ATTACHMENTS' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <dh2-attachments    name="attachments"
                                                    placeholder="{{ 'APPS.DRAG_FILES' | translate }}" 
                                                    [value]="object.attachments"
                                                    [form]="fg"
                                                    [families]="attachmentFamilies">
                                </dh2-attachments>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
    
</div>