<ng-container *ngIf="fg?.get(fgName)">
    <div [formGroup]="fg.get(fgName)">

        <div fxLayout="row wrap">
            <mat-form-field class="col-12 col-md-6">
                <input #inputName matInput placeholder="{{ 'MARKETABLE.SKU' | translate }}" formControlName="sku">
                <mat-error>{{ formErrors?.sku }}</mat-error>
            </mat-form-field>

            <mat-form-field class="col-12 offset-md-1 col-md-5">
                <mat-select placeholder="{{ 'MARKETABLE.PARENT_PRODUCT' | translate }}" formControlName="parent_id">
                    <mat-option>{{ 'APPS.NONE.M' | translate }}</mat-option>
                    <mat-option *ngFor="let product of products" [value]="product.id">{{ product.name }}</mat-option>
                </mat-select>
                <mat-hint align="start">{{ 'MARKETABLE.PARENT_PRODUCT_DESCRIPTION' | translate }}</mat-hint>
                <mat-error>{{ formErrors?.parent_id }}</mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="row">
            <mat-form-field class="col-12">
                <mat-select placeholder="{{ 'MARKETABLE.CATEGORIES' | translate }}" formControlName="categories_id" multiple required>
                    <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
                </mat-select>
                <mat-error>{{ formErrors?.categories_id }}</mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="row">
            <mat-form-field class="col-12">
                <mat-select placeholder="{{ 'MARKETABLE.SECTIONS' | translate }}" formControlName="sections_id" multiple>
                    <mat-option *ngFor="let section of sections" [value]="section.id">{{ section.name }}</mat-option>
                </mat-select>
                <mat-error>{{ formErrors?.sections_id }}</mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="row">
            <mat-form-field class="col-12">
                <input dh2Slug [model]="modelProductLang" matInput placeholder="{{ 'APPS.NAME' | translate }}" formControlName="name" required>
                <mat-error>{{ formErrors?.name }}</mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="row">
            <mat-form-field class="col-12">
                <input dh2Slug [model]="modelProductLang" [value]="slugValue" matInput placeholder="{{ 'APPS.SLUG' | translate }}" formControlName="slug" required>
                <mat-error>{{ formErrors?.slug }}</mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="row">
            <mat-form-field class="col-12">
                <input matInput placeholder="{{ 'MARKETABLE.PRICE' | translate }}" formControlName="price" type="number">
            </mat-form-field>
        </div>

    </div>
</ng-container>