<div class="page-layout carded fullwidth inner-scroll tabable">

    <horus-spinner [show]="showSpinner"></horus-spinner>

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="baseUri">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <mat-icon>assignment</mat-icon>
                </div>

                <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="dataRoute.action ==='edit'">
                        {{ object.object_name }}
                    </div>
                    <div class="h2" *ngIf="dataRoute.action ==='create'">
                        {{ 'APPS.NEW.F' | translate }} {{ 'REVIEW.AVERAGE' | translate }}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{ 'APPS.DETAIL' | translate }}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <div fxLayoutGap="30px">

                <button mat-raised-button
                        type="submit"
                        form="formDetail"
                        class="fuse-white mt-16 mt-sm-0"
                        [disabled]="fg.invalid || fg.pristine || loadingButton"
                        *ngIf="dataRoute.action ==='edit'">
                    {{ 'APPS.SAVE' | translate }}
                    <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>

            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form   id="formDetail"
                        class="w-100-p"
                        fxLayout="column"
                        fxFlex
                        [formGroup]="fg"
                        (ngSubmit)="postRecord(object)">

                    <mat-tab-group>

                        <mat-tab label="{{ 'REVIEW.AVERAGE' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div fxLayout="row" *ngIf="dataRoute.action === 'edit'">
                                    <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12 col-md-4">
                                        <mat-label>{{ 'APPS.ID' | translate }}</mat-label>
                                        <input matInput formControlName="id">
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12 col-md-6">
                                        <mat-label>{{ 'REVIEW.POLL' | translate }}</mat-label>
                                        <mat-select formControlName="poll_id">
                                            <mat-option *ngFor="let poll of polls" [value]="poll.id">{{ poll.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.poll_id }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12">
                                        <mat-label>{{ 'APPS.NAME' | translate }}</mat-label>
                                        <input matInput formControlName="object_name">
                                        <mat-error>{{ formErrors?.object_name }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <!-- HEADER -->
                                <div fxLayout="row" fxLayoutAlign="start center" class="my-24 header-section">
                                    <mat-icon class="m-0 mr-16">trending_up</mat-icon>
                                    <div class="h2 secondary-text">{{ 'REVIEW.AVERAGES' | translate }}</div>
                                </div>
                                <!-- / HEADER -->

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12 col-md-4">
                                        <mat-label>{{ 'NAV.REVIEWS' | translate }}</mat-label>
                                        <input matInput formControlName="reviews" type="number">
                                        <mat-hint align="start">{{ 'REVIEW.REVIEWS_DESCRIPTION' | translate }}</mat-hint>
                                    </mat-form-field>

                                    <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12 offset-md-1 col-md-4">
                                        <mat-label>{{ 'APPS.TOTAL' | translate }}</mat-label>
                                        <input matInput formControlName="total" type="number">
                                        <mat-hint align="start">{{ 'REVIEW.TOTAL_DESCRIPTION' | translate }}</mat-hint>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12 col-md-4 pt-20">
                                        <mat-label>{{ 'REVIEW.AVERAGE' | translate }}</mat-label>
                                        <input matInput formControlName="average" type="number">
                                        <mat-hint align="start">{{ 'REVIEW.AVERAGE_DESCRIPTION' | translate }}</mat-hint>
                                    </mat-form-field>

                                    <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12 offset-md-1 col-md-4 pt-20">
                                        <mat-label>{{ 'REVIEW.FAKE_AVERAGE' | translate }}</mat-label>
                                        <input matInput formControlName="fake_average" type="number">
                                        <mat-hint align="start">{{ 'REVIEW.FAKE_AVERAGE_DESCRIPTION' | translate }}</mat-hint>
                                    </mat-form-field>
                                </div>

                            </div>
                        </mat-tab>

                        <mat-tab label="{{ 'NAV.QUESTIONS' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div fxLayout="row">
                                    <div class="col-12 col-md-5">
                                        <!-- HEADER -->
                                        <div fxLayout="row" fxLayoutAlign="start center" class="my-24 header-section">
                                            <mat-icon class="m-0 mr-16">assignment_turned_in</mat-icon>
                                            <div class="h2 secondary-text">{{ 'APPS.REAL' | translate }}</div>
                                        </div>
                                        <!-- / HEADER -->
                                    </div>
                                    <div class="col-12 offset-md-1 col-md-5">
                                        <!-- HEADER -->
                                        <div fxLayout="row" fxLayoutAlign="start center" class="my-24 header-section">
                                            <mat-icon class="m-0 mr-16">assignment_late</mat-icon>
                                            <div class="h2 secondary-text">{{ 'APPS.FAKE' | translate }}</div>
                                        </div>
                                        <!-- / HEADER -->
                                    </div>
                                </div>

                                <ng-container formArrayName="question_averages">
                                    <div fxLayout="row" class="mb-12" *ngFor="let question of questions; let i=index" [formGroupName]="i">

                                        <input type="hidden" formControlName="id">
                                        <input type="hidden" formControlName="poll_id">
                                        <input type="hidden" formControlName="question_id">
                                        <input type="hidden" formControlName="object_type">
                                        <input type="hidden" formControlName="object_id">
                                        <input type="hidden" formControlName="reviews">
                                        <input type="hidden" formControlName="total">
                                        <input type="hidden" formControlName="average">

                                        <ng-container [ngSwitch]="question.type_id">
                                            <ng-container *ngSwitchCase="1">
                                                <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12 col-md-5">
                                                    <mat-label>{{ question.name }}</mat-label>
                                                    <input matInput type="number" [value]="questionAverages.at(i)?.get('average').value" disabled>
                                                    <mat-hint align="start">{{ question.description }}</mat-hint>
                                                </mat-form-field>

                                                <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12 offset-md-1 col-md-5">
                                                    <mat-label>{{ question.name }}</mat-label>
                                                    <input matInput formControlName="fake_average" type="number" [min]="0" [max]="question.high_score">
                                                    <mat-hint align="start">{{ question.description }}</mat-hint>
                                                </mat-form-field>
                                            </ng-container>
                                        </ng-container>

                                    </div>
                                </ng-container>

                            </div>
                        </mat-tab>

                    </mat-tab-group>
                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
    
</div>
