<div class="page-layout carded fullwidth inner-scroll tabable">

    <dh2-spinner [show]="showSpinner"></dh2-spinner>

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="baseUri">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <mat-icon>question_answer</mat-icon>
                </div>

                <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="dataRoute.action ==='edit' || dataRoute.action ==='create-lang'">
                        {{ object.name }}
                    </div>
                    <div class="h2" *ngIf="dataRoute.action ==='create'">
                        {{ 'APPS.NEW.M' | translate }} {{ 'REVIEW.REVIEW' | translate }}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{ 'APPS.DETAIL' | translate }}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <div fxLayoutGap="30px">

                <button mat-raised-button
                        type="submit"
                        form="formDetail"
                        class="action-btn fuse-white mt-16 mt-sm-0"
                        [disabled]="fg.pristine || loadingButton"
                        *ngIf="dataRoute.action ==='create'">
                    <span>{{ 'APPS.ADD' | translate }}</span>
                    <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>
    
                <button mat-raised-button
                        type="submit"
                        form="formDetail"
                        class="action-btn fuse-white mt-16 mt-sm-0"
                        [disabled]="fg.invalid || fg.pristine || loadingButton"
                        *ngIf="dataRoute.action ==='edit'">
                    <span>{{ 'APPS.SAVE' | translate }}</span>
                    <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>

            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card fuse-white">

            <!-- CONTENT -->
            <div class="content">
                
                <form   id="formDetail"
                        class="col-12"
                        [formGroup]="fg"
                        (ngSubmit)="postRecord(object)"
                        fxLayout="column"
                        fxFlex>

                    <mat-tab-group>

                        <mat-tab label="{{ 'REVIEW.COMMENT' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div fxLayout="row">
                                    <mat-form-field class="col-12 col-md-4">
                                        <input matInput placeholder="{{ 'APPS.ID' | translate }}" formControlName="id">
                                    </mat-form-field>

                                    <mat-form-field class="col-12 offset-md-3 col-md-5">
                                        <input matInput placeholder="{{ 'APPS.DATE' | translate }}" formControlName="date" type="datetime-local">
                                        <mat-error>{{ formErrors?.date }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row wrap">
                                    <mat-form-field class="col-12 col-md-6">
                                        <input matInput placeholder="{{ 'APPS.NAME' | translate }}" formControlName="name" required>
                                        <mat-error>{{ formErrors?.name }}</mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="col-12 offset-md-1 col-md-5">
                                        <input matInput placeholder="{{ 'APPS.EMAIL' | translate }}" formControlName="email" required>
                                        <mat-error>{{ formErrors?.email }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col-12">
                                        <textarea   matInput 
                                                    placeholder="{{ 'REVIEW.COMMENT' | translate }}" 
                                                    matTextareaAutosize 
                                                    matAutosizeMinRows="2" 
                                                    formControlName="comment"></textarea>
                                        <mat-error>{{ formErrors?.comment }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <div class="col-6 py-20">
                                        <mat-checkbox formControlName="validated">{{ 'REVIEW.VALIDATED.M' | translate }}</mat-checkbox>
                                    </div>
                                </div>

                                <!-- HEADER -->
                                <div fxLayout="row" fxLayoutAlign="start center" class="my-24 header-section">
                                    <mat-icon class="m-0 mr-16">flash_on</mat-icon>
                                    <div class="h2 secondary-text">{{ 'NAV.ACTIONS' | translate }}</div>
                                </div>
                                <!-- / HEADER -->

                                <div fxLayout="row">
                                    <mat-form-field class="col-12 col-md-6">
                                        <mat-select placeholder="{{ 'REVIEW.ACTIONS' | translate }}" formControlName="action_id">
                                            <mat-option>{{ 'APPS.NONE.F' | translate }}</mat-option>
                                            <mat-option value="1">{{ 'REVIEW.ACTION_COMMENT_1' | translate }}</mat-option>
                                            <mat-option value="2">{{ 'REVIEW.ACTION_COMMENT_2' | translate }}</mat-option>
                                            <mat-option value="3">{{ 'REVIEW.ACTION_COMMENT_3' | translate }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.action_id }}</mat-error>
                                    </mat-form-field>
                                </div>
    
                            </div>
                        </mat-tab>
                        <mat-tab label="{{ 'REVIEW.CONVERSATION' | translate | uppercase }}">
                            
                            <!-- CHAT CONTENT -->
                            <div id="chat-content" fxFlex fusePerfectScrollbar>

                                <!-- CHAT MESSAGES -->
                                <div class="chat-messages" *ngIf="object.review">

                                    <!-- MESSAGE -->
                                    <div fxLayout="row" *ngFor="let comment of object.review.comments" class="message-row" [ngClass]="{'user': comment.owner_type_id === 2}">

                                        <div class="bubble">
                                            <div class="message">{{ comment.comment }}</div>
                                            <div class="time secondary-text">{{ comment.date | date:'medium' }}</div>
                                        </div>

                                    </div>
                                    <!-- / MESSAGE -->

                                </div>
                                <!-- CHAT MESSAGES -->

                            </div>
                            <!-- / CHAT CONTENT -->

                        </mat-tab>
                        <mat-tab label="{{ 'NAV.QUESTIONS' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                
                                <ng-container formArrayName="responses">

                                    <div fxLayout="row" class="mb-12" *ngFor="let question of questions; let i=index" [formGroupName]="i">
                                        <input type="hidden" formControlName="id">
                                        <input type="hidden" formControlName="question_id">

                                        <ng-container [ngSwitch]="question.type_id">

                                            <ng-container *ngSwitchCase="1">
                                                <mat-form-field class="col-12 col-md-6">
                                                    <mat-select placeholder="{{ question.name }}" formControlName="score">
                                                        <mat-option *ngFor="let number of question.high_score | numbersArray" [value]="number">{{ number }}</mat-option>
                                                    </mat-select>
                                                    <mat-hint align="start">{{ question.description }}</mat-hint>
                                                </mat-form-field>
                                            </ng-container>

                                            <ng-container *ngSwitchCase="2">
                                                <mat-form-field class="col-12">
                                                    <textarea   matInput 
                                                                placeholder="{{ question.name }}" 
                                                                matTextareaAutosize 
                                                                matAutosizeMinRows="2"
                                                                formControlName="text"></textarea>
                                                    <mat-hint align="start">{{ question.description }}</mat-hint>
                                                </mat-form-field>
                                            </ng-container>

                                        </ng-container>
                                    </div>

                                </ng-container>

                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
    
</div>