<div class="container-fluid form-group">
    <h1>Cart Price Rule</h1>

    <form [formGroup]="fg" (ngSubmit)="postRecord(object)" novalidate>

        <input type="hidden" formControlName="lang_id">

        <div class="row">
            <ps-input   [form]="fg"
                        [errors]="formErrors" 
                        label="ID."
                        type="text"
                        name="id" class="col-sm-6 col-md-3"></ps-input>

            <ps-lang-label  [lang]="lang" class="offset-md-1 col-sm-6 col-md-3"></ps-lang-label>
        </div>

        <div class="row">
            <ps-input   [form]="fg"
                        [errors]="formErrors"
                        label="Name"
                        type="text"
                        name="name" 
                        class="col-12"></ps-input>
        </div>

        <div class="row">
            <ps-editor  [form]="fg" 
                        class="col-12"
                        name="description"
                        placeholder="Enter a description"
                        [heightMin]="200"></ps-editor>
        </div>

        <div class="row">
            <ps-checkbox    [form]="fg"
                            name="active"
                            label="Active" 
                            class="col-3"></ps-checkbox>
        </div>

        <div class="row" >
            <ps-multi-select    [form]="fg"
                                [errors]="formErrors"
                                label="Select groups"
                                [options]="groups"
                                name="group_ids"
                                class="col-12">
            </ps-multi-select>
        </div>

        <div class="row">
            <ps-checkbox    [form]="fg"
                            name="combinable"
                            label="Combinable" 
                            class="col-3"></ps-checkbox>
        </div>

        <div class="row">
            <ps-spinner     [form]="fg" 
                            [errors]="formErrors"
                            label="Priority"
                            [min]="0"
                            name="priority" 
                            class="col-sm-12 col-md-4"></ps-spinner>
        </div>

        <div class="row">
            <ps-checkbox    [form]="fg"
                            name="has_coupon"
                            label="Has coupon" 
                            class="col-3"></ps-checkbox>
        </div>

        <div class="row">
            <ps-input   [form]="fg"
                        [errors]="formErrors"
                        label="Coupon code"
                        type="text"
                        name="coupon_code" 
                        class="col-sm-12 col-md-6"></ps-input>
        </div>

        <div class="row">
            <ps-spinner     [form]="fg" 
                            [errors]="formErrors"
                            label="Total uses"
                            [min]="0"
                            name="total_uses" 
                            class="col-sm-12 col-md-5"></ps-spinner>
        </div>

        <div class="row">
            <ps-spinner     [form]="fg" 
                            [errors]="formErrors"
                            label="Coupon uses"
                            [min]="0"
                            name="coupon_uses" 
                            class="col-sm-12 col-md-5"></ps-spinner>

            <ps-spinner     [form]="fg" 
                            [errors]="formErrors"
                            label="Customer uses"
                            [min]="0"
                            name="customer_uses" 
                            class="col-sm-12 offset-md-2 col-md-5"></ps-spinner>
        </div>

        <div class="row">
            <ps-calendar    [form]="fg" 
                            [errors]="formErrors"
                            [showTime]="true"
                            [showIcon]="true"
                            dateFormat="dd/mm/yy"
                            label="Enable from"
                            name="enable_from" 
                            class="col-sm-12 col-md-5"></ps-calendar>

            <ps-calendar    [form]="fg" 
                            [errors]="formErrors"
                            [showTime]="true"
                            [showIcon]="true"
                            dateFormat="dd/mm/yy"
                            label="Enable to"
                            name="enable_to" 
                            class="col-sm-12 offset-md-2 col-md-5"></ps-calendar>
        </div>

        <div class="row">
            <ps-dropdown    [form]="fg"
                            [errors]="formErrors"
                            [autoWidth]="false"
                            [filter]="true"
                            [options]="discountTypes"
                            name="discount_type_id"
                            class="col-sm-12 col-md-5">
            </ps-dropdown>
        </div>

        <div class="row">
            <ps-spinner     [form]="fg" 
                            [errors]="formErrors"
                            label="Discount fixed amount"
                            [min]="0"
                            name="discount_fixed_amount" 
                            class="col-sm-12 col-md-5"></ps-spinner>

            <ps-spinner     [form]="fg" 
                            [errors]="formErrors"
                            label="Discount percentage"
                            [min]="0"
                            [max]="100"
                            name="discount_percentage" 
                            class="col-sm-12 offset-md-2 col-md-5"></ps-spinner>
        </div>

        <div class="row">
            <ps-spinner     [form]="fg" 
                            [errors]="formErrors"
                            label="Maximum discount amount"
                            [min]="0"
                            name="maximum_discount_amount" 
                            class="col-sm-12 col-md-5"></ps-spinner>
        </div>

        <div class="row">
            <ps-checkbox    [form]="fg"
                            name="apply_shipping_amount"
                            label="Apply shipping amount" 
                            class="col-3"></ps-checkbox>
        </div>

        <div class="row">
            <ps-checkbox    [form]="fg"
                            name="free_shipping"
                            label="Free shipping" 
                            class="col-3"></ps-checkbox>
        </div>

        <!-- buttons -->
        <div class="row justify-content-sm-center justify-content-md-start action-buttons">
            <ps-button  type="submit" 
                        icon="fa-check" 
                        label="Save" 
                        class="col-sm-10 col-md-3"></ps-button>

            <ps-button  type="button" 
                        icon="ui-icon-clear" 
                        label="Cancel" 
                        [routerLink]="[baseUri]"
                        class="col-sm-10 col-md-3"></ps-button>

            <ps-button  type="button" 
                        icon="ui-icon-clear" 
                        *ngIf="dataRoute.action === 'edit'"
                        label="Delete translation" 
                        (click)="deleteRecord(object, {lang_id: lang.id}, undefined)" 
                        className="red-btn"
                        class="col-sm-10 col-md-3"></ps-button>
        </div>
    </form>
</div>