<div class="page-layout carded fullwidth inner-scroll">

    <horus-spinner [show]="showSpinner"></horus-spinner>

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="baseUri">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <mat-icon>how_to_reg</mat-icon>
                </div>

                <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="dataRoute.action ==='edit'">
                        {{ object.name }}
                    </div>
                    <div class="h2" *ngIf="dataRoute.action ==='create'">
                        {{ 'APPS.NEW.M' | translate }} {{ 'ADMIN.USER' | translate }}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{ 'APPS.DETAIL' | translate }}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    type="submit"
                    form="formDetail"
                    class="mt-16 mt-sm-0"
                    [disabled]="fg.pristine || loadingButton"
                    *ngIf="dataRoute.action ==='create'">
                {{ 'APPS.ADD' | translate }}
                <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
            </button>

            <button mat-raised-button
                    type="submit"
                    form="formDetail"
                    class="mt-16 mt-sm-0"
                    [disabled]="fg.invalid || fg.pristine || loadingButton"
                    *ngIf="dataRoute.action ==='edit'">
                {{ 'APPS.SAVE' | translate }}
                <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card p-24">

            <!-- CONTENT -->
            <div class="content">

                <form   id="formDetail"
                        [formGroup]="fg"
                        (ngSubmit)="postRecord(object)">

                    <div fxLayout="row" *ngIf="dataRoute.action === 'edit'">
                        <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12 col-md-4">
                            <mat-label>{{ 'APPS.ID' | translate }}</mat-label>
                            <input matInput formControlName="id">
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12 col-md-5">
                            <mat-label>{{ 'APPS.NAME' | translate }}</mat-label>
                            <input matInput formControlName="name" required>
                            <mat-error>{{ formErrors?.name }}</mat-error>
                        </mat-form-field>
                        <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12 offset-md-1 col-md-6">
                            <mat-label>{{ 'APPS.SURNAME' | translate }}</mat-label>
                            <input matInput formControlName="surname">
                            <mat-error>{{ formErrors?.surname }}</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12 col-md-6">
                            <mat-label>{{ 'APPS.EMAIL' | translate }}</mat-label>
                            <input matInput formControlName="email" required>
                            <mat-error>{{ formErrors?.email }}</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12 col-md-6">
                            <mat-label>{{ 'ADMIN.LANGUAGE' | translate }}</mat-label>
                            <mat-select formControlName="lang_id" required>
                                <mat-option *ngFor="let lang of langsAux" [value]="lang.id">{{ lang.name }}</mat-option>
                            </mat-select>
                            <mat-error>{{ formErrors?.lang_id }}</mat-error>
                        </mat-form-field>
                    </div>

                    <!-- HEADER -->
                    <div fxLayout="row" fxLayoutAlign="start center" class="my-24 header-section">
                        <mat-icon class="m-0 mr-16">how_to_reg</mat-icon>
                        <div class="h2 secondary-text">{{ 'APPS.DATA_ACCESS' | translate }}</div>
                    </div>
                    <!-- / HEADER -->

                    <div fxLayout="row">
                        <div class="col-12 col-md-6 py-20">
                            <mat-checkbox formControlName="active">{{ 'APPS.ACTIVE.M' | translate }}</mat-checkbox>
                        </div>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12 col-md-6">
                            <mat-label>{{ 'APPS.PROFILE' | translate }}</mat-label>
                            <mat-select formControlName="profile_id" required>
                                <mat-option *ngFor="let profile of profiles" [value]="profile.id">{{ profile.name }}</mat-option>
                            </mat-select>
                            <mat-error>{{ formErrors?.profile_id }}</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12 col-md-6">
                            <mat-label>{{ 'APPS.USER' | translate }}</mat-label>
                            <input matInput formControlName="user" required>
                            <mat-error>{{ formErrors?.user }}</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12 col-md-6">
                            <mat-label>{{ 'APPS.PASSWORD' | translate }}</mat-label>
                            <mat-icon matSuffix matTooltip="{{ 'APPS.SHOW_PASSWORD' | translate }}" class="pointer" (mousedown)="inputType = 'text'" (mouseup)="inputType = 'password'" (mouseleave)="inputType = 'password'">remove_red_eye</mat-icon>
                            <mat-icon matSuffix matTooltip="{{ 'APPS.GENERATE_PASSWORD' | translate }}" class="pointer ml-12" (click)="generatePassword()">cached</mat-icon>
                            <input matInput formControlName="password" [type]="inputType" [required]="dataRoute.action === 'create'" autocomplete="new-password">
                            <mat-hint align="end" aria-live="polite">{{ fg.controls['password'].value?.length }}</mat-hint>
                            <mat-error>{{ formErrors?.password }}</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <mat-password-strength class="col-12 col-md-6 mb-12" [password]="fg.controls['password'].value"></mat-password-strength>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12 col-md-6">
                            <mat-label>{{ 'APPS.REPEAT_PASSWORD' | translate }}</mat-label>
                            <input matInput formControlName="repeat_password" type="password" [required]="dataRoute.action === 'create'" autocomplete="new-password">
                            <mat-hint align="end" aria-live="polite">{{ fg.controls['repeat_password'].value?.length }}</mat-hint>
                            <mat-error>{{ formErrors?.repeat_password }}</mat-error>
                        </mat-form-field>
                    </div>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
    
</div>
