<div class="page-layout carded fullwidth inner-scroll">

    <dh2-spinner [show]="showSpinner"></dh2-spinner>

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="baseUri">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <mat-icon>power</mat-icon>
                </div>

                <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="dataRoute.action ==='edit'">
                        {{ object.name }}
                    </div>
                    <div class="h2" *ngIf="dataRoute.action ==='create'">
                        {{ 'APPS.NEW.F' | translate }} {{ 'CMS.SECTION' | translate }}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{ 'APPS.DETAIL' | translate }}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <div fxLayoutGap="30px">
                <button mat-raised-button
                        type="submit"
                        form="formDetail"
                        class="mat-white-bg mt-16 mt-sm-0"
                        [disabled]="fg.pristine || loadingButton"
                        *ngIf="dataRoute.action ==='create'">
                    {{ 'APPS.ADD' | translate }}
                    <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>

                <button mat-raised-button
                        type="submit"
                        form="formDetail"
                        class="mat-white-bg mt-16 mt-sm-0"
                        [disabled]="fg.invalid || fg.pristine || loadingButton"
                        *ngIf="dataRoute.action ==='edit'">
                    {{ 'APPS.SAVE' | translate }}
                    <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg p-24">

            <!-- CONTENT -->
            <div class="content">
                <div fxFlex fxLayout="column">
                    <form   id="formDetail"
                            [formGroup]="fg"
                            (ngSubmit)="postRecord(object)">

                    <input type="hidden" formControlName="ix">    

                    <div fxLayout="row">
                        <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-4">
                            <mat-label>{{ 'APPS.ID' | translate }}</mat-label>
                            <input matInput formControlName="id" required>
                            <mat-error>{{ formErrors?.id }}</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12">
                            <mat-label>{{ 'APPS.NAME' | translate }}</mat-label>
                            <input matInput formControlName="name" required>
                            <mat-error>{{ formErrors?.name }}</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-6">
                            <mat-label>{{ 'CMS.FAMILY' | translate }}</mat-label>
                            <mat-select formControlName="family_id">
                                <mat-option>{{ 'APPS.NONE.F' | translate }}</mat-option>
                                <mat-option *ngFor="let family of families" [value]="family.id">{{ family.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-6">
                            <mat-label>{{ 'NAV.ATTACHMENT_FAMILIES' | translate }}</mat-label>
                            <mat-select formControlName="attachment_families" multiple>
                                <mat-option *ngFor="let attachmentFamily of attachmentFamilies" [value]="attachmentFamily.id">{{ attachmentFamily.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </form>
                </div>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
    
</div>