<ps-datatable-header title="Fields {{ objects.length }} de {{ filteredRecords }} - filtrados de {{ totalRecords }}" [createLink]="baseUri + '/create'"></ps-datatable-header>
<ps-datatable-search [dataTable]="dataTableObjects" label="Search"></ps-datatable-search>

<p-dataTable    [value]="objects" [responsive]="true" #dataTableObjects
                [lazy]="true" [rows]="10" [paginator]="true" [totalRecords]="totalRecords" 
                (onLazyLoad)="getRecords($event)">

    <p-column field="id" sortField="field.id" header="#" [sortable]="true"></p-column>
    <p-column field="name" sortField="field.name" header="Name" [sortable]="true"></p-column>
    <p-column field="field_group_name" sortField="field_group.name" header="Group" [sortable]="true"></p-column>
    <p-column styleClass="col-button center">
        <ng-template pTemplate="header">
            @
        </ng-template>
        <ng-template let-object="rowData" pTemplate="body">
            <div class="dropdown">
                <button pButton type="button" icon="ui-icon-translate" class="datatable-actions dropdown-toggle {{ object | checkLangsObject:langs }}-btn" 
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuData">
                    <div *ngFor="let lang of langs">
                        <a  *ngIf="(object | actionLangObject:lang) === 'edit'" 
                            [routerLink]="[baseUri + '/show', object.id, lang.id]"
                            class="dropdown-item"><span class="flag-icon flag-icon-{{ lang.icon }}"></span> Edit</a>
                            
                        <a  *ngIf="(object | actionLangObject:lang) === 'create'" 
                            [routerLink]="[baseUri + '/create', object.id, lang.id]"
                            class="dropdown-item"><span class="flag-icon flag-icon-{{ lang.icon }}"></span> Create</a>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-column>
    <p-column styleClass="col-button center">
        <ng-template pTemplate="header">
            @
        </ng-template>
        <ng-template let-object="rowData" pTemplate="body">
            <div class="dropdown">
                <button pButton type="button" icon="ui-icon-more-vert" class="datatable-actions dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu datatable-dropdown-actions" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" [routerLink]="['/' + appPrefix + '/admin/field-value', object.id]"><i class="material-icons">dehaze</i> Values</a>
                    <a class="dropdown-item" [routerLink]="[baseUri + '/show', object.id, baseLang]" style="line-height: 20px"><i class="material-icons">edit</i> Edit</a>
                    <a class="dropdown-item pointer" (click)="deleteRecord(f, object)"><i class="material-icons">delete</i> Delete</a>
                </div>
            </div>
        </ng-template>
    </p-column>
</p-dataTable>
