<div class="page-layout carded fullwidth inner-scroll">

    <horus-spinner [show]="showSpinner"></horus-spinner>

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="baseUri">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <mat-icon>public</mat-icon>
                </div>

                <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="dataRoute.action ==='edit' || dataRoute.action ==='create-lang'">
                        {{ object.name }}
                    </div>
                    <div class="h2" *ngIf="dataRoute.action ==='create'">
                        {{ 'APPS.NEW.M' | translate }} {{ 'APPS.COUNTRY' | translate }}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{ 'APPS.DETAIL' | translate }}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <div fxLayoutGap="30px">
                <button mat-raised-button
                        type="submit"
                        form="formDetail"
                        class="fuse-white mt-16 mt-sm-0"
                        [disabled]="fg.pristine || loadingButton"
                        *ngIf="dataRoute.action ==='create'">
                    {{ 'APPS.ADD' | translate }}
                    <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>

                <button mat-raised-button
                        type="submit"
                        form="formDetail"
                        class="fuse-white mt-16 mt-sm-0"
                        [disabled]="fg.invalid || loadingButton"
                        *ngIf="dataRoute.action ==='create-lang'">
                    {{ 'APPS.TRANSLATE' | translate }}
                    <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>
    
                <button mat-raised-button
                        type="submit"
                        form="formDetail"
                        class="fuse-white mt-16 mt-sm-0"
                        [disabled]="fg.invalid || fg.pristine || loadingButton"
                        *ngIf="dataRoute.action ==='edit'">
                    {{ 'APPS.SAVE' | translate }}
                    <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>

                <button mat-raised-button
                        class="mat-red-400-bg primary-text mt-16 mt-sm-0"
                        [disabled]="loadingTranslationButton"
                        *ngIf="dataRoute.action ==='edit' && lang.id !== baseLang" 
                        (click)="deleteRecord(object)">
                    <span *ngIf="lang.id !== baseLang">{{ 'APPS.DELETE_TRANSLATION' | translate }}</span>
                    <mat-spinner *ngIf="loadingTranslationButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card fuse-white p-24">

            <!-- CONTENT -->
            <div class="content">

                <form   id="formDetail"
                        [formGroup]="fg"
                        (ngSubmit)="postRecord(object)">

                    <input type="hidden" formControlName="ix">

                    <div fxLayout="row wrap">
                        <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12 col-md-4">
                            <mat-label>{{ 'APPS.ID' | translate }}</mat-label>
                            <input matInput formControlName="id" required>
                            <mat-error>{{ formErrors?.id }}</mat-error>
                        </mat-form-field>
                        <dh2-flag-icon class="col-12 offset-md-1 col-md-4" [lang]="lang" size="22px" [rounded]="true" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'25px'}}"></dh2-flag-icon>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12">
                            <mat-label>{{ 'APPS.NAME' | translate }}</mat-label>
                            <input dh2Slug [model]="graphQL.model" [object]="object" (checkingSlug)="handleCheckingSlug($event)" matInput formControlName="name" required>
                            <mat-error>{{ formErrors?.name }}</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12">
                            <mat-label>{{ 'APPS.SLUG' | translate }}</mat-label>
                            <mat-spinner *ngIf="loadingSlug" matPrefix mode="indeterminate" diameter="17" class="mr-10"></mat-spinner>
                            <input dh2Slug [model]="graphQL.model" [object]="object" (checkingSlug)="handleCheckingSlug($event)" matInput formControlName="slug" required>
                            <mat-error>{{ formErrors?.slug }}</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row wrap" fxLayoutGap="25px">
                        <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-md-4">
                            <mat-label>{{ 'APPS.PREFIX' | translate }}</mat-label>
                            <span matPrefix><mat-icon>add</mat-icon> &nbsp;</span>
                            <input matInput formControlName="prefix" type="number">
                            <mat-error>{{ formErrors?.prefix }}</mat-error>
                        </mat-form-field>
                        <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-md-4">
                            <mat-label>{{ 'APPS.SORT' | translate }}</mat-label>
                            <input matInput formControlName="sort" type="number">
                            <mat-error>{{ formErrors?.sort }}</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12">
                            <mat-label>{{ 'ADMIN.TERRITORIAL_AREA_1' | translate }}</mat-label>
                            <input matInput formControlName="territorial_area_1">
                            <mat-error>{{ formErrors?.territorial_area_1 }}</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12">
                            <mat-label>{{ 'ADMIN.TERRITORIAL_AREA_2' | translate }}</mat-label>
                            <input matInput formControlName="territorial_area_2">
                            <mat-error>{{ formErrors?.territorial_area_2 }}</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12">
                            <mat-label>{{ 'ADMIN.TERRITORIAL_AREA_3' | translate }}</mat-label>
                            <input matInput formControlName="territorial_area_3">
                            <mat-error>{{ formErrors?.territorial_area_3 }}</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12 col-md-6">
                            <mat-label>{{ 'ADMIN.ZONES' | translate }}</mat-label>
                            <mat-select formControlName="zones" multiple>
                                <mat-option *ngFor="let zone of zones" [value]="zone.id">{{ zone.name }}</mat-option>
                                <mat-error>{{ formErrors?.zones }}</mat-error>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!-- HEADER -->
                    <div fxLayout="row" fxLayoutAlign="start center" class="my-24 header-section">
                        <mat-icon class="m-0 mr-16">person_pin_circle</mat-icon>
                        <div class="h2 secondary-text">{{ 'APPS.GEOLOCATION' | translate }}</div>
                    </div>
                    <!-- / HEADER -->

                    <div fxLayout="row wrap">
                        <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12 col-md-5">
                            <mat-label>{{ 'APPS.LATITUDE' | translate }}</mat-label>
                            <input matInput formControlName="latitude" type="number">
                            <mat-error>{{ formErrors?.latitude }}</mat-error>
                        </mat-form-field>

                        <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12 offset-md-2 col-md-5">
                            <mat-label>{{ 'APPS.LONGITUDE' | translate }}</mat-label>
                            <input matInput formControlName="longitude" type="number">
                            <mat-error>{{ formErrors?.longitude }}</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-5 col-md-2">
                            <mat-label>{{ 'APPS.ZOOM' | translate }}</mat-label>
                            <mat-select formControlName="zoom">
                                <mat-option *ngFor="let zoom of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]" [value]="zoom">{{ zoom }}</mat-option>
                                <mat-error>{{ formErrors?.zoom }}</mat-error>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
    
</div>
