// http://mcg.mbitson.com
$mat-techedege-green: (
        50 : #e2f3e6,
        100 : #b7e1c1,
        200 : #87ce98,
        300 : #57ba6e,
        400 : #33ab4f,
        500 : #0f9c30,
        600 : #0d942b,
        700 : #0b8a24,
        800 : #08801e,
        900 : #046e13,
        A100 : #9dffa6,
        A200 : #6aff78,
        A400 : #37ff4a,
        A700 : #1eff33,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$mat-techedege-blue: (
        50 : #e2eeee,
        100 : #b8d5d5,
        200 : #88bab9,
        300 : #589e9d,
        400 : #358988,
        500 : #117473,
        600 : #0f6c6b,
        700 : #0c6160,
        800 : #0a5756,
        900 : #054443,
        A100 : #7afffc,
        A200 : #47fffb,
        A400 : #14fffa,
        A700 : #00f9f4,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);


