// http://mcg.mbitson.com
$mat-techedege-green: (
        50 : #e0f5e3,
        100 : #b3e5b9,
        200 : #80d48b,
        300 : #4dc25c,
        400 : #26b539,
        500 : #00a816,
        600 : #00a013,
        700 : #009710,
        800 : #008d0c,
        900 : #007d06,
        A100 : #aaffab,
        A200 : #77ff78,
        A400 : #44ff46,
        A700 : #2aff2d,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$mat-techedege-blue: (
        50 : #e0e9f0,
        100 : #b3c8da,
        200 : #80a3c2,
        300 : #4d7ea9,
        400 : #266296,
        500 : #004684,
        600 : #003f7c,
        700 : #003771,
        800 : #002f67,
        900 : #002054,
        A100 : #86a8ff,
        A200 : #5383ff,
        A400 : #205fff,
        A700 : #074cff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #ffffff,
                A700 : #ffffff,
        )
);
