<div class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="baseUri">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="product-image mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <mat-icon>local_grocery_store</mat-icon>
                </div>

                <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="dataRoute.action ==='edit' || dataRoute.action ==='create-lang'">
                        {{ name }}
                    </div>
                    <div class="h2" *ngIf="dataRoute.action ==='create'">
                        {{ 'APPS.NEW.M' | translate }} {{ 'MARKET.CART_PRICE_RULE' | translate }}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{ 'APPS.DETAIL' | translate }}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <div fxLayoutGap="30px">
                <button mat-raised-button
                        type="submit"
                        form="formDetail"
                        class="action-btn mat-white-bg mt-16 mt-sm-0"
                        [disabled]="fg.pristine || loadingButton"
                        *ngIf="dataRoute.action ==='create'">
                    <span>{{ 'APPS.ADD' | translate }}</span>
                    <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>

                <button mat-raised-button
                        type="submit"
                        form="formDetail"
                        class="action-btn mat-white-bg mt-16 mt-sm-0"
                        [disabled]="fg.invalid || loadingButton"
                        *ngIf="dataRoute.action ==='create-lang'">
                    <span>{{ 'APPS.TRANSLATE' | translate }}</span>
                    <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>
    
                <button mat-raised-button
                        type="submit"
                        form="formDetail"
                        class="action-btn mat-white-bg mt-16 mt-sm-0"
                        [disabled]="fg.invalid || fg.pristine || loadingButton"
                        *ngIf="dataRoute.action ==='edit'">
                    <span>{{ 'APPS.SAVE' | translate }}</span>
                    <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>

                <button mat-raised-button
                        class="action-btn mat-red-400-bg primary-text mt-16 mt-sm-0"
                        [disabled]="loadingTranslationButton"
                        *ngIf="dataRoute.action ==='edit' && lang.id !== baseLang" 
                        (click)="deleteRecord(object, {lang_id: lang.id})">
                    <span *ngIf="lang.id !== baseLang">{{ 'APPS.DELETE_TRANSLATION' | translate }}</span>
                    <mat-spinner *ngIf="loadingTranslationButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg p-24">

            <!-- CONTENT -->
            <div class="content px-3">
                <div fxFlex fxLayout="column">
                    <form   id="formDetail"
                            [formGroup]="fg"
                            (ngSubmit)="postRecord(object)">
                    
                        <div fxLayout="row wrap">
                            <mat-form-field class="col-12 col-md-4">
                                <input matInput placeholder="{{ 'APPS.ID' | translate }}" formControlName="id">
                            </mat-form-field>
                            <dh2-flag-icon class="col-12 offset-md-1 col-md-4" [lang]="lang" width="30px" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'25px'}}"></dh2-flag-icon>
                        </div>

                        <div fxLayout="row">
                            <mat-form-field class="col-12">
                                <input matInput placeholder="{{ 'APPS.NAME' | translate }}" formControlName="name" required>
                                <mat-error>{{ formErrors?.name }}</mat-error>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row">
                            <div class="col-12">
                                <dh2-froala formControlName="description"
                                            placeholder="{{ 'APPS.DESCRIPTION' | translate }}"
                                            [heightMin]="100"></dh2-froala>
                                <mat-error>{{ formErrors?.description }}</mat-error>
                            </div>
                        </div>

                        <div fxLayout="row wrap">
                            <div class="col-12 col-md-6 py-20">
                                <mat-checkbox formControlName="active">{{ 'APPS.ACTIVE.F' | translate }}</mat-checkbox>
                            </div>
                            <div class="col-12 col-md-6 py-20">
                                <mat-checkbox formControlName="combinable">{{ 'MARKET.COMBINABLE' | translate }}</mat-checkbox>
                            </div>
                        </div>

                        <div fxLayout="row">
                            <mat-form-field class="col-12">
                                <mat-select placeholder="{{ 'NAV.CUSTOMER_GROUPS' | translate }}" formControlName="customer_group_ids" multiple>
                                    <mat-option *ngFor="let customerGroup of customerGroups" [value]="customerGroup.id">{{ customerGroup.name }}</mat-option>
                                </mat-select>
                                <mat-error>{{ formErrors?.customer_group_ids }}</mat-error>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row">
                            <mat-form-field class="col-12 col-md-4">
                                <input matInput placeholder="{{ 'MARKET.PRIORITY' | translate }}" formControlName="priority" type="number">
                                <mat-error>{{ formErrors?.priority }}</mat-error>
                            </mat-form-field>
                        </div>

                        <!-- HEADER -->
                        <div fxLayout="row" fxLayoutAlign="start center" class="my-24 header-section">
                            <mat-icon class="m-0 mr-16">event</mat-icon>
                            <div class="h2 secondary-text">{{ 'MARKET.SCHEDULE' | translate }}</div>
                        </div>
                        <!-- / HEADER -->

                        <div fxLayout="row wrap" class="justify-content-between">
                            <mat-form-field class="col-12 col-md-5">
                                <input matInput placeholder="{{ 'MARKET.ENABLE_FROM' | translate }}" formControlName="enable_from" type="datetime-local">
                                <mat-error>{{ formErrors?.enable_from }}</mat-error>
                            </mat-form-field>

                            <mat-form-field class="col-12 col-md-5">
                                <input matInput placeholder="{{ 'MARKET.ENABLE_TO' | translate }}" formControlName="enable_to" type="datetime-local">
                                <mat-error>{{ formErrors?.enable_to }}</mat-error>
                            </mat-form-field>
                        </div>

                        <!-- HEADER -->
                        <div fxLayout="row" fxLayoutAlign="start center" class="my-24 header-section">
                            <mat-icon class="m-0 mr-16">confirmation_number</mat-icon>
                            <div class="h2 secondary-text">{{ 'MARKET.COUPON' | translate }}</div>
                        </div>
                        <!-- / HEADER -->

                        <div fxLayout="row">
                            <div class="col-12 col-md-6 py-20">
                                <mat-checkbox formControlName="has_coupon">{{ 'MARKET.HAS_COUPON' | translate }}</mat-checkbox>
                            </div>
                        </div>

                        <div *ngIf="fg.controls['has_coupon'].value">
                            <div fxLayout="row">
                                <mat-form-field class="col-12 col-md-4">
                                    <input matInput placeholder="{{ 'MARKET.COUPON' | translate }}" formControlName="coupon_code">
                                    <mat-error>{{ formErrors?.coupon_code }}</mat-error>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row wrap">
                                <mat-form-field class="col-12 col-md-4">
                                    <input matInput placeholder="{{ 'MARKET.COUPON_USES' | translate }}" formControlName="coupon_uses" type="number">
                                    <mat-hint align="start">{{ 'MARKET.COUPON_USES_DESCRIPTION' | translate }}</mat-hint>
                                    <mat-error>{{ formErrors?.coupon_uses }}</mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-12 offset-md-1 col-md-4">
                                    <input matInput placeholder="{{ 'MARKET.CUSTOMER_USES' | translate }}" formControlName="customer_uses" type="number">
                                    <mat-hint align="start">{{ 'MARKET.CUSTOMER_USES_DESCRIPTION' | translate }}</mat-hint>
                                    <mat-error>{{ formErrors?.customer_uses }}</mat-error>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row wrap">
                                <mat-form-field class="col-12 col-md-4 mt-12">
                                    <input matInput placeholder="{{ 'MARKET.TOTAL_USES' | translate }}" formControlName="total_uses" type="number">
                                </mat-form-field>
                            </div>
                        </div>

                        <!-- HEADER -->
                        <div fxLayout="row" fxLayoutAlign="start center" class="my-24 header-section">
                            <mat-icon class="m-0 mr-16">money_off</mat-icon>
                            <div class="h2 secondary-text">{{ 'MARKET.DISCOUNTS' | translate }}</div>
                        </div>
                        <!-- / HEADER -->

                        <div fxLayout="row">
                            <mat-form-field class="col-12">
                                <mat-select placeholder="{{ 'MARKET.DISCOUNT_TYPES' | translate }}" formControlName="discount_type_id" (change)="handleDiscountType($event)">
                                    <mat-option *ngFor="let discountType of discountTypes" [value]="+discountType.id">{{ discountType.name }}</mat-option>
                                </mat-select>
                                <mat-error>{{ formErrors?.discount_type_id }}</mat-error>
                            </mat-form-field>
                        </div>

                        <div *ngIf="percentageDiscount">
                            <div fxLayout="row wrap">
                                <mat-form-field class="col-12 col-md-4">
                                    <span matSuffix>%</span>
                                    <input matInput placeholder="{{ 'MARKET.DISCOUNT_PERCENTAGE' | translate }}" formControlName="discount_percentage" type="number">
                                    <mat-error>{{ formErrors?.discount_percentage }}</mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-12 offset-md-1 col-md-4">
                                    <span matSuffix>€</span>
                                    <input matInput placeholder="{{ 'MARKET.MAXIMUN_DISCOUNT_AMOUNT' | translate }}" formControlName="maximum_discount_amount" type="number">
                                    <mat-error>{{ formErrors?.maximum_discount_amount }}</mat-error>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row">
                                <div class="col-12 py-20">
                                    <mat-checkbox formControlName="apply_shipping_amount">{{ 'MARKET.APPLY_SHIPPING_AMOUNT' | translate }}</mat-checkbox>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="amountDiscount">
                            <div fxLayout="row">
                                <mat-form-field class="col-12 col-md-4">
                                    <span matSuffix>€</span>
                                    <input matInput placeholder="{{ 'MARKET.DISCOUNT_FIXED_AMOUNT' | translate }}" formControlName="discount_fixed_amount" type="number">
                                    <mat-error>{{ formErrors?.discount_fixed_amount }}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <!-- HEADER -->
                        <div fxLayout="row" fxLayoutAlign="start center" class="my-24 header-section">
                            <mat-icon class="m-0 mr-16">local_shipping</mat-icon>
                            <div class="h2 secondary-text">{{ 'MARKET.SHIPPING' | translate }}</div>
                        </div>
                        <!-- / HEADER -->

                        <div fxLayout="row">
                            <div class="col-12 py-20">
                                <mat-checkbox formControlName="free_shipping">{{ 'MARKET.FREE_SHIPPING' | translate }}</mat-checkbox>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
    
</div>