<div #attachmentLibrary id="attachment-library" [formGroup]="form">
    <div #attachmentLibraryMask id="attachment-library-mask">
        {{ placeholder }}
    </div>
    <div id="library-sortable" dragula="bag-one" [(dragulaModel)]="this.attachments.controls">
            <!-- attachment item -->
            <dh2-attachment-item *ngFor="let attachment of this.attachments.controls; let i=index"
                                [attachment]="attachment"
                                [index]="i"
                                [form]="form"
                                [name]="name"
                                [families]="families"
                                (enableCrop)="enableCropHandler($event)"
                                (removeItem)="removeItemHandler($event)"
                                class="col-12 col-md-6 col-lg-4 px-16"></dh2-attachment-item>
    </div>
</div>
