:host {
    
    #attachment-library {
        display:block;
        position: relative;
        min-height: 280px;
        width: 100%;
        margin:20px 0 0;
        padding:15px 15px 0;
        background-color: transparent;
        /*border: 1px solid rgba(0,0,0,0.1);*/
    }
    #attachment-library a:hover,
    #attachment-library a:focus,
    #attachment-library a:active,
    #attachment-library a:visited,
    #attachment-library a {
        outline:none !important;
        text-decoration: none !important;
    }

    #library-sortable {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        position: relative;
        height: 100%;
        margin: 0 -15px;
        list-style: none;
        padding:0;
    }

    #attachment-library-mask {
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(255,255,255);
        color: rgb(120,120,120);
        text-align: center;
        font-size: 20px;
        line-height: 280px;
        opacity: 1;
        visibility: visible;
        z-index: 999;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
    }
    #attachment-library-mask::before {
        content: '';
        display: block;
        position: absolute;
        top:15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        background-color: transparent;
        border: 2px dashed  rgb(120,120,120);
    }

    #attachment-library.has-attachment 
    {
        #attachment-library-mask {
            background-color: rgba(96, 125, 139, 0.85);
            color: rgb(255,255,255);
            z-index: 999;
            opacity: 0;
            visibility: hidden;
        }

        #attachment-library-mask::before {
            border-color: rgb(255,255,255);
        }

        #attachment-library-mask.active-mask {
            opacity: 1 !important;
            visibility: visible !important;
        }
    }

    #attachment-library:not(.has-attachment) 
    {
        #attachment-library-mask.active-mask {
            background-color: rgba(96, 125, 139, 0.85);
            color: rgb(255,255,255);
        }
        #attachment-library-mask.active-mask::before {
            border-color: rgb(255,255,255);
        }
    }
}