<div class="page-layout carded fullwidth inner-scroll tabable">

    <dh2-spinner [show]="showSpinner"></dh2-spinner>

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="baseUri">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <fa-icon [icon]="['fas', 'wine-glass-alt']" size="2x"></fa-icon>
                </div>

                <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="dataRoute.action ==='edit' || dataRoute.action ==='create-lang'" [innerHTML]="object.name"></div>
                    <div class="h2" *ngIf="dataRoute.action ==='create'">
                        {{ 'APPS.NEW.' + objectTranslationGender | translate }} {{ objectTranslation | translate }}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{ 'APPS.DETAIL' | translate }}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <div fxLayoutGap="30px">
                <button mat-raised-button
                        type="submit"
                        form="formDetail"
                        class="mt-16 mt-sm-0"
                        [disabled]="fg.pristine || loadingButton || loadingSlug || loadingPrice"
                        *ngIf="dataRoute.action ==='create'">
                    {{ 'APPS.ADD' | translate }}
                    <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>

                <button mat-raised-button
                        type="submit"
                        form="formDetail"
                        class="mt-16 mt-sm-0"
                        [disabled]="fg.invalid || loadingButton || loadingSlug || loadingPrice"
                        *ngIf="dataRoute.action ==='create-lang'">
                    {{ 'APPS.TRANSLATE' | translate }}
                    <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>

                <button mat-raised-button
                        type="submit"
                        form="formDetail"
                        class="mt-16 mt-sm-0"
                        [disabled]="fg.invalid || fg.pristine || loadingButton || loadingSlug || loadingPrice"
                        *ngIf="dataRoute.action ==='edit'">
                    {{ 'APPS.SAVE' | translate }}
                    <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>

                <button mat-raised-button
                        class="mat-red-400-bg primary-text mt-16 mt-sm-0"
                        [disabled]="loadingTranslationButton || loadingSlug || loadingPrice"
                        *ngIf="dataRoute.action ==='edit' && lang.id !== baseLang"
                        (click)="deleteRecord(object)">
                    <span *ngIf="lang.id !== baseLang">{{ 'APPS.DELETE_TRANSLATION' | translate }}</span>
                    <mat-spinner *ngIf="loadingTranslationButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form   id="formDetail"
                        class="w-100-p"
                        fxLayout="column"
                        fxFlex
                        [formGroup]="fg"
                        (ngSubmit)="postRecord(object)">

                    <mat-tab-group>

                        <mat-tab label="{{ 'APPS.PROPERTIES' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <input type="hidden" formControlName="lang_id">

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-7 col-md-4">
                                        <mat-label>{{ 'APPS.ID' | translate }}</mat-label>
                                        <input matInput formControlName="id">
                                    </mat-form-field>
                                    <dh2-flag-icon class="col-4 offset-1 offset-md-1 col-md-4" [lang]="lang" size="22px" [rounded]="true"></dh2-flag-icon>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12">
                                        <mat-label>{{ 'APPS.NAME' | translate }}</mat-label>
                                        <input dh2Slug [model]="graphQL.modelLang" [object]="object" (checkingSlug)="handleCheckingSlug($event)" matInput formControlName="name" required>
                                        <mat-error>{{ formErrors?.name }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col">
                                        <mat-label>{{ 'APPS.SLUG' | translate }}</mat-label>
                                        <mat-spinner *ngIf="loadingSlug" matPrefix mode="indeterminate" diameter="17" class="mr-10"></mat-spinner>
                                        <input dh2Slug [model]="graphQL.modelLang" [object]="object" (checkingSlug)="handleCheckingSlug($event)" matInput formControlName="slug" required>
                                        <mat-error>{{ formErrors?.slug }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row wrap" fxLayoutAlign="space-between">
                                    <div class="col-12 col-md-6">
                                        <mat-form-field [appearance]="pulsarConfig.fieldAppearance" fxFlex="grow">
                                            <mat-label>{{ 'APPS.TYPE' | translate }}</mat-label>
                                            <mat-select formControlName="type_id" required>
                                                <ngx-mat-select-search [formControl]="typeFilterCtrl"
                                                                       placeholderLabel="{{ 'APPS.SEARCH' | translate }}"
                                                                       noEntriesFoundLabel="{{ 'APPS.NO_MATCHING' | translate }}"></ngx-mat-select-search>
                                                <mat-option *ngFor="let type of filteredTypes | async" [value]="type.id">{{ type.name }}</mat-option>
                                            </mat-select>
                                            <mat-error>{{ formErrors?.type_id }}</mat-error>
                                        </mat-form-field>
                                        <button mat-icon-button
                                                type="button"
                                                class="mt-10"
                                                *ngIf="dataRoute.action !== 'create-lang'"
                                                (click)="add(typeDialogComponent,'types', filteredTypes, 'type_id')">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                        <button mat-icon-button
                                                type="button"
                                                class="mt-10"
                                                *ngIf="dataRoute.action | mustTranslate:showSpinner:types:fg:'type_id'"
                                                (click)="add(typeDialogComponent, 'types', filteredTypes, 'type_id')">
                                            <mat-icon class="warn-color">translate</mat-icon>
                                        </button>
                                    </div>
                                    <div class="col-12 col-md-5">
                                        <mat-form-field [appearance]="pulsarConfig.fieldAppearance" fxFlex="grow">
                                            <mat-label>{{ 'APPS.FAMILY' | translate }}</mat-label>
                                            <mat-select formControlName="family_id">
                                                <ngx-mat-select-search [formControl]="familyFilterCtrl"
                                                                       placeholderLabel="{{ 'APPS.SEARCH' | translate }}"
                                                                       noEntriesFoundLabel="{{ 'APPS.NO_MATCHING' | translate }}"></ngx-mat-select-search>
                                                <mat-option *ngFor="let family of filteredFamilies | async" [value]="family.id">{{ family.name }}</mat-option>
                                            </mat-select>
                                            <mat-error>{{ formErrors?.family_id }}</mat-error>
                                        </mat-form-field>
                                        <button mat-icon-button
                                                type="button"
                                                class="mt-10"
                                                *ngIf="dataRoute.action !== 'create-lang'"
                                                (click)="add(familyDialogComponent, 'families', filteredFamilies, 'family_id')">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                        <button mat-icon-button
                                                type="button"
                                                class="mt-10"
                                                *ngIf="dataRoute.action | mustTranslate:showSpinner:families:fg:'family_id'"
                                                (click)="add(familyDialogComponent, 'families', filteredFamilies, 'family_id')">
                                            <mat-icon class="warn-color">translate</mat-icon>
                                        </button>
                                    </div>
                                </div>

                                <div fxLayout="row wrap">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-2">
                                        <mat-label>{{ 'WINE.VINTAGE' | translate }}</mat-label>
                                        <input type="number" matInput formControlName="vintage">
                                        <mat-error>{{ formErrors?.vintage }}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 offset-md-2 col-md-2">
                                        <mat-label>{{ 'WINE.ABV' | translate }}</mat-label>
                                        <input type="number" matInput formControlName="abv">
                                        <span matSuffix>%</span>
                                        <mat-error>{{ formErrors?.abv }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row wrap" fxLayoutAlign="space-between">
                                    <div class="col-12 col-md-6">
                                        <mat-form-field [appearance]="pulsarConfig.fieldAppearance" fxFlex="grow">
                                            <mat-label>{{ 'WINE.WINERY' | translate }}</mat-label>
                                            <mat-select formControlName="winery_id" required>
                                                <ngx-mat-select-search [formControl]="wineryFilterCtrl"
                                                                       placeholderLabel="{{ 'APPS.SEARCH' | translate }}"
                                                                       noEntriesFoundLabel="{{ 'APPS.NO_MATCHING' | translate }}"></ngx-mat-select-search>
                                                <mat-option *ngFor="let winery of filteredWineries | async" [value]="winery.id">{{ winery.name }}</mat-option>
                                            </mat-select>
                                            <mat-error>{{ formErrors?.winery_id }}</mat-error>
                                        </mat-form-field>
                                        <button mat-icon-button
                                                type="button"
                                                class="mt-10"
                                                *ngIf="dataRoute.action !== 'create-lang'"
                                                (click)="add(wineryDialogComponent, 'wineries', filteredWineries, 'winery_id')">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                    </div>

                                    <div class="col-12 col-md-5">
                                        <mat-form-field [appearance]="pulsarConfig.fieldAppearance" fxFlex="grow">
                                            <mat-label>{{ 'WINE.APPELLATION' | translate }}</mat-label>
                                            <mat-select formControlName="appellation_id" required>
                                                <ngx-mat-select-search [formControl]="appellationFilterCtrl"
                                                                       placeholderLabel="{{ 'APPS.SEARCH' | translate }}"
                                                                       noEntriesFoundLabel="{{ 'APPS.NO_MATCHING' | translate }}"></ngx-mat-select-search>
                                                <mat-option *ngFor="let appellation of filteredAppellations | async" [value]="appellation.id">{{ appellation.name }}</mat-option>
                                            </mat-select>
                                            <mat-error>{{ formErrors?.appellation_id }}</mat-error>
                                        </mat-form-field>
                                        <button mat-icon-button type="button" class="mt-10" (click)="add(appellationDialogComponent, 'appellations', filteredAppellations, 'appellation_id')">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                    </div>
                                </div>

                                <div fxLayout="row">
                                    <div class="col-12 col-md-4">
                                        <dh2-territories    [formGroup]="fg"
                                                            [formErrors]="formErrors"
                                                            [countries]="countries"
                                                            [required]="['country']"></dh2-territories>
                                    </div>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" fxFlex="grow">
                                        <mat-label>{{ 'WINE.PRODUCTION' | translate }}</mat-label>
                                        <input matInput formControlName="production">
                                        <mat-error>{{ formErrors?.name }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" fxFlex="grow">
                                        <mat-label>{{ 'NAV.GRAPES' | translate }}</mat-label>
                                        <mat-select formControlName="grapes_rel" multiple>
                                            <ngx-mat-select-search [formControl]="grapeFilterCtrl"
                                                                   placeholderLabel="{{ 'APPS.SEARCH' | translate }}"
                                                                   noEntriesFoundLabel="{{ 'APPS.NO_MATCHING' | translate }}"></ngx-mat-select-search>
                                            <mat-option (onSelectionChange)="handleGrapeOnOptionChange($event)" *ngFor="let grape of filteredGrapes | async" [value]="grape.id">
                                                {{ grape.name }} <span *ngIf="grape.composition?.percentage">({{ grape.composition.percentage }}%)</span>
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.grapes_id }}</mat-error>
                                    </mat-form-field>
                                    <button mat-icon-button type="button" class="mt-10" (click)="add(grapeDialogComponent, 'grapes', filteredGrapes, 'grapes_rel', true)">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" fxFlex="grow">
                                        <mat-label>{{ 'NAV.PAIRINGS' | translate }}</mat-label>
                                        <mat-select formControlName="pairings_id" multiple>
                                            <ngx-mat-select-search [formControl]="pairingFilterCtrl"
                                                                   placeholderLabel="{{ 'APPS.SEARCH' | translate }}"
                                                                   noEntriesFoundLabel="{{ 'APPS.NO_MATCHING' | translate }}"></ngx-mat-select-search>
                                            <mat-option *ngFor="let pairing of filteredPairings | async" [value]="pairing.id">
                                                {{ pairing.name }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.pairings_id }}</mat-error>
                                    </mat-form-field>
                                    <button mat-icon-button
                                            type="button"
                                            class="mt-10"
                                            (click)="add(pairingDialogComponent, 'pairings', filteredPairings, 'pairings_id', true)">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" fxFlex="grow">
                                        <mat-label>{{ 'NAV.AWARDS' | translate }}</mat-label>
                                        <mat-select formControlName="awards_id" multiple>
                                            <ngx-mat-select-search [formControl]="awardFilterCtrl"
                                                                   placeholderLabel="{{ 'APPS.SEARCH' | translate }}"
                                                                   noEntriesFoundLabel="{{ 'APPS.NO_MATCHING' | translate }}"></ngx-mat-select-search>
                                            <mat-option *ngFor="let award of filteredAwards | async" [value]="award.id">{{ award.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.awards_id }}</mat-error>
                                    </mat-form-field>
                                    <button mat-icon-button type="button" class="mt-10" (click)="add(awardDialogComponent, 'awards', filteredAwards, 'awards_id', true)">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-11 col-md-6">
                                        <mat-label>{{ 'WINE.PRESENTATION' | translate }}</mat-label>
                                        <mat-select formControlName="presentation_id">
                                            <ngx-mat-select-search [formControl]="presentationFilterCtrl"
                                                                   placeholderLabel="{{ 'APPS.SEARCH' | translate }}"
                                                                   noEntriesFoundLabel="{{ 'APPS.NO_MATCHING' | translate }}"></ngx-mat-select-search>
                                            <mat-option *ngFor="let presentation of filteredPresentations | async" [value]="presentation.id">{{ presentation.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.presentation_id }}</mat-error>
                                    </mat-form-field>
                                    <button mat-icon-button type="button" class="mt-10" (click)="add(presentationDialogComponent, 'presentations', filteredPresentations, 'presentation_id')">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>

                                <div fxLayout="row">
                                    <div class="col-12">
                                        <dh2-froala formControlName="description"
                                                    placeholder="{{ 'APPS.DESCRIPTION' | translate }}"
                                                    [heightMin]="200"></dh2-froala>
                                        <mat-error>{{ formErrors?.description }}</mat-error>
                                    </div>
                                </div>

                            </div>
                        </mat-tab>

                        <mat-tab label="{{ 'WINE.TASTING' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col hint">
                                        <mat-label>{{ 'WINE.TASTING' | translate }}</mat-label>
                                        <textarea   matInput
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="tasting"></textarea>
                                        <mat-hint align="start">{{ 'WINE.TASTING_HINT' | translate }}</mat-hint>
                                        <mat-error>{{ formErrors?.tasting }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col">
                                        <mat-label>{{ 'WINE.TASTING_LOOK' | translate }}</mat-label>
                                        <textarea   matInput
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="tasting_look"></textarea>
                                        <mat-error>{{ formErrors?.tasting_look }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col">
                                        <mat-label>{{ 'WINE.TASTING_NOSE' | translate }}</mat-label>
                                        <textarea   matInput
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="tasting_nose"></textarea>
                                        <mat-error>{{ formErrors?.tasting_nose }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col">
                                        <mat-label>{{ 'WINE.TASTING_MOUTH' | translate }}</mat-label>
                                        <textarea   matInput
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="tasting_mouth"></textarea>
                                        <mat-error>{{ formErrors?.tasting_mouth }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col">
                                        <mat-label>{{ 'WINE.TASTING_TEMPERATURE' | translate }}</mat-label>
                                        <textarea   matInput
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="tasting_temperature"></textarea>
                                        <mat-error>{{ formErrors?.tasting_temperature }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col">
                                        <mat-label>{{ 'WINE.TASTING_CONSUMPTION' | translate }}</mat-label>
                                        <textarea   matInput
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="tasting_consumption"></textarea>
                                        <mat-error>{{ formErrors?.tasting_consumption }}</mat-error>
                                    </mat-form-field>
                                </div>

                            </div>
                        </mat-tab>

                        <mat-tab label="{{ 'WINE.VINEYARD' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col hint">
                                        <mat-label>{{ 'WINE.VINEYARD' | translate }}</mat-label>
                                        <textarea   matInput
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="vineyard"></textarea>
                                        <mat-hint align="start">{{ 'WINE.VINEYARD_HINT' | translate }}</mat-hint>
                                        <mat-error>{{ formErrors?.vineyard }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col">
                                        <mat-label>{{ 'WINE.VINEYARD_NAME' | translate }}</mat-label>
                                        <textarea   matInput
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="vineyard_name"></textarea>
                                        <mat-error>{{ formErrors?.vineyard_name }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col">
                                        <mat-label>{{ 'WINE.VINEYARD_AREA' | translate }}</mat-label>
                                        <textarea   matInput
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="vineyard_area"></textarea>
                                        <mat-error>{{ formErrors?.vineyard_area }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col">
                                        <mat-label>{{ 'WINE.VINEYARD_DESCRIPTION' | translate }}</mat-label>
                                        <textarea   matInput
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="vineyard_description"></textarea>
                                        <mat-error>{{ formErrors?.vineyard_description }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col">
                                        <mat-label>{{ 'WINE.VINEYARD_AGE' | translate }}</mat-label>
                                        <textarea   matInput
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="vineyard_age"></textarea>
                                        <mat-error>{{ formErrors?.vineyard_age }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col">
                                        <mat-label>{{ 'WINE.VINEYARD_SOIL' | translate }}</mat-label>
                                        <textarea   matInput
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="vineyard_soil"></textarea>
                                        <mat-error>{{ formErrors?.vineyard_soil }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col">
                                        <mat-label>{{ 'WINE.VINEYARD_WEATHER' | translate }}</mat-label>
                                        <textarea   matInput
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="vineyard_weather"></textarea>
                                        <mat-error>{{ formErrors?.vineyard_weather }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col">
                                        <mat-label>{{ 'WINE.VINEYARD_PERFORMANCE' | translate }}</mat-label>
                                        <textarea   matInput
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="vineyard_performance"></textarea>
                                        <mat-error>{{ formErrors?.vineyard_performance }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col">
                                        <mat-label>{{ 'WINE.VINEYARD_VINTAGE' | translate }}</mat-label>
                                        <textarea   matInput
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="vineyard_vintage"></textarea>
                                        <mat-error>{{ formErrors?.vineyard_vintage }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col">
                                        <mat-label>{{ 'WINE.VINEYARD_VINIFICATION' | translate }}</mat-label>
                                        <textarea   matInput
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="vineyard_vinification"></textarea>
                                        <mat-error>{{ formErrors?.vineyard_vinification }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col">
                                        <mat-label>{{ 'WINE.VINEYARD_AGING' | translate }}</mat-label>
                                        <textarea   matInput
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="vineyard_aging"></textarea>
                                        <mat-error>{{ formErrors?.vineyard_aging }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col">
                                        <mat-label>{{ 'WINE.VINEYARD_BOTTLING' | translate }}</mat-label>
                                        <textarea   matInput
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="vineyard_bottling"></textarea>
                                        <mat-error>{{ formErrors?.vineyard_bottling }}</mat-error>
                                    </mat-form-field>
                                </div>

                            </div>
                        </mat-tab>

                        <mat-tab label="{{ 'WINE.SCORES' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div fxLayout="row wrap" fxLayoutAlign="center">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-4">
                                        <mat-label>{{ 'WINE.AVERAGE' | translate }}</mat-label>
                                        <input type="number" matInput formControlName="score_average" readonly>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row wrap" fxLayoutAlign="space-between">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-4">
                                        <mat-label>{{ 'WINE.PARKER' | translate }}</mat-label>
                                        <input type="text" matInput formControlName="parker" (change)="calculateAverage()">
                                        <mat-error>{{ formErrors?.parker }}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-4">
                                        <mat-label>{{ 'WINE.PENIN' | translate }}</mat-label>
                                        <input type="text" matInput formControlName="penin" (change)="calculateAverage()">
                                        <mat-error>{{ formErrors?.penin }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row wrap" fxLayoutAlign="space-between">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-4">
                                        <mat-label>{{ 'WINE.WINE_SPECTATOR' | translate }}</mat-label>
                                        <input type="text" matInput formControlName="wine_spectator" (change)="calculateAverage()">
                                        <mat-error>{{ formErrors?.wine_spectator }}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-4">
                                        <mat-label>{{ 'WINE.DECANTER' | translate }}</mat-label>
                                        <input type="text" matInput formControlName="decanter" (change)="calculateAverage()">
                                        <mat-error>{{ formErrors?.decanter }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row wrap" fxLayoutAlign="space-between">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-4">
                                        <mat-label>{{ 'WINE.SUCKLING' | translate }}</mat-label>
                                        <input type="text" matInput formControlName="suckling" (change)="calculateAverage()">
                                        <mat-error>{{ formErrors?.suckling }}</mat-error>
                                    </mat-form-field>
                                </div>

                            </div>
                        </mat-tab>

                        <mat-tab label="{{ 'APPS.ATTACHMENTS' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <dh2-attachments    name="attachments"
                                                    placeholder="{{ 'APPS.DRAG_FILES' | translate }}"
                                                    [value]="object.attachments"
                                                    [form]="fg"
                                                    [families]="attachmentFamilies">
                                </dh2-attachments>

                            </div>
                        </mat-tab>

                        <mat-tab label="{{ 'APPS.PRODUCT' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div fxLayout="row">
                                    <div class="col-12 py-20">
                                        <mat-checkbox formControlName="is_product">{{ 'APPS.IS_PRODUCT' | translate }}</mat-checkbox>
                                    </div>
                                </div>

                                <dh2-marketable (checkingPrice)="handleCheckingPrice($event)"
                                                [hiddenFields]="['lang_id', 'name', 'slug']"
                                                [hidden]="! fg.get('is_product').value"
                                                [fg]="fg"
                                                [lang]="lang"
                                                [dataRoute]="dataRoute"
                                                [products]="products"
                                                [sections]="sections"
                                                [productClasses]="productClasses"
                                                [priceTypes]="priceTypes"
                                                [productClassTaxes]="productClassTaxes"
                                                [categories]="categories"></dh2-marketable>

                            </div>
                        </mat-tab>

                        <mat-tab label="{{ 'APPS.STOCK' | translate | uppercase }}"
                                 *ngIf="dataRoute.action === 'edit' && fg.get('is_product').value">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div fxLayout="row">
                                    <div class="col-12">

                                        <dh2-stockable [stocksData]="stocksData"></dh2-stockable>

                                    </div>
                                </div>
                            </div>
                        </mat-tab>

                    </mat-tab-group>
                </form>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
    
</div>
