<div class="page-layout carded fullwidth inner-scroll tabable">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="baseUri">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <fa-icon [icon]="['fas', 'wine-glass-alt']" size="2x"></fa-icon>
                </div>

                <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="dataRoute.action ==='edit' || dataRoute.action ==='create-lang'" [innerHTML]="object.name"></div>
                    <div class="h2" *ngIf="dataRoute.action ==='create'">
                        {{ 'APPS.NEW.' + objectTranslationGender | translate }} {{ objectTranslation | translate }}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{ 'APPS.DETAIL' | translate }}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <div fxLayoutGap="30px">
                <button mat-raised-button
                        type="submit"
                        form="formDetail"
                        class="action-btn fuse-white mt-16 mt-sm-0"
                        [disabled]="fg.pristine || loadingButton || loadingSlug || loadingPrice"
                        *ngIf="dataRoute.action ==='create'">
                    <span>{{ 'APPS.ADD' | translate }}</span>
                    <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>

                <button mat-raised-button
                        type="submit"
                        form="formDetail"
                        class="action-btn mat-white-bg mt-16 mt-sm-0"
                        [disabled]="fg.invalid || loadingButton || loadingSlug || loadingPrice"
                        *ngIf="dataRoute.action ==='create-lang'">
                    <span>{{ 'APPS.TRANSLATE' | translate }}</span>
                    <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>

                <button mat-raised-button
                        type="submit"
                        form="formDetail"
                        class="action-btn fuse-white mt-16 mt-sm-0"
                        [disabled]="fg.invalid || fg.pristine || loadingButton || loadingSlug || loadingPrice"
                        *ngIf="dataRoute.action ==='edit'">
                    <span>{{ 'APPS.SAVE' | translate }}</span>
                    <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>

                <button mat-raised-button
                        class="action-btn mat-red-400-bg primary-text mt-16 mt-sm-0"
                        [disabled]="loadingTranslationButton || loadingSlug || loadingPrice"
                        *ngIf="dataRoute.action ==='edit' && lang.id !== baseLang"
                        (click)="deleteRecord(object)">
                    <span *ngIf="lang.id !== baseLang">{{ 'APPS.DELETE_TRANSLATION' | translate }}</span>
                    <mat-spinner *ngIf="loadingTranslationButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card fuse-white">

            <!-- CONTENT -->
            <div class="content">

                <form   id="formDetail"
                        [formGroup]="fg"
                        (ngSubmit)="postRecord(object)">

                    <mat-tab-group>

                        <mat-tab label="{{ 'APPS.PROPERTIES' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <input type="hidden" formControlName="lang_id">

                                <div fxLayout="row">
                                    <mat-form-field class="col-7 col-md-4">
                                        <input matInput placeholder="{{ 'APPS.ID' | translate }}" formControlName="id">
                                    </mat-form-field>
                                    <dh2-flag-icon class="col-4 offset-1 offset-md-1 col-md-4" [lang]="lang" width="30px"></dh2-flag-icon>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col-12">
                                        <input dh2Slug [model]="graphQL.modelLang" [object]="object" (checkingSlug)="handleCheckingSlug($event)" matInput placeholder="{{ 'APPS.NAME' | translate }}" formControlName="name" required>
                                        <mat-error>{{ formErrors?.name }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col">
                                        <input dh2Slug [model]="graphQL.modelLang" [object]="object" (checkingSlug)="handleCheckingSlug($event)" matInput placeholder="{{ 'APPS.SLUG' | translate }}" formControlName="slug" required>
                                        <mat-spinner *ngIf="loadingSlug" matSuffix mode="indeterminate" diameter="17"></mat-spinner>
                                        <mat-error>{{ formErrors?.slug }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row wrap" fxLayoutAlign="space-between">
                                    <div class="col-12 col-md-6">
                                        <mat-form-field fxFlex="grow">
                                            <mat-select placeholder="{{ 'APPS.TYPE' | translate }}" formControlName="type_id">
                                                <ngx-mat-select-search [formControl]="typeFilterCtrl"
                                                                       placeholderLabel="{{ 'APPS.SEARCH' | translate }}"
                                                                       noEntriesFoundLabel="{{ 'APPS.NO_MATCHING' | translate }}"></ngx-mat-select-search>
                                                <mat-option *ngFor="let type of filteredTypes | async" [value]="type.id">{{ type.name }}</mat-option>
                                            </mat-select>
                                            <mat-error>{{ formErrors?.type_id }}</mat-error>
                                        </mat-form-field>
                                        <button mat-icon-button type="button" class="mt-10" (click)="addType()">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                    </div>
                                    <div class="col-12 col-md-5">
                                        <mat-form-field fxFlex="grow">
                                            <mat-select placeholder="{{ 'APPS.FAMILY' | translate }}" formControlName="family_id">
                                                <ngx-mat-select-search [formControl]="familyFilterCtrl"
                                                                       placeholderLabel="{{ 'APPS.SEARCH' | translate }}"
                                                                       noEntriesFoundLabel="{{ 'APPS.NO_MATCHING' | translate }}"></ngx-mat-select-search>
                                                <mat-option *ngFor="let family of filteredFamilies | async" [value]="family.id">{{ family.name }}</mat-option>
                                            </mat-select>
                                            <mat-error>{{ formErrors?.family_id }}</mat-error>
                                        </mat-form-field>
                                        <button mat-icon-button type="button" class="mt-10">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                    </div>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col-12 col-md-4">
                                        <input type="number" matInput placeholder="{{ 'WINE.VINTAGE' | translate }}" formControlName="vintage">
                                        <mat-error>{{ formErrors?.vintage }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row wrap" fxLayoutAlign="space-between">
                                    <div class="col-12 col-md-6">
                                        <mat-form-field fxFlex="grow">
                                            <mat-select placeholder="{{ 'WINE.WINERY' | translate }}" formControlName="winery_id">
                                                <ngx-mat-select-search [formControl]="wineryFilterCtrl"
                                                                       placeholderLabel="{{ 'APPS.SEARCH' | translate }}"
                                                                       noEntriesFoundLabel="{{ 'APPS.NO_MATCHING' | translate }}"></ngx-mat-select-search>
                                                <mat-option *ngFor="let winery of filteredWineries | async" [value]="winery.id">{{ winery.name }}</mat-option>
                                            </mat-select>
                                            <mat-error>{{ formErrors?.winery_id }}</mat-error>
                                        </mat-form-field>
                                        <button mat-icon-button type="button" class="mt-10">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                    </div>

                                    <div class="col-12 col-md-5">
                                        <mat-form-field fxFlex="grow">
                                            <mat-select placeholder="{{ 'WINE.APPELLATION' | translate }}" formControlName="appellation_id">
                                                <ngx-mat-select-search [formControl]="appellationFilterCtrl"
                                                                       placeholderLabel="{{ 'APPS.SEARCH' | translate }}"
                                                                       noEntriesFoundLabel="{{ 'APPS.NO_MATCHING' | translate }}"></ngx-mat-select-search>
                                                <mat-option *ngFor="let appellation of filteredAppellations | async" [value]="appellation.id">{{ appellation.name }}</mat-option>
                                            </mat-select>
                                            <mat-error>{{ formErrors?.appellation_id }}</mat-error>
                                        </mat-form-field>
                                        <button mat-icon-button type="button" class="mt-10">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                    </div>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field fxFlex="grow">
                                        <input matInput placeholder="{{ 'WINE.PRODUCTION' | translate }}" formControlName="production">
                                        <mat-error>{{ formErrors?.name }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field fxFlex="grow">
                                        <mat-select placeholder="{{ 'NAV.GRAPES' | translate }}" formControlName="grapes_id" multiple>
                                            <ngx-mat-select-search [formControl]="grapeFilterCtrl"
                                                                   placeholderLabel="{{ 'APPS.SEARCH' | translate }}"
                                                                   noEntriesFoundLabel="{{ 'APPS.NO_MATCHING' | translate }}"></ngx-mat-select-search>
                                            <mat-option *ngFor="let grape of filteredGrapes | async" [value]="grape.id">{{ grape.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.grapes_id }}</mat-error>
                                    </mat-form-field>
                                    <button mat-icon-button type="button" class="mt-10">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field fxFlex="grow">
                                        <mat-select placeholder="{{ 'NAV.PAIRINGS' | translate }}" formControlName="pairings_id" multiple>
                                            <ngx-mat-select-search [formControl]="pairingFilterCtrl"
                                                                   placeholderLabel="{{ 'APPS.SEARCH' | translate }}"
                                                                   noEntriesFoundLabel="{{ 'APPS.NO_MATCHING' | translate }}"></ngx-mat-select-search>
                                            <mat-option *ngFor="let pairing of filteredPairings | async" [value]="pairing.id">{{ pairing.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.pairings_id }}</mat-error>
                                    </mat-form-field>
                                    <button mat-icon-button type="button" class="mt-10">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field fxFlex="grow">
                                        <mat-select placeholder="{{ 'NAV.AWARDS' | translate }}" formControlName="awards_id" multiple>
                                            <ngx-mat-select-search [formControl]="awardFilterCtrl"
                                                                   placeholderLabel="{{ 'APPS.SEARCH' | translate }}"
                                                                   noEntriesFoundLabel="{{ 'APPS.NO_MATCHING' | translate }}"></ngx-mat-select-search>
                                            <mat-option *ngFor="let award of filteredAwards | async" [value]="award.id">{{ award.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.awards_id }}</mat-error>
                                    </mat-form-field>
                                    <button mat-icon-button type="button" class="mt-10">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col-11 col-md-6">
                                        <mat-select placeholder="{{ 'WINE.PRESENTATION' | translate }}" formControlName="presentation_id">
                                            <ngx-mat-select-search [formControl]="presentationFilterCtrl"
                                                                   placeholderLabel="{{ 'APPS.SEARCH' | translate }}"
                                                                   noEntriesFoundLabel="{{ 'APPS.NO_MATCHING' | translate }}"></ngx-mat-select-search>
                                            <mat-option *ngFor="let presentation of filteredPresentations | async" [value]="presentation.id">{{ presentation.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.presentation_id }}</mat-error>
                                    </mat-form-field>
                                    <button mat-icon-button type="button" class="mt-10">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>

                            </div>
                        </mat-tab>

                        <mat-tab label="{{ 'WINE.TASTING' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div fxLayout="row">
                                    <mat-form-field class="col">
                                        <textarea   matInput
                                                    placeholder="{{ 'WINE.TASTING' | translate }}"
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="tasting"></textarea>
                                        <mat-error>{{ formErrors?.tasting }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col">
                                        <textarea   matInput
                                                    placeholder="{{ 'WINE.TASTING_LOOK' | translate }}"
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="tasting_look"></textarea>
                                        <mat-error>{{ formErrors?.tasting_look }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col">
                                        <textarea   matInput
                                                    placeholder="{{ 'WINE.TASTING_NOSE' | translate }}"
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="tasting_nose"></textarea>
                                        <mat-error>{{ formErrors?.tasting_nose }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col">
                                        <textarea   matInput
                                                    placeholder="{{ 'WINE.TASTING_MOUTH' | translate }}"
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="tasting_mouth"></textarea>
                                        <mat-error>{{ formErrors?.tasting_mouth }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col">
                                        <textarea   matInput
                                                    placeholder="{{ 'WINE.TASTING_TEMPERATURE' | translate }}"
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="tasting_temperature"></textarea>
                                        <mat-error>{{ formErrors?.tasting_temperature }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col">
                                        <textarea   matInput
                                                    placeholder="{{ 'WINE.TASTING_CONSUMPTION' | translate }}"
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="tasting_consumption"></textarea>
                                        <mat-error>{{ formErrors?.tasting_consumption }}</mat-error>
                                    </mat-form-field>
                                </div>

                            </div>
                        </mat-tab>

                        <mat-tab label="{{ 'WINE.VINEYARD' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div fxLayout="row">
                                    <mat-form-field class="col">
                                        <textarea   matInput
                                                    placeholder="{{ 'WINE.VINEYARD' | translate }}"
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="vineyard"></textarea>
                                        <mat-error>{{ formErrors?.vineyard }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col">
                                        <textarea   matInput
                                                    placeholder="{{ 'WINE.VINEYARD_NAME' | translate }}"
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="vineyard_name"></textarea>
                                        <mat-error>{{ formErrors?.vineyard_name }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col">
                                        <textarea   matInput
                                                    placeholder="{{ 'WINE.VINEYARD_AREA' | translate }}"
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="vineyard_area"></textarea>
                                        <mat-error>{{ formErrors?.vineyard_area }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col">
                                        <textarea   matInput
                                                    placeholder="{{ 'WINE.VINEYARD_DESCRIPTION' | translate }}"
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="vineyard_description"></textarea>
                                        <mat-error>{{ formErrors?.vineyard_description }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col">
                                        <textarea   matInput
                                                    placeholder="{{ 'WINE.VINEYARD_AGE' | translate }}"
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="vineyard_age"></textarea>
                                        <mat-error>{{ formErrors?.vineyard_age }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col">
                                        <textarea   matInput
                                                    placeholder="{{ 'WINE.VINEYARD_SOIL' | translate }}"
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="vineyard_soil"></textarea>
                                        <mat-error>{{ formErrors?.vineyard_soil }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col">
                                        <textarea   matInput
                                                    placeholder="{{ 'WINE.VINEYARD_WEATHER' | translate }}"
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="vineyard_weather"></textarea>
                                        <mat-error>{{ formErrors?.vineyard_weather }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col">
                                        <textarea   matInput
                                                    placeholder="{{ 'WINE.VINEYARD_PERFORMANCE' | translate }}"
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="vineyard_performance"></textarea>
                                        <mat-error>{{ formErrors?.vineyard_performance }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col">
                                        <textarea   matInput
                                                    placeholder="{{ 'WINE.VINEYARD_VINTAGE' | translate }}"
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="vineyard_vintage"></textarea>
                                        <mat-error>{{ formErrors?.vineyard_vintage }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col">
                                        <textarea   matInput
                                                    placeholder="{{ 'WINE.VINEYARD_VINIFICATION' | translate }}"
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="vineyard_vinification"></textarea>
                                        <mat-error>{{ formErrors?.vineyard_vinification }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col">
                                        <textarea   matInput
                                                    placeholder="{{ 'WINE.VINEYARD_AGING' | translate }}"
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="vineyard_aging"></textarea>
                                        <mat-error>{{ formErrors?.vineyard_aging }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col">
                                        <textarea   matInput
                                                    placeholder="{{ 'WINE.VINEYARD_BOTTLING' | translate }}"
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="vineyard_bottling"></textarea>
                                        <mat-error>{{ formErrors?.vineyard_bottling }}</mat-error>
                                    </mat-form-field>
                                </div>

                            </div>
                        </mat-tab>

                        <mat-tab label="{{ 'APPS.PRODUCT' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div fxLayout="row">
                                    <div class="col-12 py-20">
                                        <mat-checkbox formControlName="is_product">{{ 'APPS.IS_PRODUCT' | translate }}</mat-checkbox>
                                    </div>
                                </div>

                                <dh2-marketable (checkingPrice)="handleCheckingPrice($event)"
                                                [hiddenFields]="['lang_id', 'name', 'slug']"
                                                [hidden]="! fg.get('is_product').value"
                                                [fg]="fg"
                                                [products]="products"
                                                [sections]="sections"
                                                [productTypes]="productTypes"
                                                [priceTypes]="priceTypes"
                                                [productClassTaxes]="productClassTaxes"
                                                [categories]="categories"></dh2-marketable>

                            </div>
                        </mat-tab>

                        <mat-tab label="{{ 'STOCKABLE.STOCK' | translate | uppercase }}"
                                 *ngIf="dataRoute.action === 'edit' && fg.get('is_product').value">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div fxLayout="row">
                                    <div class="col-12">

                                        <dh2-stockable [stocksData]="stocksData"></dh2-stockable>

                                    </div>
                                </div>
                            </div>
                        </mat-tab>

                        <mat-tab label="{{ 'APPS.ATTACHMENTS' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <dh2-attachments    name="attachments"
                                                    placeholder="{{ 'APPS.DRAG_FILES' | translate }}"
                                                    [value]="object.attachments"
                                                    [form]="fg"
                                                    [families]="attachmentFamilies">
                                </dh2-attachments>

                            </div>
                        </mat-tab>

                    </mat-tab-group>
                </form>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
    
</div>