<div class="page-layout carded fullwidth inner-scroll tabable">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="baseUri">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <fa-icon [icon]="['fas', 'wine-glass-alt']" size="2x"></fa-icon>
                </div>

                <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="dataRoute.action ==='edit' || dataRoute.action ==='create-lang'" [innerHTML]="object.name"></div>
                    <div class="h2" *ngIf="dataRoute.action ==='create'">
                        {{ 'APPS.NEW.M' | translate }} {{ 'WINE.WINE' | translate }}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{ 'APPS.DETAIL' | translate }}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <div fxLayoutGap="30px">
                <button mat-raised-button
                        type="submit"
                        form="formDetail"
                        class="action-btn fuse-white mt-16 mt-sm-0"
                        [disabled]="fg.pristine || loadingButton || loadingSlug || loadingPrice"
                        *ngIf="dataRoute.action ==='create'">
                    <span>{{ 'APPS.ADD' | translate }}</span>
                    <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>

                <button mat-raised-button
                        type="submit"
                        form="formDetail"
                        class="action-btn mat-white-bg mt-16 mt-sm-0"
                        [disabled]="fg.invalid || loadingButton || loadingSlug || loadingPrice"
                        *ngIf="dataRoute.action ==='create-lang'">
                    <span>{{ 'APPS.TRANSLATE' | translate }}</span>
                    <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>

                <button mat-raised-button
                        type="submit"
                        form="formDetail"
                        class="action-btn fuse-white mt-16 mt-sm-0"
                        [disabled]="fg.invalid || fg.pristine || loadingButton || loadingSlug || loadingPrice"
                        *ngIf="dataRoute.action ==='edit'">
                    <span>{{ 'APPS.SAVE' | translate }}</span>
                    <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>

                <button mat-raised-button
                        class="action-btn mat-red-400-bg primary-text mt-16 mt-sm-0"
                        [disabled]="loadingTranslationButton || loadingSlug || loadingPrice"
                        *ngIf="dataRoute.action ==='edit' && lang.id !== baseLang"
                        (click)="deleteRecord(object)">
                    <span *ngIf="lang.id !== baseLang">{{ 'APPS.DELETE_TRANSLATION' | translate }}</span>
                    <mat-spinner *ngIf="loadingTranslationButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card fuse-white">

            <!-- CONTENT -->
            <div class="content">

                <form   id="formDetail"
                        [formGroup]="fg"
                        (ngSubmit)="postRecord(object)"
                        fxLayout="column"
                        fxFlex>
                    <mat-tab-group>

                        <mat-tab label="{{ 'APPS.PROPERTIES' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <input type="hidden" formControlName="lang_id">

                                <div fxLayout="row">
                                    <mat-form-field class="col-12 col-md-4">
                                        <input matInput placeholder="{{ 'APPS.ID' | translate }}" formControlName="id">
                                    </mat-form-field>
                                    <dh2-flag-icon class="col-12 offset-md-1 col-md-4" [lang]="lang" width="30px"></dh2-flag-icon>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col-12">
                                        <input dh2Slug [model]="modelWineLang" [object]="object" (checkingSlug)="handleCheckingSlug($event)" matInput placeholder="{{ 'APPS.NAME' | translate }}" formControlName="name" required>
                                        <mat-error>{{ formErrors?.name }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col-12">
                                        <input dh2Slug [model]="modelWineLang" [object]="object" (checkingSlug)="handleCheckingSlug($event)" matInput placeholder="{{ 'APPS.SLUG' | translate }}" formControlName="slug" required>
                                        <mat-spinner *ngIf="loadingSlug" matSuffix mode="indeterminate" diameter="17"></mat-spinner>
                                        <mat-error>{{ formErrors?.slug }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col-12 col-md-4">
                                        <input matInput placeholder="{{ 'WINE.YEAR' | translate }}" formControlName="year" required>
                                        <mat-error>{{ formErrors?.year }}</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-tab>

                        <mat-tab label="{{ 'APPS.DESCRIPTION' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div fxLayout="row">
                                    <div class="col-12">
                                        <dh2-froala formControlName="tasting_note"
                                                    placeholder="{{ 'APPS.DESCRIPTION' | translate }}"
                                                    [heightMin]="400"
                                                    [attachmentFamilies]="attachmentFamilies"></dh2-froala>
                                        <mat-error>{{ formErrors?.tasting_note }}</mat-error>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>

                        <mat-tab label="{{ 'APPS.PRODUCT' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div fxLayout="row">
                                    <div class="col-12 py-20">
                                        <mat-checkbox formControlName="is_product">{{ 'APPS.IS_PRODUCT' | translate }}</mat-checkbox>
                                    </div>
                                </div>

                                <dh2-marketable (checkingPrice)="handleCheckingPrice($event)"
                                                [hiddenFields]="['lang_id', 'name', 'slug']"
                                                [hidden]="! fg.get('is_product').value"
                                                [fg]="fg"
                                                [products]="products"
                                                [sections]="sections"
                                                [productTypes]="productTypes"
                                                [priceTypes]="priceTypes"
                                                [productClassTaxes]="productClassTaxes"
                                                [categories]="categories"></dh2-marketable>

                            </div>
                        </mat-tab>

                    </mat-tab-group>
                

                    
                </form>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
    
</div>