<!--&lt;!&ndash; Widget 5 &ndash;&gt;-->
<!--<div class="pt-48 pb-24 font-size-18 font-weight-300">-->
    <!--How many pages your users visit?-->
<!--</div>-->

<!--<div class="row"></div>-->
<!--<div class="fuse-card auto-width">-->

    <!--<div class="position-relative p-24"-->
         <!--fxLayout="row" fxLayoutAlign="space-between center">-->
        <!--<div fxLayout="column" fxLayoutAlign="start start">-->
            <!--<span class="h2">Visitors & Page views</span>-->
        <!--</div>-->
        <!--<div fxLayout="row" fxLayoutAlign="start center">-->
            <!--<div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"-->
                 <!--(click)="widget5SelectedDay = 'yesterday'"-->
                 <!--[ngClass]="{'accent': widget5SelectedDay === 'yesterday'}">-->
                <!--Yesterday-->
            <!--</div>-->
            <!--<div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"-->
                 <!--(click)="widget5SelectedDay = 'today'"-->
                 <!--[ngClass]="{'accent': widget5SelectedDay === 'today'}">-->
                <!--Today-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="position-relative col">-->
        <!--<canvas baseChart-->
                <!--[datasets]="widgets.widget5.datasets[widget5SelectedDay]"-->
                <!--[labels]="widgets.widget5.labels"-->
                <!--[colors]="widgets.widget5.colors"-->
                <!--[options]="widgets.widget5.options"-->
                <!--[chartType]="widgets.widget5.chartType">-->
        <!--</canvas>-->
    <!--</div>-->

<!--</div>-->
<!--&lt;!&ndash; / Widget 5 &ndash;&gt;-->

Dashboard
