<div class="container-fluid form-group">
    <h1>Attachment mime</h1>

    <form [formGroup]="fg" (ngSubmit)="onSubmit(object)" novalidate>
        
        <div class="row">
            <ps-input   [form]="fg" 
                        [errors]="formErrors"
                        label="ID."
                        type="text"
                        name="id" class="col-sm-6 col-md-3"></ps-input>
        </div>

        <div class="row">
            <ps-input   [form]="fg" 
                        [errors]="formErrors"
                        label="Mime"
                        type="text"
                        name="mime" class="col-12"></ps-input>
        </div>

        <div class="row">
            <ps-dropdown    [form]="fg"
                            [errors]="formErrors"
                            [autoWidth]="false"
                            [options]="resources"
                            [filter]="true"
                            name="resource_id"
                            class="col-sm-12 col-md-5">
            </ps-dropdown>
        </div>

        <!-- buttons -->
        <div class="row justify-content-sm-center justify-content-md-start action-buttons">
            <ps-button  type="submit" 
                        icon="fa-check" 
                        label="Save" 
                        class="col-sm-10 col-md-3"></ps-button>

            <ps-button  type="button" 
                        icon="ui-icon-clear" 
                        label="Cancel" 
                        [routerLink]="[baseUri]"
                        class="col-sm-10 col-md-3"></ps-button>
        </div>
    </form>
</div>