<div class="card login-panel ui-fluid">
    <div class="ui-g">
        <form [formGroup]="fg" (ngSubmit)="onSubmit()" novalidate>
            <div class="ui-g-12">
                <img src="../../assets/layout/images/logo-ultima.svg">
            </div>
            <div class="ui-g-12">
                <span class="md-inputfield">
                    <input formControlName="user" type="text" autocomplete="on" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                    <label>Username</label>
                </span>
            </div>
            <div class="ui-g-12">
                <span class="md-inputfield">
                    <input formControlName="password" type="password" autocomplete="off" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                    <label>Password</label>
                </span>
            </div>
            <div class="ui-g-12">
                <button type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left">
                    <span class="ui-button-icon-left ui-c fa fa-fw ui-icon-person"></span>
                    <span class="ui-button-text ui-c">Sign In</span>
                </button>
            </div>
        </form>
    </div>
</div>