<div class="container-fluid form-group">
    <h1>Attachment family</h1>

    <form [formGroup]="fg" (ngSubmit)="onSubmit(fg, object)" novalidate>

        <div class="row">
            <ps-input   [form]="fg" 
                        [errors]="formErrors"
                        label="ID."
                        type="text"
                        name="id" class="col-sm-6 col-md-3"></ps-input>
        </div>

        <div class="row">
            <ps-dropdown    [form]="fg"
                            [errors]="formErrors"
                            [autoWidth]="false"
                            [options]="resources"
                            [filter]="true"
                            name="resource_id"
                            class="col-sm-12 col-md-5">
            </ps-dropdown>
        </div>

        <div class="row">
            <ps-input   [form]="fg" 
                        [errors]="formErrors"
                        label="Name"
                        type="text"
                        name="name" class="col-12"></ps-input>
        </div>

        <div class="row">
            <ps-spinner     [form]="fg" 
                            [errors]="formErrors"
                            label="Width"
                            [min]="0"
                            name="width" class="col-sm-12 col-md-4"></ps-spinner>
                            
            <ps-spinner     [form]="fg" 
                            [errors]="formErrors"
                            label="Height"
                            [min]="0"
                            name="height" class="col-sm-12 offset-md-1 col-md-4"></ps-spinner>
        </div>

        <div class="row">
            <ps-multi-select    [form]="fg"
                                [errors]="formErrors"
                                label="Responsive sizes"
                                [options]="sizes"
                                name="sizes"
                                class="col-sm-12 col-md-6">
            </ps-multi-select>
        </div>

        <!-- buttons -->
        <div class="row justify-content-sm-center justify-content-md-start action-buttons">
            <ps-button  type="submit" 
                        icon="fa-check" 
                        label="Save" 
                        class="col-sm-10 col-md-3"></ps-button>

            <ps-button  type="button" 
                        icon="ui-icon-clear" 
                        label="Cancel" 
                        [routerLink]="[baseUri]"
                        class="col-sm-10 col-md-3"></ps-button>
        </div>
    </form>
</div>