<div class="container-fluid form-group">
    <h1>Product</h1>

    <form [formGroup]="fg" (ngSubmit)="postRecord(object)" novalidate>

        <input type="hidden" formControlName="lang_id">
        <input type="hidden" formControlName="subtotal">

        <p-tabView>
            <p-tabPanel header="Product" leftIcon="ui-icon-check" class="padding-top-20">
                
                <div class="row margin-top-30">
                    <ps-input   [form]="fg"
                                [errors]="formErrors"
                                label="ID."
                                type="text"
                                name="id" class="col-sm-6 col-md-3"></ps-input>

                    <ps-lang-label  [lang]="lang" class="offset-md-1 col-sm-6 col-md-3"></ps-lang-label>
                </div>

                <div class="row">
                    <ps-multi-select    [form]="fg"
                                        [errors]="formErrors"
                                        label="Select categories"
                                        [options]="categories"
                                        name="categories_id"
                                        class="col-sm-12 col-md-6">
                    </ps-multi-select>
                    <ps-input   [form]="fg" 
                                [errors]="formErrors"
                                label="Code"
                                type="text"
                                name="code" class="col-sm-12 offset-md-1 col-md-5"></ps-input>
                </div>

                <div class="row">
                    <ps-input   [form]="fg" 
                                [errors]="formErrors"
                                label="Name"
                                type="text"
                                name="name" class="col-12"></ps-input>
                </div>

                <div class="row">
                    <ps-input   [form]="fg" 
                                [errors]="formErrors"
                                label="Slug"
                                type="text"
                                name="slug" class="col-12"></ps-input>
                </div>

                <div class="row">
                    <ps-dropdown    [form]="fg"
                                    [errors]="formErrors"
                                    [autoWidth]="false"
                                    [options]="productTypes"
                                    name="type_id"
                                    class="col-sm-12 col-md-5">
                    </ps-dropdown>
                </div>

                <div class="row">
                    <ps-spinner     [form]="fg" 
                                    [errors]="formErrors"
                                    label="Weight"
                                    [min]="0"
                                    name="weight" class="col-sm-12 col-md-4"></ps-spinner>
                </div>

                <div class="row">
                    <ps-checkbox    [form]="fg"
                                    name="active"
                                    label="Active" class="col-sm-12 col-md-4"></ps-checkbox>
                                    
                    <ps-spinner     [form]="fg" 
                                    [errors]="formErrors"
                                    label="Sort"
                                    [min]="0"
                                    name="sort" class="col-sm-12 col-md-4"></ps-spinner>
                </div>

                <ps-form-header 
                                title="Group product"
                                icon="fa ui-icon-arrow-drop-down-circle"></ps-form-header>

                <div class="row">
                    <ps-dropdown    [form]="fg"
                                    [errors]="formErrors"
                                    [autoWidth]="false"
                                    [options]="products"
                                    [filter]="true"
                                    name="parent_id"
                                    class="col-sm-12 col-md-6">
                    </ps-dropdown>
                </div>

                <ps-form-header title="Prices and taxes"
                                icon="fa ui-icon-arrow-drop-down-circle"></ps-form-header>

                <div class="row">
                    <ps-dropdown    [form]="fg"
                                    [errors]="formErrors"
                                    [autoWidth]="false"
                                    [options]="priceTypes"
                                    name="price_type_id"
                                    class="col-sm-12 col-md-5">
                    </ps-dropdown>

                    <ps-input   [form]="fg" 
                                type="number"
                                [errors]="formErrors"
                                label="Price"
                                (onChange)="handleGetProductTaxes(fg.controls['price'].value)"
                                name="price" class="col-sm-12 offset-md-2 col-md-4"></ps-input>
                </div>

                <div class="row">
                    <ps-dropdown    [form]="fg"
                                    [errors]="formErrors"
                                    [autoWidth]="false"
                                    [options]="productClassTaxes"
                                    name="product_class_tax_id"
                                    (onChange)="handleGetProductTaxes(fg.controls['price'].value)"
                                    class="col-sm-12 col-md-5">
                    </ps-dropdown>

                    <ps-input   [form]="fg"
                                [errors]="formErrors"
                                label="Subtotal"
                                name="subtotal_format" class="col-sm-12 offset-md-2 col-md-4"></ps-input>
                </div>

                <div class="row">
                    <ps-input   [form]="fg" 
                                [errors]="formErrors"
                                label="Tax"
                                name="tax_format" class="col-sm-12 offset-md-7 col-md-4"></ps-input>
                </div>

                <div class="row">
                    <ps-input   [form]="fg" 
                                [errors]="formErrors"
                                label="Total"
                                name="total_format" class="col-sm-12 offset-md-7 col-md-4"></ps-input>
                </div>

                <ps-form-header title="Custom fields"
                                icon="fa ui-icon-arrow-drop-down-circle"></ps-form-header>

                <div class="row">
                    <ps-dropdown    [form]="fg"
                                    [errors]="formErrors"
                                    [autoWidth]="false"
                                    [options]="fieldGroups"
                                    (onChange)="handleGetCustomFields()"
                                    name="field_group_id"
                                    class="col-sm-12 col-md-6">
                    </ps-dropdown>
                </div>

                <!-- dynamic form -->
                <ng-container class="animated fadeIn" *ngFor="let field of fields">
                    <ps-dynamic-form    [field]="field"
                                        [errors]="formErrors"
                                        [lang]="lang.id"></ps-dynamic-form>
                </ng-container>
                <!-- /dynamic form -->


            </p-tabPanel>

            <p-tabPanel header="Descripton" leftIcon="ui-icon-edit">
                <ps-editor  [form]="fg" 
                            name="description"
                            placeholder="Enter here your text"
                            [heightMin]="400"></ps-editor>
            </p-tabPanel>

            <p-tabPanel header="Stocks" leftIcon="ui-icon-edit" *ngIf="dataRoute.action === 'edit'">
                <p-dataTable    #stocksDataTable
                                [value]="stocksData"
                                [editable]="true"
                                (onEditComplete)="handleOnEditComplete($event)">

                    <p-column field="name" header="Warehose"></p-column>
                    <p-column field="stock" header="Stock" [editable]="true"></p-column>
                    <!-- <p-column field="stock" header="Stock" [editable]="true">

                        <ng-template let-col let-stock="rowData" pTemplate="editor">
                            <input type="text" [value]="stock[col.field]" pInputText (blur)="handleBlurStock($event)" (keypress)="handleBlurStock($event)" appendTo="body"/>
                        </ng-template>
                        <ng-template let-col let-stock="rowData" pTemplate="body">
                            {{ stock[col.field] }} bb
                        </ng-template>

                    </p-column> -->
                    <p-column field="minimum_stock" header="Minimum stock" [editable]="true"></p-column>
                </p-dataTable>
            </p-tabPanel>

            <p-tabPanel header="Attachments" leftIcon="ui-icon-attachment">
                <ps-attachment-files-library    #attachments
                                                [value]="object.attachments"
                                                [form]="fg"
                                                name="attachments"
                                                [endpoint]="apiUrl + '/api/v1/admin/attachment-upload'"
                                                [families]="attachmentFamilies">
                </ps-attachment-files-library>
            </p-tabPanel>

        </p-tabView>

        <!-- buttons -->
        <div class="row justify-content-sm-center justify-content-md-start action-buttons margin-top-30">
            <ps-button  type="submit" 
                        icon="fa-check" 
                        label="Save" 
                        class="col-sm-10 col-md-3"></ps-button>

            <ps-button  type="button" 
                        icon="ui-icon-clear" 
                        label="Cancel" 
                        [routerLink]="[baseUri]"
                        class="col-sm-10 col-md-3"></ps-button>

            <ps-button  type="button" 
                        icon="ui-icon-clear" 
                        *ngIf="dataRoute.action === 'edit'"
                        label="Delete translation" 
                        (click)="deleteRecord(object)" 
                        className="red-btn"
                        class="col-sm-10 col-md-3"></ps-button>
        </div>
    </form>
</div>