<div class="page-layout carded fullwidth inner-scroll tabable">

    <dh2-spinner [show]="showSpinner"></dh2-spinner>

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="baseUri">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <fa-icon [icon]="['fas', 'passport']" class="mr-16" size="2x"></fa-icon>
                </div>

                <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="dataRoute.action ==='edit'">
                        {{ object.name }}
                    </div>
                    <div class="h2" *ngIf="dataRoute.action ==='create'">
                        {{ 'APPS.NEW.F' | translate }} {{ 'FOREM.INSCRIPTION' | translate }}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{ 'APPS.DETAIL' | translate }}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    type="submit"
                    form="formDetail"
                    class="fuse-white mt-16 mt-sm-0"
                    [disabled]="fg.pristine || loadingButton"
                    *ngIf="dataRoute.action ==='create'">
                {{ 'APPS.ADD' | translate }}
                <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
            </button>

            <button mat-raised-button
                    type="submit"
                    form="formDetail"
                    class="fuse-white mt-16 mt-sm-0"
                    [disabled]="fg.invalid || fg.pristine || loadingButton"
                    *ngIf="dataRoute.action ==='edit'">
                {{ 'APPS.SAVE' | translate }}
                <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">
                
                <form   id="formDetail"
                        class="w-100-p"
                        fxLayout="column"
                        fxFlex
                        [formGroup]="fg"
                        (ngSubmit)="postRecord(object)">

                    <mat-tab-group>
                    
                        <mat-tab label="{{ 'FOREM.PERSONAL_DATA' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <input type="hidden" formControlName="exported">
                                <input type="hidden" formControlName="student_id">

                                <div fxLayout="row" *ngIf="dataRoute.action === 'edit'">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-4">
                                        <mat-label>{{ 'APPS.ID' | translate }}</mat-label>
                                        <input matInput formControlName="id">
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-6">
                                        <mat-label>{{ 'APPS.GROUP' | translate }}</mat-label>
                                        <mat-select formControlName="group_id" required>
                                            <mat-option *ngFor="let group of groups" [value]="group.id">{{ group.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.group_id }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12">
                                        <mat-label>{{ 'APPS.NAME' | translate }}</mat-label>
                                        <input matInput formControlName="name" required>
                                        <mat-error>{{ formErrors?.name }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row" class="justify-content-between">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-5">
                                        <mat-label>{{ 'APPS.SURNAME' | translate }}</mat-label>
                                        <input matInput formControlName="surname">
                                        <mat-error>{{ formErrors?.surname }}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-5">
                                        <mat-label>{{ 'APPS.SECOND_SURNAME' | translate }}</mat-label>
                                        <input matInput formControlName="surname2">
                                        <mat-error>{{ formErrors?.surname2 }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-5 col-md-2">
                                        <mat-label>{{ 'APPS.GENDER' | translate }}</mat-label>
                                        <mat-select formControlName="gender_id">
                                            <mat-option *ngFor="let gender of genders" [value]="gender.id">{{ gender.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.gender_id }}</mat-error>
                                    </mat-form-field>

                                    <div class="col-5 offset-1 col-md-2">
                                        <dh2-datepicker label="{{ 'APPS.BIRTH_DATE' | translate }}"
                                                        format="YYYY-MM-DD"
                                                        formControlName="birth_date"
                                                        [errors]="formErrors">
                                        </dh2-datepicker>
                                    </div>
                                </div>

                                <div fxLayout="row" class="justify-content-between">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-5">
                                        <mat-label>{{ 'APPS.NIF' | translate }}</mat-label>
                                        <input matInput formControlName="tin">
                                        <mat-error>{{ formErrors?.tin }}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-5">
                                        <mat-label>{{ 'APPS.SSN' | translate }}</mat-label>
                                        <input matInput formControlName="ssn">
                                        <mat-error>{{ formErrors?.ssn }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-4">
                                        <mat-label>{{ 'APPS.EMAIL' | translate }}</mat-label>
                                        <input matInput formControlName="email">
                                        <mat-error>{{ formErrors?.email }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-3">
                                        <mat-label>{{ 'APPS.MOBILE' | translate }}</mat-label>
                                        <input matInput formControlName="mobile">
                                        <mat-error>{{ formErrors?.mobile }}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 offset-md-1 col-md-3">
                                        <mat-label>{{ 'APPS.PHONE' | translate }}</mat-label>
                                        <input matInput formControlName="phone">
                                        <mat-error>{{ formErrors?.phone }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-6 col-md-2">
                                        <mat-label>{{ 'FOREM.ADDRESS_TYPE' | translate }}</mat-label>
                                        <mat-select formControlName="address_type_id">
                                            <mat-option *ngFor="let addressType of addressTypes" [value]="addressType.id">{{ addressType.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.address_type_id }}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 offset-md-1 col-md-9">
                                        <mat-label>{{ 'APPS.ADDRESS' | translate }}</mat-label>
                                        <input matInput formControlName="address">
                                        <mat-error>{{ formErrors?.address }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-3">
                                        <mat-label>{{ 'FOREM.PROVINCE' | translate }}</mat-label>
                                        <mat-select formControlName="province_id">
                                            <mat-option *ngFor="let province of provinces" [value]="province.id">{{ province.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.province_id }}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-6 offset-md-1 col-md-3">
                                        <mat-label>{{ 'APPS.ZIP' | translate }}</mat-label>
                                        <input matInput formControlName="zip">
                                        <mat-error>{{ formErrors?.zip }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-3">
                                        <mat-label>{{ 'APPS.LOCALITY' | translate }}</mat-label>
                                        <mat-select formControlName="locality_id">
                                            <mat-option *ngFor="let locality of localities" [value]="locality.id">{{ locality.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.locality_id }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-12 col-md-2 py-20">
                                    <mat-checkbox formControlName="has_agent" (change)="handleChangeHasAgent($event)">{{ 'FOREM.HAS_AGENT' | translate }}</mat-checkbox>
                                </div>

                                <div>
                                    <div fxLayout="row">
                                        <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12">
                                            <mat-label>{{ 'APPS.NAME' | translate }}</mat-label>
                                            <input matInput formControlName="agent_name">
                                            <mat-error>{{ formErrors?.agent_name }}</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row" class="justify-content-between">
                                        <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-5">
                                            <mat-label>{{ 'APPS.SURNAME' | translate }}</mat-label>
                                            <input matInput formControlName="agent_surname">
                                            <mat-error>{{ formErrors?.agent_surname }}</mat-error>
                                        </mat-form-field>

                                        <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-5">
                                            <mat-label>{{ 'APPS.SECOND_SURNAME' | translate }}</mat-label>
                                            <input matInput formControlName="agent_surname2">
                                            <mat-error>{{ formErrors?.agent_surname2 }}</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row" class="justify-content-between">
                                        <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-5">
                                            <mat-label>{{ 'APPS.NIF' | translate }}</mat-label>
                                            <input matInput formControlName="agent_tin">
                                            <mat-error>{{ formErrors?.agent_tin }}</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row">
                                        <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12">
                                            <mat-label>{{ 'APPS.ADDRESS' | translate }}</mat-label>
                                            <input matInput formControlName="agent_address">
                                            <mat-error>{{ formErrors?.agent_address }}</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row">
                                        <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-3">
                                            <mat-label>{{ 'FOREM.PROVINCE' | translate }}</mat-label>
                                            <mat-select formControlName="agent_province_id">
                                                <mat-option *ngFor="let province of provinces" [value]="province.id">{{ province.name }}</mat-option>
                                            </mat-select>
                                            <mat-error>{{ formErrors?.province_id }}</mat-error>
                                        </mat-form-field>

                                        <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-6 offset-md-1 col-md-3">
                                            <mat-label>{{ 'APPS.ZIP' | translate }}</mat-label>
                                            <input matInput formControlName="agent_zip">
                                            <mat-error>{{ formErrors?.agent_zip }}</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row">
                                        <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-3">
                                            <mat-label>{{ 'APPS.LOCALITY' | translate }}</mat-label>
                                            <mat-select formControlName="agent_locality_id">
                                                <mat-option *ngFor="let locality of localities" [value]="locality.id">{{ locality.name }}</mat-option>
                                            </mat-select>
                                            <mat-error>{{ formErrors?.agent_locality_id }}</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row">
                                        <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-4">
                                            <mat-label>{{ 'APPS.EMAIL' | translate }}</mat-label>
                                            <input type="email" matInput formControlName="agent_email">
                                            <mat-error>{{ formErrors?.agent_email }}</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row">
                                        <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-3">
                                            <mat-label>{{ 'APPS.MOBILE' | translate }}</mat-label>
                                            <input matInput formControlName="agent_mobile">
                                            <mat-error>{{ formErrors?.agent_mobile }}</mat-error>
                                        </mat-form-field>

                                        <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 offset-md-1 col-md-3">
                                            <mat-label>{{ 'APPS.PHONE' | translate }}</mat-label>
                                            <input type="email" matInput formControlName="agent_phone">
                                            <mat-error>{{ formErrors?.agent_phone }}</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row">
                                        <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12">
                                            <mat-label>{{ 'FOREM.CONTACT_SCHEDULE' | translate }}</mat-label>
                                            <input matInput formControlName="agent_contact_schedule">
                                            <mat-error>{{ formErrors?.agent_contact_schedule }}</mat-error>
                                        </mat-form-field>
                                    </div>

                                </div>

                            </div>
                        </mat-tab>

                        <mat-tab label="{{ 'FOREM.EMPLOYMENT_DATA' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-4">
                                        <mat-label>{{ 'APPS.CODE' | translate }}</mat-label>
                                        <input matInput formControlName="code" type="number">
                                        <mat-error>{{ formErrors?.code }}</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-tab>

                        <mat-tab label="{{ 'FOREM.FOCO' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-4">
                                        <mat-label>{{ 'APPS.CODE' | translate }}</mat-label>
                                        <input matInput formControlName="code" type="number">
                                        <mat-error>{{ formErrors?.code }}</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-tab>

                    </mat-tab-group>

                </form>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
    
</div>
