<div class="layout-wrapper" [ngClass]="{'layout-compact':layoutCompact}">

    <div #layoutContainer class="layout-container" 
            [ngClass]="{'menu-layout-static': ! isOverlay(),
            'menu-layout-overlay': isOverlay(),
            'layout-menu-overlay-active': overlayMenuActive,
            'menu-layout-horizontal': isHorizontal(),
            'layout-menu-static-inactive': staticMenuDesktopInactive,
            'layout-menu-static-active': staticMenuMobileActive}">

        <ps-topbar></ps-topbar>

        <div class="layout-menu" [ngClass]="{'layout-menu-dark':darkMenu}" (click)="onMenuClick($event)">
            <div #layoutMenuScroller class="nano">
                <div class="nano-content menu-scroll-content">
                    <ps-profile *ngIf="profileMode=='inline' && ! isHorizontal()"></ps-profile>

                    <ps-menu    [packages]="packages"
                                [reset]="resetMenu"></ps-menu>
                    
                </div>
            </div>
        </div>
        
        <div class="layout-main">
            <router-outlet></router-outlet>
            <ps-footer></ps-footer>
        </div>
        
        <div class="layout-mask"></div>
    </div>

</div>