/* TEXT */
.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}
.capitalize {
    text-transform: capitalize;
}
.align-center {
    display: flex;
    justify-content: center;
}