/* TEXT */
.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}
.capitalize {
    text-transform: capitalize;
}
.align-center {
    display: flex;
    justify-content: center;
}

@for $i from 1 through 100 {
    // Set horizontal paddinghelpers
    .px-#{$i} {
        padding-left: #{$i}px !important; 
        padding-right: #{$i}px !important;  
    }
}