.new-btn {
    text-transform: uppercase;
}
.action-btn {
    text-transform: uppercase;
}
.translations-opt {
    .flag-icon {
        margin-right: 10px;
    }
}
#login {
    .mat-spinner {
        display: inline-block;
        margin-left: 20px;
        circle {
            stroke: #fff !important;
        }
    }
}

fuse-navbar .navbar-vertical .navbar-header .logo .logo-text {
    margin-left: 20px !important;
    letter-spacing: 1.5px !important;
    font-weight: 400 !important;
    white-space: nowrap !important;
    color: #F0FD31;
}

.tabable .content .mat-tab-label {
    height: 64px;
}

div.header-section {
    border-bottom: 1px solid #757575;
    padding-bottom: 7px;
}

.filter-close-icon .mat-icon {
    line-height: 1.5 !important;
}


.multi-line-snackbar {
    white-space: pre-line;
}
.red-snackbar .mat-simple-snackbar-action {
    color: red;
}
