<div class="row">
    <ps-input   [form]="form" 
                [errors]="errors"
                label="Address"
                name="address" 
                class="col-12"></ps-input>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <ps-dropdown    [form]="form"
                            [errors]="errors"
                            [autoWidth]="false"
                            [options]="countriesInput"
                            [filter]="true"
                            (onChange)="handleChangeCountry($event)"
                            name="country_id"
                            class="col-12">
            </ps-dropdown>
        </div>    
        <div class="row" *ngIf="territorialAreas1Input.length > 0">
            <ps-dropdown    [form]="form"
                            [errors]="errors"
                            [autoWidth]="false"
                            [options]="territorialAreas1Input"
                            [filter]="true"
                            (onChange)="handleChangeTerritorialArea1($event)"
                            name="territorial_area_1_id"
                            class="col-12">
            </ps-dropdown>
        </div>
        <div class="row" *ngIf="territorialAreas2Input.length > 0">
            <ps-dropdown    [form]="form"
                            [errors]="errors"
                            [autoWidth]="false"
                            [options]="territorialAreas2Input"
                            [filter]="true"
                            (onChange)="handleChangeTerritorialArea2($event)"
                            name="territorial_area_2_id"
                            class="col-12">
            </ps-dropdown>
        </div>
        <div class="row" *ngIf="territorialAreas3Input.length > 0">
            <ps-dropdown    [form]="form"
                            [errors]="errors"
                            [autoWidth]="false"
                            [options]="territorialAreas3Input"
                            [filter]="true"
                            name="territorial_area_3_id"
                            class="col-12">
            </ps-dropdown>
        </div>
        <div class="row">
                <ps-input   [form]="form" 
                            [errors]="errors"
                            label="CP"
                            name="cp" 
                            class="col-10"></ps-input>
        </div>
        <div class="row">
                <ps-input   [form]="form" 
                            [errors]="errors"
                            label="Locality"
                            name="locality" 
                            class="col-12"></ps-input>
        </div>
        <div class="row">
                <ps-input   [form]="form" 
                            [errors]="errors"
                            label="Latitude"
                            name="latitude" 
                            class="col-12"></ps-input>
        </div>
        <div class="row">
                <ps-input   [form]="form" 
                            [errors]="errors"
                            label="Longitude"
                            name="longitude" 
                            class="col-12"></ps-input>
        </div>
    </div>
    <div class="col-md-6">
        MAPA
    </div>
</div>