<div class="container-fluid form-group">
    <h1>Profile</h1>

    <form [formGroup]="fg" (ngSubmit)="onSubmit(this.fg, this.object)" novalidate>
        <div class="row">
            <ps-input   [form]="fg"
                        [errors]="formErrors" 
                        label="ID."
                        type="text"
                        name="id" class="col-sm-6 col-md-3"></ps-input>
        </div>
        <div class="row">
            <ps-input   [form]="fg"
                        [errors]="formErrors"
                        label="Name"
                        type="text"
                        name="name" class="col-12"></ps-input>
        </div>

        <div class="row justify-content-sm-center justify-content-md-start">
            <ps-button  type="submit" 
                        icon="fa-check" 
                        label="Save" 
                        class="col-sm-10 col-md-3"></ps-button>

            <ps-button  type="button" 
                        icon="ui-icon-clear" 
                        label="Cancel" 
                        [routerLink]="[this.objectService.baseUri]"
                        class="col-sm-10 col-md-3"></ps-button>
        </div>
    </form>
</div>