<ng-container>
    <mat-table [dataSource]="dataSource"
               fusePerfectScrollbar
               matSort
               matSortDisableClear>

        <!-- Column -->
        <ng-container matColumnDef="warehouse_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.warehouse_id }}</mat-cell>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="warehouse_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'STOCKABLE.WAREHOUSE' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.warehouse_name }}</mat-cell>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="stock">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'STOCKABLE.STOCK' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.stock }}</mat-cell>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="minimum_stock">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'STOCKABLE.MINIMUM_STOCK' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.minimum_stock }}</mat-cell>
        </ng-container>

        <!-- ACTIONS -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef class="align-center">{{ 'APPS.ACTIONS' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let row" class="align-center">
                <button mat-icon-button type="button" (click)="editStock(row)">
                    <mat-icon>mode_edit</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</ng-container>