<div class="page-layout carded fullwidth inner-scroll tabable">

    <horus-spinner [show]="showSpinner"></horus-spinner>

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="baseUri">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <mat-icon>supervised_user_circle</mat-icon>
                </div>

                <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="dataRoute.action ==='edit'">
                        {{ object.name }}
                    </div>
                    <div class="h2" *ngIf="dataRoute.action ==='create'">
                        {{ 'APPS.NEW.M' | translate }} {{ 'FOREM.GROUP' | translate }}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{ 'APPS.DETAIL' | translate }}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                type="submit"
                form="formDetail"
                class="fuse-white mt-16 mt-sm-0"
                [disabled]="fg.pristine || loadingButton || loadingSlug"
                *ngIf="dataRoute.action ==='create'">
                {{ 'APPS.ADD' | translate }}
                <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
            </button>

            <div *ngIf="dataRoute.action ==='edit'">
                <button mat-icon-button [matMenuTriggerFor]="menuList" [disableRipple]="false">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menuList="matMenu">
                    <button mat-menu-item 
                            type="submit"
                            form="formDetail"
                            [disabled]="fg.invalid || fg.pristine || loadingButton || loadingSlug">
                        <mat-icon>save</mat-icon>
                        <span>{{ 'APPS.SAVE' | translate }}</span>
                    </button>
                    <button mat-menu-item
                            (click)="exportInscriptions()">
                        <mat-icon>cloud_upload</mat-icon>
                        <span>{{ 'FOREM.EXPORT_INSCRIPTIONS' | translate }}</span>
                    </button>
                    <button mat-menu-item
                            (click)="fileInput.click()">
                        <mat-icon>cloud_download</mat-icon>
                        <span>{{ 'FOREM.IMPORT_STUDYING' | translate }}</span>
                    </button>
                    <input  hidden 
                            type="file" 
                            #fileInput
                            (change)="importInscriptions($event.target.files)" 
                            required>
                </mat-menu>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card fuse-white">

            <!-- CONTENT -->
            <div class="content">
                
                <form   id="formDetail"
                        class="col-12"
                        fxLayout="column"
                        fxFlex
                        [formGroup]="fg"
                        (ngSubmit)="postRecord(object)">

                    <mat-tab-group>

                        <mat-tab label="{{ 'APPS.PROPERTIES' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div fxLayout="row wrap">
                                    <mat-form-field *ngIf="dataRoute.action === 'edit'" [appearance]="horusConfig.fieldAppearance" class="col-md-3">
                                        <mat-label>{{ 'APPS.ID' | translate }}</mat-label>
                                        <input matInput formControlName="id">
                                    </mat-form-field>

                                    <mat-form-field *ngIf="dataRoute.resource !== 'forem-group-office'" [appearance]="horusConfig.fieldAppearance" class="col-md-3" [ngClass]="{'offset-md-1': dataRoute.action === 'edit'}">
                                        <mat-label>{{ 'APPS.PROFILE' | translate }}</mat-label>
                                        <mat-select formControlName="profile_id" required>
                                            <mat-option *ngFor="let profile of profiles" [value]="profile.id">{{ profile.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.profile_id }}</mat-error>
                                    </mat-form-field>

                                    <div class="offset-md-1 col-md-3 py-20">
                                        <mat-checkbox formControlName="is_countdown">{{ 'FOREM.IS_COUNTDOWN' | translate }}</mat-checkbox>
                                    </div>
                                    
                                    <input type="hidden"
                                           formControlName="profile_id"
                                           [value]="user.profile_id"
                                           *ngIf="dataRoute.resource !== 'forem-group-office'">
                                </div>

                                <div fxLayout="row wrap">
                                    <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-md-3">
                                        <mat-label>{{ 'FOREM.FORM_STEPS' | translate }}</mat-label>
                                        <mat-select formControlName="steps" multiple>
                                            <mat-option *ngFor="let step of steps" [value]="step.id">{{ step.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.steps }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row wrap">
                                    <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-md-3">
                                        <mat-label>{{ 'FOREM.EXPEDIENT' | translate }}</mat-label>
                                        <mat-select formControlName="expedient_id" (selectionChange)="handleChangeExpedient($event)" required>
                                            <mat-option *ngFor="let expedient of expedients" [value]="+expedient.id">{{ expedient.name }} ({{ modalities | getCollectionObjectValue:'id':expedient.modality_id:'code' }}{{ expedient.ambit ? '-' + expedient.ambit : '' }}{{ expedient.year }}{{ expedient.code ? '-' + expedient.code : '' }})</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.expedient_id }}</mat-error>
                                    </mat-form-field>
                                    <div class="mx-10 d-none d-md-flex justify-content-center align-items-center"><fa-icon [icon]="['fas', 'slash']" rotate="90"></fa-icon></div>
                                    <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-md-3">
                                        <mat-label>{{ 'FOREM.ACTION' | translate }}</mat-label>
                                        <mat-select formControlName="action_id" required (selectionChange)="handleChangeAction($event)">
                                            <mat-option *ngFor="let action of actions" [value]="action.id">{{ action.name }} ({{ action.code }})</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.action_id }}</mat-error>
                                    </mat-form-field>
                                    <div *ngIf="expedient.modality_id !== undefined && expedient.modality_id !== 1" class="mx-10 d-none d-md-flex justify-content-center align-items-center"><fa-icon [icon]="['fas', 'slash']" rotate="90"></fa-icon></div>
                                    <mat-form-field *ngIf="expedient.modality_id !== undefined && expedient.modality_id !== 1" [appearance]="horusConfig.fieldAppearance" class="col-md-2">
                                        <mat-label>{{ 'APPS.PREFIX' | translate }}</mat-label>
                                        <mat-select formControlName="prefix_id" [required]="expedient.modality_id !== 1">
                                            <mat-option *ngFor="let prefix of groupPrefixes" [value]="prefix.id">({{ prefix.id }}) {{ prefix.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.prefix_id }}</mat-error>
                                    </mat-form-field>
                                    <div class="mx-10 d-none d-md-flex justify-content-center align-items-center"><fa-icon [icon]="['fas', 'slash']" rotate="90"></fa-icon></div>
                                    <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-md-2">
                                        <mat-label>{{ 'APPS.CODE' | translate }}</mat-label>
                                        <input matInput formControlName="code" required>
                                        <mat-error>{{ formErrors?.code }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row wrap">
                                    <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-md-3">
                                        <mat-label>{{ 'APPS.TYPE' | translate }}</mat-label>
                                        <mat-select formControlName="type_id" required>
                                            <mat-option *ngFor="let type of types" [value]="+type.id">{{ type.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.type_id }}</mat-error>
                                    </mat-form-field>

                                    <div class="offset-md-2 col-md-2 py-20">
                                        <mat-checkbox formControlName="certificate" (change)="handleChangeCertificate($event)">{{ 'FOREM.CERTIFICATE' | translate }}</mat-checkbox>
                                    </div>

                                    <mat-form-field *ngIf="fg.get('certificate').value" [appearance]="horusConfig.fieldAppearance" class="col-md-3">
                                        <mat-label>{{ 'FOREM.CERTIFICATE_CODE' | translate }}</mat-label>
                                        <input matInput formControlName="certificate_code" [required]="fg.get('certificate').value">
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-md-3">
                                        <mat-label>{{ 'FOREM.ASSISTANCE' | translate }}</mat-label>
                                        <mat-select formControlName="assistance_id" required>
                                            <mat-option *ngFor="let assistance of assistances" [value]="+assistance.id">{{ assistance.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.assistance_id }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12">
                                        <mat-label>{{ 'APPS.NAME' | translate }}</mat-label>
                                        <input dh2Slug [model]="graphQL.model" [object]="object" [hasCheckLang]="false" (checkingSlug)="handleCheckingSlug($event)" matInput formControlName="name" required>
                                        <mat-error>{{ formErrors?.name }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12">
                                        <mat-label>{{ 'APPS.SLUG' | translate }}</mat-label>
                                        <mat-spinner *ngIf="loadingSlug" matPrefix mode="indeterminate" diameter="17" class="mr-10"></mat-spinner>
                                        <input dh2Slug #slug [model]="graphQL.model" [object]="object" [hasCheckLang]="false" (checkingSlug)="handleCheckingSlug($event)" matInput formControlName="slug" required>
                                        <mat-error>{{ formErrors?.slug }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row wrap">
                                    <div class="col-11 col-md-6">
                                        <mat-form-field [appearance]="horusConfig.fieldAppearance" fxFlex="grow">
                                            <mat-label>{{ 'NAV.CATEGORIES' | translate }}</mat-label>
                                            <mat-select formControlName="category_id" required>
                                                <ngx-mat-select-search [formControl]="categoryFilterCtrl"
                                                                       placeholderLabel="{{ 'APPS.SEARCH' | translate }}"
                                                                       noEntriesFoundLabel="{{ 'APPS.NO_MATCHING' | translate }}"></ngx-mat-select-search>
                                                <mat-option *ngFor="let category of filteredCategories | async" [value]="category.id">{{ category.name }}</mat-option>
                                            </mat-select>
                                            <mat-error>{{ formErrors?.category_id }}</mat-error>
                                        </mat-form-field>
                                        <button mat-icon-button type="button" class="mt-10" (click)="add(categoryDialogComponent, 'categories', filteredCategories, 'category_id')">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                    </div>
                                    <mat-form-field [appearance]="horusConfig.fieldAppearance" class="offset-md-1 col-md-5">
                                        <mat-label>{{ 'FOREM.TARGET' | translate }}</mat-label>
                                        <mat-select formControlName="target_id" required>
                                            <mat-option *ngFor="let target of targets" [value]="+target.id">{{ target.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.target_id }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-md-3">
                                        <mat-label>{{ 'FOREM.HOURS' | translate }}</mat-label>
                                        <input type="number" matInput formControlName="hours" required>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-md-3">
                                        <mat-label>{{ 'FOREM.SUBSIDIZED_AMOUNT' | translate }}</mat-label>
                                        <input type="number" matInput formControlName="subsidized_amount">
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row wrap">
                                    <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-md-3">
                                        <mat-label>{{ 'APPS.PRICE' | translate }}</mat-label>
                                        <input type="number" matInput formControlName="price_total">
                                    </mat-form-field>
                                    <mat-form-field [appearance]="horusConfig.fieldAppearance" class="offset-md-1 col-md-3">
                                        <mat-label>{{ 'FOREM.PRICE_HOUR' | translate }}</mat-label>
                                        <input type="number" matInput formControlName="price_hour">
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row wrap">
                                    <hr-datepicker class="col-md-3"
                                                   label="{{ 'FOREM.STARTS_AT' | translate }}"
                                                   format="YYYY-MM-DD"
                                                   formControlName="starts_at"
                                                   [appearance]="horusConfig.fieldAppearance"
                                                   [error]="formErrors.starts_at">
                                    </hr-datepicker>

                                    <hr-datepicker class="offset-md-1 col-md-3"
                                                   label="{{ 'FOREM.ENDS_AT' | translate }}"
                                                   format="YYYY-MM-DD"
                                                   formControlName="ends_at"
                                                   [appearance]="horusConfig.fieldAppearance"
                                                   [error]="formErrors.ends_at">
                                    </hr-datepicker>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12">
                                        <mat-label>{{ 'FOREM.SCHEDULE' | translate }}</mat-label>
                                        <input matInput formControlName="schedule">
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <hr-datepicker class="col-md-3"
                                                   label="{{ 'FOREM.SELECTION_DATE' | translate }}"
                                                   format="YYYY-MM-DD"
                                                   formControlName="selection_date"
                                                   [appearance]="horusConfig.fieldAppearance"
                                                   [error]="formErrors.selection_date">
                                    </hr-datepicker>
                                </div>

                                <div fxLayout="row wrap">
                                    <div class="col-md-3 py-20">
                                        <mat-checkbox formControlName="publish">{{ 'APPS.PUBLISH' | translate }}</mat-checkbox>
                                    </div>
                                    <div class="col-md-3 py-20">
                                        <mat-checkbox formControlName="open">{{ 'FOREM.OPEN' | translate }}</mat-checkbox>
                                    </div>
                                </div>

                                <div fxLayout="row">
                                    <div class="col-md-3 py-20">
                                        <mat-checkbox formControlName="featured">{{ 'APPS.FEATURED' | translate }}</mat-checkbox>
                                    </div>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col">
                                        <mat-label>{{ 'APPS.OBSERVATIONS' | translate }}</mat-label>
                                        <textarea   matInput
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="6"
                                                    formControlName="observations"></textarea>
                                        <mat-error>{{ formErrors?.observations }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <!-- HEADER -->
                                <div fxLayout="row" fxLayoutAlign="start center" class="my-24 header-section">
                                    <mat-icon class="m-0 mr-16">person_pin_circle</mat-icon>
                                    <div class="h2 secondary-text">{{ 'APPS.GEOLOCATION' | translate }}</div>
                                </div>
                                <!-- / HEADER -->

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12">
                                        <mat-label>{{ 'APPS.ADDRESS' | translate }}</mat-label>
                                        <input matInput formControlName="address">
                                        <mat-error>{{ formErrors?.address }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row wrap">
                                    <div class="col-md-5">

                                        <dh2-territories    [formGroup]="fg"
                                                            [formErrors]="formErrors"
                                                            [countries]="countries"></dh2-territories>

                                        <div fxLayout="row">
                                            <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-md-10">
                                                <mat-label>{{ 'APPS.ZIP' | translate }}</mat-label>
                                                <input matInput formControlName="zip">
                                                <mat-error>{{ formErrors?.zip }}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div fxLayout="row">
                                            <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-md-10">
                                                <mat-label>{{ 'APPS.LOCALITY' | translate }}</mat-label>
                                                <input matInput formControlName="locality">
                                                <mat-error>{{ formErrors?.locality }}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div fxLayout="row">
                                            <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-md-10">
                                                <mat-label>{{ 'APPS.LATITUDE' | translate }}</mat-label>
                                                <input matInput formControlName="latitude">
                                                <mat-error>{{ formErrors?.latitude }}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div fxLayout="row">
                                            <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-md-10">
                                                <mat-label>{{ 'APPS.LONGITUDE' | translate }}</mat-label>
                                                <input matInput formControlName="longitude">
                                                <mat-error>{{ formErrors?.longitude }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="col-md-7">
                                        <div fxLayout="row">
                                            <dh2-location-map [formGroup]="fg" class="offset-1 col-11"></dh2-location-map>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </mat-tab>

                        <mat-tab label="{{ 'FOREM.CONTENTS' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col">
                                        <mat-label>{{ 'FOREM.CONTENTS_EXCERPT' | translate }}</mat-label>
                                        <textarea   matInput
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="contents_excerpt"></textarea>
                                        <mat-error>{{ formErrors?.contents_excerpt }}</mat-error>
                                    </mat-form-field>
                                </div>
                                
                                <hr-ckeditor    placeholder="{{ 'FOREM.CONTENTS' | translate }}"
                                                formControlName="contents"></hr-ckeditor>
                                <mat-error>{{ formErrors?.contents }}</mat-error>
                            </div>
                        </mat-tab>

                        <mat-tab label="{{ 'FOREM.REQUIREMENTS' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <hr-ckeditor    placeholder="{{ 'FOREM.REQUIREMENTS' | translate }}"
                                                formControlName="requirements"></hr-ckeditor>
                                <mat-error>{{ formErrors?.requirements }}</mat-error>
                            </div>
                        </mat-tab>

                        <mat-tab label="{{ 'APPS.ATTACHMENTS' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <dh2-attachments    name="attachments"
                                                    placeholder="{{ 'APPS.DRAG_FILES' | translate }}"
                                                    [value]="object.attachments"
                                                    [form]="fg"
                                                    [families]="attachmentFamilies">
                                </dh2-attachments>

                            </div>
                        </mat-tab>

                        <mat-tab label="{{ 'FOREM.TRAINERS' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div fxLayout="row wrap">
                                    <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-md-5">
                                        <mat-label>{{ 'FOREM.TRAINER_NAME' | translate }}</mat-label>
                                        <input matInput formControlName="trainer_name_1">
                                    </mat-form-field>

                                    <mat-form-field [appearance]="horusConfig.fieldAppearance" class="offset-md-2 col-md-5">
                                        <mat-label>{{ 'FOREM.TRAINER_HOURS' | translate }}</mat-label>
                                        <input matInput formControlName="trainer_hours_1">
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row wrap">
                                    <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-md-5">
                                        <mat-label>{{ 'FOREM.TRAINER_NAME' | translate }}</mat-label>
                                        <input matInput formControlName="trainer_name_2">
                                    </mat-form-field>

                                    <mat-form-field [appearance]="horusConfig.fieldAppearance" class="offset-md-2 col-md-5">
                                        <mat-label>{{ 'FOREM.TRAINER_HOURS' | translate }}</mat-label>
                                        <input matInput formControlName="trainer_hours_2">
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row wrap">
                                    <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-md-5">
                                        <mat-label>{{ 'FOREM.TRAINER_NAME' | translate }}</mat-label>
                                        <input matInput formControlName="trainer_name_3">
                                    </mat-form-field>

                                    <mat-form-field [appearance]="horusConfig.fieldAppearance" class="offset-md-2 col-md-5">
                                        <mat-label>{{ 'FOREM.TRAINER_HOURS' | translate }}</mat-label>
                                        <input matInput formControlName="trainer_hours_3">
                                    </mat-form-field>
                                </div>

                            </div>
                        </mat-tab>

                        <mat-tab *ngIf="dataRoute.action !== 'create'" label="{{ 'FOREM.INSCRIBED' | translate | uppercase }}">
                            <div class="tab-content p-12" fusePerfectScrollbar>

                                <div fxLayout="row">
                                    <div class="col-12">
                                        <mat-table [dataSource]="dataSourceInscription"
                                                    fusePerfectScrollbar
                                                    matSort
                                                    matSortDisableClear>

                                            <!-- Column -->
                                            <ng-container matColumnDef="tin">
                                                <mat-header-cell class="mw-150" *matHeaderCellDef mat-sort-header>{{ 'APPS.TIN' | translate }}</mat-header-cell>
                                                <mat-cell class="mw-150" *matCellDef="let row">{{ row.tin }}</mat-cell>
                                            </ng-container>

                                            <!-- Column -->
                                            <ng-container matColumnDef="name">
                                                <mat-header-cell class="mw-200" *matHeaderCellDef mat-sort-header>{{ 'APPS.NAME' | translate }}</mat-header-cell>
                                                <mat-cell class="mw-200" *matCellDef="let row">{{ row.name }}</mat-cell>
                                            </ng-container>

                                            <!-- Column -->
                                            <ng-container matColumnDef="surname">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'APPS.SURNAME' | translate }}</mat-header-cell>
                                                <mat-cell *matCellDef="let row">{{ row.surname }}</mat-cell>
                                            </ng-container>

                                            <!-- Column -->
                                            <ng-container matColumnDef="email">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'APPS.EMAIL' | translate }}</mat-header-cell>
                                                <mat-cell *matCellDef="let row">{{ row.email }}</mat-cell>
                                            </ng-container>

                                            <!-- Column -->
                                            <ng-container matColumnDef="is_coursed">
                                                <mat-header-cell class="mw-80" *matHeaderCellDef mat-sort-header>{{ 'FOREM.CURSING' | translate }}</mat-header-cell>
                                                <mat-cell class="mw-80 justify-content-center" *matCellDef="let row">
                                                    <mat-icon *ngIf="row.is_coursed">done</mat-icon>
                                                </mat-cell>
                                            </ng-container>

                                            <!-- Column -->
                                            <ng-container matColumnDef="is_completed">
                                                <mat-header-cell class="mw-80" *matHeaderCellDef mat-sort-header>{{ 'APPS.COMPLETED.M' | translate }}</mat-header-cell>
                                                <mat-cell class="mw-80 justify-content-center" *matCellDef="let row">
                                                    <mat-icon *ngIf="row.is_completed">done</mat-icon>
                                                </mat-cell>
                                            </ng-container>

                                            <!-- actions -->
                                            <ng-container matColumnDef="actions">
                                                <mat-header-cell class="mw-80" *matHeaderCellDef>{{ 'APPS.ACTIONS' | translate }}</mat-header-cell>
                                                <mat-cell class="mw-80" *matCellDef="let row">
                                                    <ng-container *ngIf="!row.is_coursed && row.is_completed">
                                                        <button type="button" mat-icon-button [matMenuTriggerFor]="menuInscriptions">
                                                            <mat-icon>more_vert</mat-icon>
                                                        </button>
                                                        <mat-menu #menuInscriptions="matMenu">
                                                            <button type="button" mat-menu-item (click)="subscribe(row)">
                                                                <mat-icon>school</mat-icon>
                                                                <span>{{ 'FOREM.SUBSCRIBE_STUDENT' | translate }}</span>
                                                            </button>
                                                        </mat-menu>
                                                    </ng-container>
                                                </mat-cell>
                                            </ng-container>
                                            
                                            <mat-header-row *matHeaderRowDef="displayedColumnsInscription"></mat-header-row>
                                            <mat-row *matRowDef="let row; columns: displayedColumnsInscription;"></mat-row>
                                        </mat-table>
                                    </div>
                                </div>

                            </div>
                        </mat-tab>

                        <mat-tab *ngIf="dataRoute.action !== 'create'" label="{{ 'FOREM.CURSING' | translate | uppercase }}">
                            <div class="tab-content p-12" fusePerfectScrollbar>

                                <div fxLayout="row">
                                    <div class="col-12">
                                        <mat-table [dataSource]="dataSourceCourse"
                                                    fusePerfectScrollbar
                                                    matSort
                                                    matSortDisableClear>

                                            <!-- Column -->
                                            <ng-container matColumnDef="tin">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'APPS.TIN' | translate }}</mat-header-cell>
                                                <mat-cell *matCellDef="let row">{{ row.tin }}</mat-cell>
                                            </ng-container>

                                            <!-- Column -->
                                            <ng-container matColumnDef="name">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'APPS.NAME' | translate }}</mat-header-cell>
                                                <mat-cell *matCellDef="let row" [innerHtml]="row.name"></mat-cell>
                                            </ng-container>

                                            <!-- Column -->
                                            <ng-container matColumnDef="surname">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'APPS.SURNAME' | translate }}</mat-header-cell>
                                                <mat-cell *matCellDef="let row" [innerHtml]="row.surname"></mat-cell>
                                            </ng-container>

                                            <!-- Column -->
                                            <ng-container matColumnDef="email">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'APPS.EMAIL' | translate }}</mat-header-cell>
                                                <mat-cell *matCellDef="let row" [innerHtml]="row.email"></mat-cell>
                                            </ng-container>

                                            <!-- actions -->
                                            <ng-container matColumnDef="actions">
                                                <mat-header-cell *matHeaderCellDef>{{ 'APPS.ACTIONS' | translate }}</mat-header-cell>
                                                <mat-cell *matCellDef="let row">
                                                    <ng-container *ngIf="row.inscription_id">
                                                        <button type="button" mat-icon-button [matMenuTriggerFor]="menuCourse">
                                                            <mat-icon>more_vert</mat-icon>
                                                        </button>
                                                        <mat-menu #menuCourse="matMenu">
                                                            <button type="button" mat-menu-item (click)="unsubscribe(row)">
                                                                <mat-icon>delete</mat-icon>
                                                                <span>{{ 'FOREM.UNSUBSCRIBE_STUDENT' | translate }}</span>
                                                            </button>
                                                        </mat-menu>
                                                    </ng-container>
                                                </mat-cell>
                                            </ng-container>
                                            
                                            <mat-header-row *matHeaderRowDef="displayedColumnsCourse"></mat-header-row>
                                            <mat-row *matRowDef="let row; columns: displayedColumnsCourse;"></mat-row>
                                        </mat-table>
                                    </div>
                                </div>

                            </div>
                        </mat-tab>

                        <mat-tab label="{{ 'APPS.PRODUCT' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div fxLayout="row">
                                    <div class="py-20">
                                        <mat-checkbox formControlName="is_product">{{ 'APPS.IS_PRODUCT' | translate }}</mat-checkbox>
                                    </div>
                                </div>

                                <dh2-marketable (checkingPrice)="handleCheckingPrice($event)"
                                                [hiddenFields]="['sku', 'active', 'categories_id', 'sections_id', 'starts_at', 'ends_at', 'enable_from', 'enable_to', 'parent_id', 'name', 'slug']"
                                                [hidden]="! fg.get('is_product').value"
                                                [fg]="fg"
                                                [lang]="baseLang"
                                                [dataRoute]="dataRoute"
                                                [sections]="sections"
                                                [productClasses]="productClasses"
                                                [priceTypes]="priceTypes"
                                                [productClassTaxes]="productClassTaxes"></dh2-marketable>

                            </div>
                        </mat-tab>

                    </mat-tab-group>

                </form>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
    
</div>
