<h1>Countries {{ objects.length }}</h1>

<a class="btn btn-outline-primary" [routerLink]="[this.objectService.baseUri + '/create']">Nuevo elemeto</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Lang</th>
      <th>Name</th>
      <th>@</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let object of objects">
      <th scope="row">{{ object.id }}</th>
      <td>{{ object.lang_id }}</td>
      <td>{{ object.name }}</td>
      <td>
        <div class="dropdown">
            <a class="btn-floating btn-large" aria-hidden="true" id="dropdownMenuData" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuData">
                <a class="dropdown-item" [routerLink]="[this.objectService.baseUri + '/show', object.id, object.lang_id]">Editar</a>
                <a class="dropdown-item" (click)="deleteRecord(this.f, object)">Borrar</a>
            </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>