<h1>Country</h1>

<form [formGroup]="formDetail" (ngSubmit)="onSubmit(this.formDetail, this.object)" novalidate>

    <div class="ui-g form-group">

        <div class="ui-g-12 ui-md-4">
            <span class="md-inputfield">
                <input  formControlName="id" [ngModel]="object.id"
                        type="text" pInputText>
                <label>ID</label>
            </span>
        </div>

        <div class="ui-g-12">
            <span class="md-inputfield">
                <input  formControlName="name" [ngModel]="object.name"
                        type="text" pInputText>
                <label>Name</label>
            </span>
        </div>

        <div class="ui-g-3 ui-sm-12">
            <span class="md-inputfield">
                <input  formControlName="prefix" [ngModel]="object.prefix"
                        type="text" pInputText>
                <label>Prefix</label>
            </span>
        </div>

        <div class="ui-g-3 ui-sm-6">
            <span class="md-inputfield">
                <input  formControlName="sort" [ngModel]="object.sort"
                        type="number" pInputText>
                <label>Sort</label>
            </span>
        </div>

        <div class="ui-g-3 ui-sm-3 ui-sm-offset-2">
            <p-dropdown formControlName="lang_id" [options]="langs" [(ngModel)]="object.lang_id" [autoWidth]="false"></p-dropdown>
        </div>

        <div class="ui-g-12">
            <span class="md-inputfield">
                <input  formControlName="territorial_area_1" [ngModel]="object.territorial_area_1"
                        type="text" pInputText>
                <label>Territorial Area 1</label>
            </span>
        </div>

        <div class="ui-g-12">
            <span class="md-inputfield">
                <input  formControlName="territorial_area_2" [ngModel]="object.territorial_area_2"
                        type="text" pInputText>
                <label>Territorial Area 2</label>
            </span>
        </div>

        <div class="ui-g-12">
            <span class="md-inputfield">
                <input  formControlName="territorial_area_3" [ngModel]="object.territorial_area_3"
                        type="text" pInputText>
                <label>Territorial Area 3</label>
            </span>
        </div>

        <div class="ui-g-3 ui-sm-12">
            <button pButton type="submit" label="Save"></button>
        </div>
        <div class="ui-g-3 ui-sm-12">
            <button pButton [routerLink]="[this.objectService.baseUri]" 
                    type="button" label="Cancel"></button>
        </div>
        <div class="ui-g-3 ui-sm-12">
            <button pButton *ngIf="this.dataRoute.action === 'edit'" (click)="deleteRecord(object)" 
                    type="button" label="Delete" class="red-btn"></button>
        </div>

    </div>
 </form>