<div class="page-layout carded fullwidth inner-scroll tabable">

    <dh2-spinner [show]="showSpinner"></dh2-spinner>

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="baseUri">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <fa-icon [icon]="['fas', 'monument']" class="mr-16" size="2x"></fa-icon>
                </div>

                <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="dataRoute.action ==='edit'">
                        {{ object.current_name }}
                    </div>
                    <div class="h2" *ngIf="dataRoute.action ==='create'">
                        {{ 'APPS.NEW.M' | translate }} {{ 'INNOVA.MONUMENT' | translate }}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{ 'APPS.DETAIL' | translate }}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    type="submit"
                    form="formDetail"
                    class="fuse-white mt-16 mt-sm-0"
                    [disabled]="fg.pristine || loadingButton"
                    *ngIf="dataRoute.action ==='create'">
                {{ 'APPS.ADD' | translate }}
                <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
            </button>

            <button mat-raised-button
                    type="submit"
                    form="formDetail"
                    class="fuse-white mt-16 mt-sm-0"
                    [disabled]="fg.invalid || fg.pristine || loadingButton"
                    *ngIf="dataRoute.action ==='edit'">
                {{ 'APPS.SAVE' | translate }}
                <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">
                
                <form   id="formDetail"
                        class="w-100-p"
                        fxLayout="column"
                        fxFlex
                        [formGroup]="fg"
                        (ngSubmit)="postRecord(object)">

                    <mat-tab-group>

                        <mat-tab label="{{ 'APPS.PROPERTIES' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div fxLayout="row" *ngIf="dataRoute.action === 'edit'">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-6 col-md-2">
                                        <mat-label>{{ 'APPS.ID' | translate }}</mat-label>
                                        <input matInput formControlName="id">
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12">
                                        <mat-label>{{ 'INNOVA.ORIGINAL_NAME' | translate }}</mat-label>
                                        <input dh2Slug matInput formControlName="original_name">
                                        <mat-error>{{ formErrors?.original_name }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12">
                                        <mat-label>{{ 'INNOVA.CURRENT_NAME' | translate }}</mat-label>
                                        <input dh2Slug [model]="graphQL.model" [object]="object" (checkingSlug)="handleCheckingSlug($event)" matInput formControlName="current_name" required>
                                        <mat-error>{{ formErrors?.current_name }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col">
                                        <mat-label>{{ 'APPS.SLUG' | translate }}</mat-label>
                                        <mat-spinner *ngIf="loadingSlug" matPrefix mode="indeterminate" diameter="17" class="mr-10"></mat-spinner>
                                        <input dh2Slug [model]="graphQL.model" [object]="object" (checkingSlug)="handleCheckingSlug($event)" matInput formControlName="slug" required>
                                        <mat-error>{{ formErrors?.slug }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-6">
                                        <mat-label>{{ 'INNOVA.OTHER_DENOMINATIONS' | translate }}</mat-label>
                                        <input matInput formControlName="other_denominations">
                                        <mat-error>{{ formErrors?.other_denominations }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row wrap" class="d-flex justify-content-md-between">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-5">
                                        <mat-label>{{ 'INNOVA.ORIGINAL_USE' | translate }}</mat-label>
                                        <input matInput formControlName="original_use">
                                        <mat-error>{{ formErrors?.original_use }}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-5">
                                        <mat-label>{{ 'INNOVA.CURRENT_USE' | translate }}</mat-label>
                                        <input matInput formControlName="current_use">
                                        <mat-error>{{ formErrors?.current_use }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <!-- HEADER -->
                                <div fxLayout="row" fxLayoutAlign="start center" class="my-24 header-section">
                                    <mat-icon class="m-0 mr-16">supervised_user_circle</mat-icon>
                                    <div class="h2 secondary-text">{{ 'NAV.PEOPLE' | translate }}</div>
                                </div>
                                <!-- / HEADER -->

                                <div fxLayout="row wrap" class="d-flex justify-content-md-between">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-5">
                                        <mat-label>{{ 'INNOVA.ARCHITECTS' | translate }}</mat-label>
                                        <mat-select formControlName="architects_id" multiple>
                                            <mat-option *ngFor="let architect of architects" [value]="architect.id">{{ architect.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.architects_id }}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-5">
                                        <mat-label>{{ 'INNOVA.ENGINEERS' | translate }}</mat-label>
                                        <mat-select formControlName="engineers_id" multiple>
                                            <mat-option *ngFor="let engineer of engineers" [value]="engineer.id">{{ engineer.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.others_id }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row wrap" class="d-flex justify-content-md-between">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-5">
                                        <mat-label>{{ 'INNOVA.ARTISTS' | translate }}</mat-label>
                                        <mat-select formControlName="artists_id" multiple>
                                            <mat-option *ngFor="let artist of artists" [value]="artist.id">{{ artist.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.artists_id }}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-5">
                                        <mat-label>{{ 'INNOVA.OTHERS' | translate }}</mat-label>
                                        <mat-select formControlName="others_id" multiple>
                                            <mat-option *ngFor="let other of others" [value]="other.id">{{ other.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.others_id }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <!-- HEADER -->
                                <div fxLayout="row" fxLayoutAlign="start center" class="my-24 header-section">
                                    <mat-icon class="m-0 mr-16">shared</mat-icon>
                                    <div class="h2 secondary-text">{{ 'NAV.CHARACTERISTICS' | translate }}</div>
                                </div>
                                <!-- / HEADER -->

                                <div fxLayout="row wrap" class="d-flex justify-content-md-between">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-5">
                                        <mat-label>{{ 'INNOVA.REINFORCEMENT_TYPES' | translate }}</mat-label>
                                        <mat-select formControlName="reinforcement_types_id" multiple>
                                            <mat-option *ngFor="let reinforcementType of reinforcementTypes" [value]="reinforcementType.id">{{ reinforcementType.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.reinforcement_types_id }}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-5">
                                        <mat-label>{{ 'INNOVA.CONCRETE_TYPES' | translate }}</mat-label>
                                        <mat-select formControlName="concrete_types_id" multiple>
                                            <mat-option *ngFor="let typeConcrete of concreteTypes" [value]="typeConcrete.id">{{ typeConcrete.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.concrete_types_id }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row wrap" class="d-flex justify-content-md-between">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-5">
                                        <mat-label>{{ 'INNOVA.FINISHES' | translate }}</mat-label>
                                        <mat-select formControlName="finishes_id" multiple>
                                            <mat-option *ngFor="let finish of finishes" [value]="finish.id">{{ finish.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.finishes_id }}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-5">
                                        <mat-label>{{ 'INNOVA.CONSTRUCTION_METHODS' | translate }}</mat-label>
                                        <mat-select formControlName="construction_methods_id" multiple>
                                            <mat-option *ngFor="let constructionMethod of constructionMethods" [value]="constructionMethod.id">{{ constructionMethod.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.construction_methods_id }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-5">
                                        <mat-label>{{ 'INNOVA.STRUCTURAL_TYPES' | translate }}</mat-label>
                                        <mat-select formControlName="structural_types_id" multiple>
                                            <mat-option *ngFor="let structuralType of structuralTypes" [value]="structuralType.id">{{ structuralType.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.structural_types_id }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <!-- HEADER -->
                                <div fxLayout="row" fxLayoutAlign="start center" class="my-24 header-section">
                                    <mat-icon class="m-0 mr-16">view_headline</mat-icon>
                                    <div class="h2 secondary-text">{{ 'APPS.MISCELLANEOUS' | translate }}</div>
                                </div>
                                <!-- / HEADER -->

                                <div fxLayout="row wrap">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-2">
                                        <mat-label>{{ 'INNOVA.COMMISSION' | translate }}</mat-label>
                                        <input matInput formControlName="commission" type="number">
                                        <mat-error>{{ formErrors?.commission }}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 offset-md-1 col-md-2">
                                        <mat-label>{{ 'INNOVA.COMPLETION' | translate }}</mat-label>
                                        <input matInput formControlName="completion" type="number">
                                        <mat-error>{{ formErrors?.completion }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row wrap" class="d-flex justify-content-md-between">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-5">
                                        <mat-label>{{ 'INNOVA.RAPPORTEUR_NAME' | translate }}</mat-label>
                                        <input matInput formControlName="rapporteur_name">
                                        <mat-error>{{ formErrors?.rapporteur_name }}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-5">
                                        <mat-label>{{ 'INNOVA.RAPPORTEUR_EMAIL' | translate }}</mat-label>
                                        <input matInput formControlName="rapporteur_email">
                                        <mat-error>{{ formErrors?.rapporteur_email }}</mat-error>
                                    </mat-form-field>
                                </div>


                                <div fxLayout="row wrap">

                                    <div class="col-12 col-md-6">
                                        <div>
                                            <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-6 col-md-4">
                                                <mat-label>{{ 'INNOVA.RAPPORTEUR_DATE' | translate }}</mat-label>
                                                <input matInput formControlName="rapporteur_date" type="number">
                                                <mat-error>{{ formErrors?.rapporteur_date }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-6 col-md-4">
                                                <mat-label>{{ 'INNOVA.PERCENTAGE_PROGRESS' | translate }}</mat-label>
                                                <input matInput formControlName="rapporteur_date" type="number">
                                                <mat-error>{{ formErrors?.rapporteur_date }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 d-flex justify-content-end">

                                        <dh2-list-items name="links"
                                                        key="name"
                                                        class="col-12 col-md-10"
                                                        [object]="object"
                                                        [form]="fg"
                                                        [formControls]="linkFormControls"
                                                        title="{{ 'APPS.LINKS' | translate }}"
                                                        itemTitle="{{ 'APPS.LINK' | translate }}"></dh2-list-items>
                                    </div>

                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col">
                                        <mat-label>{{ 'APPS.DESCRIPTION' | translate }}</mat-label>
                                        <textarea   matInput
                                                    matTextareaAutosize
                                                    matAutosizeMinRows="4"
                                                    formControlName="description"></textarea>
                                        <mat-error>{{ formErrors?.description }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <!-- HEADER -->
                                <div fxLayout="row" fxLayoutAlign="start center" class="my-24 header-section">
                                    <mat-icon class="m-0 mr-16">person_pin_circle</mat-icon>
                                    <div class="h2 secondary-text">{{ 'APPS.GEOLOCATION' | translate }}</div>
                                </div>
                                <!-- / HEADER -->

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12">
                                        <mat-label>{{ 'APPS.ADDRESS' | translate }}</mat-label>
                                        <input dh2Slug matInput formControlName="address">
                                        <mat-error>{{ formErrors?.address }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row wrap">
                                    <div class="col-12 col-md-5">

                                        <div fxLayout="row">
                                            <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-10">
                                                <mat-label>{{ 'APPS.COUNTRY' | translate }}</mat-label>
                                                <mat-select formControlName="country_id" required>
                                                    <mat-option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</mat-option>
                                                </mat-select>
                                                <mat-error>{{ formErrors?.country_id }}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div fxLayout="row">
                                            <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-5">
                                                <mat-label>{{ 'APPS.ZIP' | translate }}</mat-label>
                                                <input matInput formControlName="zip">
                                                <mat-error>{{ formErrors?.zip }}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div fxLayout="row">
                                            <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-10">
                                                <mat-label>{{ 'APPS.LOCALITY' | translate }}</mat-label>
                                                <input dh2Slug matInput formControlName="locality" required>
                                                <mat-error>{{ formErrors?.locality }}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div fxLayout="row">
                                            <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-10">
                                                <mat-label>{{ 'APPS.LATITUDE' | translate }}</mat-label>
                                                <input matInput formControlName="latitude" required>
                                                <mat-error>{{ formErrors?.latitude }}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div fxLayout="row">
                                            <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-10">
                                                <mat-label>{{ 'APPS.LONGITUDE' | translate }}</mat-label>
                                                <input matInput formControlName="longitude" required>
                                                <mat-error>{{ formErrors?.longitude }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-7">

                                        <div fxLayout="row">
                                            <dh2-location-map [formGroup]="fg" class="offset-1 col-11"></dh2-location-map>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </mat-tab>

                        <mat-tab label="{{ 'APPS.IMAGES' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <dh2-attachments    name="attachments"
                                                    placeholder="{{ 'APPS.DRAG_FILES' | translate }}"
                                                    [value]="object.attachments"
                                                    [form]="fg"
                                                    [families]="attachmentFamilies">
                                </dh2-attachments>

                            </div>
                        </mat-tab>

                    </mat-tab-group>

                </form>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
    
</div>
