<div  class="page-layout carded fullwidth tabable" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="baseUri">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="product-image mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <mat-icon>add_shopping_cart</mat-icon>
                </div>

                <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="dataRoute.action ==='edit' || dataRoute.action ==='create-lang'">
                        {{ object.name }}
                    </div>
                    <div class="h2" *ngIf="dataRoute.action ==='create'">
                        {{ 'APPS.NEW.M' | translate }} {{ 'MARKET.ORDER' | translate }}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{ 'APPS.DETAIL' | translate }}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    type="submit"
                    form="formDetail"
                    class="action-btn mat-white-bg mt-16 mt-sm-0"
                    [disabled]="fg.pristine || loadingButton"
                    *ngIf="dataRoute.action ==='create'">
                <span>{{ 'APPS.ADD' | translate }}</span>
                <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
            </button>

            <button mat-raised-button
                    type="submit"
                    form="formDetail"
                    class="action-btn mat-white-bg mt-16 mt-sm-0"
                    [disabled]="fg.invalid || fg.pristine || loadingButton"
                    *ngIf="dataRoute.action ==='edit'">
                <span>{{ 'APPS.SAVE' | translate }}</span>
                <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">
                
                <form   id="formDetail"
                        class="col-12"
                        [formGroup]="fg"
                        (ngSubmit)="postRecord(object)"
                        fxLayout="column"
                        fxFlex>

                    <mat-tab-group>

                        <mat-tab label="{{ 'APPS.PROPERTIES' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div fxLayout="row" class="d-flex justify-content-between">
                                    <mat-form-field class="col-12 col-md-4">
                                        <input matInput placeholder="{{ 'APPS.ID' | translate }}" formControlName="id">
                                    </mat-form-field>

                                    <mat-form-field class="col-12 col-md-4">
                                        <input matInput placeholder="{{ 'APPS.IP' | translate }}" formControlName="ip">
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col-12 col-md-6">
                                        <mat-select placeholder="{{ 'APPS.STATUS' | translate }}" formControlName="status_id" required>
                                            <mat-option *ngFor="let orderStatus of orderStatuses" [value]="orderStatus.id">{{ orderStatus.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.status_id }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col-12 col-md-6">
                                        <mat-select placeholder="{{ 'MARKET.PAYMENT_METHOD' | translate }}" formControlName="payment_method_id" required>
                                            <mat-option *ngFor="let paymentMethod of paymentMethods" [value]="paymentMethod.id">{{ paymentMethod.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.payment_method_id }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <!-- HEADER -->
                                <div fxLayout="row" fxLayoutAlign="start center" class="my-24 header-section">
                                    <mat-icon class="m-0 mr-16">devices_other</mat-icon>
                                    <div class="h2 secondary-text">{{ 'NAV.PRODUCTS' | translate }}</div>
                                </div>
                                <!-- / HEADER -->

                                <!-- HEADER -->
                                <div fxLayout="row" fxLayoutAlign="start center" class="my-24 header-section">
                                    <mat-icon class="m-0 mr-16">local_grocery_store</mat-icon>
                                    <div class="h2 secondary-text">{{ 'NAV.CART_PRICE_RULES' | translate }}</div>
                                </div>
                                <!-- / HEADER -->
            
                                <!-- HEADER -->
                                <div fxLayout="row" fxLayoutAlign="start center" class="my-24 header-section">
                                    <mat-icon class="m-0 mr-16">euro_symbol</mat-icon>
                                    <div class="h2 secondary-text">{{ 'MARKET.PRICES_TAXES' | translate }}</div>
                                </div>
                                <!-- / HEADER -->




                               <!--  <div fxLayout="row">
                                    <mat-form-field class="col-12 col-md-5">
                                        <input matInput placeholder="{{ 'APPS.NAME' | translate }}" formControlName="name" required>
                                        <mat-error>{{ formErrors?.name }}</mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="col-12 offset-md-1 col-md-6">
                                        <input matInput placeholder="{{ 'APPS.SURNAME' | translate }}" formControlName="surname" required>
                                        <mat-error>{{ formErrors?.surname }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col-12 col-md-6">
                                        <input matInput placeholder="{{ 'APPS.EMAIL' | translate }}" formControlName="email" required>
                                        <mat-error>{{ formErrors?.email }}</mat-error>
                                    </mat-form-field>
                                </div> -->
            
                            </div>
                        </mat-tab>
                        <mat-tab label="{{ 'APPS.CUSTOMER' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
    
</div>