<div  class="page-layout carded fullwidth tabable" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="baseUri">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="product-image mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <mat-icon>add_shopping_cart</mat-icon>
                </div>

                <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="dataRoute.action ==='edit' || dataRoute.action ==='create-lang'">
                        {{ object.id }}
                    </div>
                    <div class="h2" *ngIf="dataRoute.action ==='create'">
                        {{ 'APPS.NEW.M' | translate }} {{ 'MARKET.ORDER' | translate }}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{ 'APPS.DETAIL' | translate }}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    type="submit"
                    form="formDetail"
                    class="action-btn mat-white-bg mt-16 mt-sm-0"
                    [disabled]="fg.pristine || loadingButton"
                    *ngIf="dataRoute.action ==='create'">
                <span>{{ 'APPS.ADD' | translate }}</span>
                <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
            </button>

            <button mat-raised-button
                    type="submit"
                    form="formDetail"
                    class="action-btn mat-white-bg mt-16 mt-sm-0"
                    [disabled]="fg.invalid || fg.pristine || loadingButton"
                    *ngIf="dataRoute.action ==='edit'">
                <span>{{ 'APPS.SAVE' | translate }}</span>
                <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">
                
                <form   id="formDetail"
                        class="col-12"
                        [formGroup]="fg"
                        (ngSubmit)="postRecord(object)"
                        fxLayout="column"
                        fxFlex>

                    <mat-tab-group>

                        <mat-tab label="{{ 'APPS.PROPERTIES' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div fxLayout="row wrap">

                                    <div class="col-12 col-md-6">

                                        <mat-form-field class="col-12 col-md-6">
                                            <input matInput placeholder="{{ 'APPS.ID' | translate }}" formControlName="id">
                                        </mat-form-field>

                                        <mat-form-field class="col-12 col-md-10">
                                            <input matInput placeholder="{{ 'APPS.DATE' | translate }}" [matDatepicker]="date" formControlName="date">
                                            <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                                            <mat-datepicker #date></mat-datepicker>
                                            <mat-error>{{ formErrors?.date }}</mat-error>
                                        </mat-form-field>

                                        <mat-form-field class="col-12 col-md-10">
                                            <mat-select placeholder="{{ 'APPS.STATUS' | translate }}" formControlName="status_id" required>
                                                <mat-option *ngFor="let orderStatus of orderStatuses" [value]="orderStatus.id">{{ orderStatus.name }}</mat-option>
                                            </mat-select>
                                            <mat-error>{{ formErrors?.status_id }}</mat-error>
                                        </mat-form-field>

                                        <mat-form-field class="col-12 col-md-10">
                                            <mat-select placeholder="{{ 'MARKET.PAYMENT_METHOD' | translate }}" formControlName="payment_method_id" required>
                                                <mat-option *ngFor="let paymentMethod of paymentMethods" [value]="paymentMethod.id">{{ paymentMethod.name }}</mat-option>
                                            </mat-select>
                                            <mat-error>{{ formErrors?.payment_method_id }}</mat-error>
                                        </mat-form-field>

                                        <mat-form-field class="col-12 col-md-10">
                                            <textarea   matInput
                                                        placeholder="{{ 'MARKET.COMMENTS' | translate }}"
                                                        matAutosizeMinRows="5"
                                                        formControlName="comments"></textarea>
                                            <mat-error>{{ formErrors?.comments }}</mat-error>
                                        </mat-form-field>

                                    </div>
                                    <div class="col-12 col-md-6">

                                        <mat-form-field class="col-12 col-md-10">
                                            <input matInput placeholder="{{ 'APPS.IP' | translate }}" formControlName="ip">
                                        </mat-form-field>

                                        <mat-form-field class="col-12 col-md-10">
                                            <input matInput placeholder="{{ 'MARKET.TRANSACTION_ID' | translate }}" formControlName="transaction_id">
                                        </mat-form-field>

                                        <p style="color:rgba(0, 0, 0, 0.38)">{{ 'MARKET.LOGS' | translate }}</p>
                                        <mat-list dense class="col-12 col-md-10" style="max-height: 145px; overflow: auto; border-bottom: #e0e0e0 solid 1px; margin-bottom: 23px">
                                            <mat-list-item>-- hola</mat-list-item>
                                            <mat-list-item>-- hola</mat-list-item>
                                            <mat-list-item>-- hola</mat-list-item>
                                            <mat-list-item>-- hola</mat-list-item>
                                            <mat-list-item>-- hola</mat-list-item>
                                        </mat-list>

                                    </div>

                                </div>

                                <mat-accordion [multi]="true">

                                    <!-- PRODUCTS -->
                                    <mat-expansion-panel [expanded]="dataSourceOrderRow.data?.length > 0">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                <mat-icon class="m-0 mr-16">devices_other</mat-icon> {{ dataSourceOrderRow.data?.length }} {{ 'NAV.PRODUCTS' | translate }}
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <div fxLayout="row">
                                            <div class="col-12">

                                                <mat-table [dataSource]="dataSourceOrderRow"
                                                           fusePerfectScrollbar
                                                           matSort
                                                           matSortDisableClear>

                                                    <!-- Column -->
                                                    <ng-container matColumnDef="name">
                                                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'APPS.NAME' | translate }}</mat-header-cell>
                                                        <mat-cell *matCellDef="let row" [innerHtml]="row.name"></mat-cell>
                                                    </ng-container>

                                                    <!-- Column -->
                                                    <ng-container matColumnDef="quantity">
                                                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'MARKET.QUANTITY' | translate }}</mat-header-cell>
                                                        <mat-cell *matCellDef="let row">{{ row.quantity }}</mat-cell>
                                                    </ng-container>

                                                    <!-- Column -->
                                                    <ng-container matColumnDef="subtotal">
                                                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'MARKET.SUBTOTAL' | translate }}</mat-header-cell>
                                                        <mat-cell *matCellDef="let row">{{ row.subtotal | currencyFormat }}</mat-cell>
                                                    </ng-container>

                                                    <mat-header-row *matHeaderRowDef="displayedColumnsOrderRow"></mat-header-row>
                                                    <mat-row *matRowDef="let row; columns: displayedColumnsOrderRow;"></mat-row>
                                                </mat-table>

                                            </div>
                                        </div>

                                    </mat-expansion-panel>
                                    <!-- / PRODUCTS -->

                                    <!-- CART PRICE RULES -->
                                    <mat-expansion-panel *ngIf="dataSourceOrderDiscount.data?.length > 0">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                <mat-icon class="m-0 mr-16">local_grocery_store</mat-icon> {{ dataSourceOrderDiscount.data?.length }} {{ 'NAV.CART_PRICE_RULES' | translate }}
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <div fxLayout="row">
                                            <div class="col-12">

                                                <mat-table [dataSource]="dataSourceOrderDiscount"
                                                           fusePerfectScrollbar
                                                           matSort
                                                           matSortDisableClear>

                                                    <!-- Column -->
                                                    <ng-container matColumnDef="names">
                                                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'APPS.NAME' | translate }}</mat-header-cell>
                                                        <mat-cell *matCellDef="let row">{{ row.names | getCollectionObjectValue:'id':baseLang:'value' }}</mat-cell>
                                                    </ng-container>

                                                    <!-- Column -->
                                                    <ng-container matColumnDef="coupon_code">
                                                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'MARKET.COUPON' | translate }}</mat-header-cell>
                                                        <mat-cell *matCellDef="let row">{{ row.coupon_code }}</mat-cell>
                                                    </ng-container>

                                                    <!-- Column -->
                                                    <ng-container matColumnDef="free_shipping">
                                                        <mat-header-cell *matHeaderCellDef mat-sort-header class="d-none d-sm-flex align-center">{{ 'MARKET.FREE_SHIPPING' | translate }}</mat-header-cell>
                                                        <mat-cell *matCellDef="let row" class="d-none d-sm-flex align-center">
                                                            <mat-icon *ngIf="row.free_shipping">done</mat-icon>
                                                        </mat-cell>
                                                    </ng-container>

                                                    <mat-header-row *matHeaderRowDef="displayedColumnsOrderDiscount"></mat-header-row>
                                                    <mat-row *matRowDef="let row; columns: displayedColumnsOrderDiscount;"></mat-row>
                                                </mat-table>

                                            </div>
                                        </div>

                                    </mat-expansion-panel>
                                    <!-- / CART PRICE RULES -->

                                </mat-accordion>
            
                                <!-- HEADER -->
                                <div fxLayout="row" fxLayoutAlign="start center" class="my-24 header-section">
                                    <mat-icon class="m-0 mr-16">euro_symbol</mat-icon>
                                    <div class="h2 secondary-text">{{ 'MARKET.PRICES_TAXES' | translate }}</div>
                                </div>
                                <!-- / HEADER -->

                                <div fxLayout="row wrap">

                                    <div class="col-12 col-md-6">

                                        <div fxLayout="row">
                                            <mat-form-field class="col-12 col-md-6">
                                                <input matInput placeholder="{{ 'MARKET.SUBTOTAL' | translate }}" formControlName="subtotal" [value]="fg.get('subtotal').value | currencyFormat">
                                                <mat-error>{{ formErrors?.subtotal }}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div fxLayout="row" *ngIf="fg.get('discount_amount').value > 0">
                                            <mat-form-field class="col-12 col-md-6">
                                                <input matInput placeholder="{{ 'APPS.DISCOUNT' | translate }}" formControlName="discount_amount" [value]="fg.get('discount_amount').value | currencyFormat">
                                                <mat-error>{{ formErrors?.discount_amount }}</mat-error>
                                            </mat-form-field>
                                        </div>

                                    </div>
                                    <div class="col-12 col-md-6">

                                        <div fxLayout="row">
                                            <mat-form-field class="col-12 col-md-6">
                                                <input matInput placeholder="{{ 'MARKET.SUBTOTAL_WITH_DISCOUNTS' | translate }}" formControlName="subtotal" [value]="fg.get('subtotal_with_discounts').value | currencyFormat">
                                                <mat-error>{{ formErrors?.subtotal }}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div fxLayout="row">
                                            <mat-form-field class="col-12 col-md-6">
                                                <input matInput placeholder="{{ 'MARKET.TAX' | translate }}" formControlName="tax_amount" [value]="fg.get('tax_amount').value | currencyFormat">
                                                <mat-error>{{ formErrors?.tax_amount }}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div fxLayout="row">
                                            <mat-form-field class="col-12 col-md-6">
                                                <input matInput placeholder="{{ 'MARKET.SHIPPING' | translate }}" formControlName="shipping_amount" [value]="fg.get('shipping_amount').value | currencyFormat">
                                                <mat-error>{{ formErrors?.shipping_amount }}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div fxLayout="row">
                                            <mat-form-field class="col-12 col-md-6">
                                                <input matInput placeholder="{{ 'MARKET.TOTAL' | translate }}" formControlName="total" [value]="fg.get('total').value | currencyFormat">
                                                <mat-error>{{ formErrors?.total }}</mat-error>
                                            </mat-form-field>
                                        </div>

                                    </div>

                                </div>
            
                            </div>
                        </mat-tab>
                        <mat-tab label="{{ 'APPS.CUSTOMER' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div fxLayout="row">
                                    <mat-form-field class="col-6 col-md-3">
                                        <input matInput placeholder="{{ 'APPS.ID' | translate }}" formControlName="customer_id" required>
                                        <mat-error>{{ formErrors?.customer_id }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <mat-form-field class="col-12 col-md-5">
                                    <mat-select placeholder="{{ 'APPS.CUSTOMER_GROUP' | translate }}" formControlName="customer_group_id">
                                        <mat-option *ngFor="let customerGroup of customerGroups" [value]="customerGroup.id">{{ customerGroup.name }}</mat-option>
                                    </mat-select>
                                    <mat-error>{{ formErrors?.customer_group_id }}</mat-error>
                                </mat-form-field>

                                <div fxLayout="row">
                                    <mat-form-field class="col-12 col-md-5">
                                        <input matInput placeholder="{{ 'APPS.NAME' | translate }}" formControlName="customer_name">
                                        <mat-error>{{ formErrors?.customer_name }}</mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="col-12 offset-md-1 col-md-6">
                                        <input matInput placeholder="{{ 'APPS.SURNAME' | translate }}" formControlName="customer_surname">
                                        <mat-error>{{ formErrors?.customer_surname }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row wrap">
                                    <mat-form-field class="col-12 col-md-5">
                                        <input matInput placeholder="{{ 'APPS.COMPANY' | translate }}" formControlName="customer_company">
                                        <mat-error>{{ formErrors?.customer_company }}</mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="col-12 offset-md-1 col-md-6">
                                        <input matInput placeholder="{{ 'APPS.TIN' | translate }}" formControlName="customer_tin">
                                        <mat-error>{{ formErrors?.customer_tin }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col-12 col-md-5">
                                        <input matInput placeholder="{{ 'APPS.EMAIL' | translate }}" formControlName="customer_email" required>
                                        <mat-error>{{ formErrors?.customer_email }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row wrap">
                                    <mat-form-field class="col-12 col-md-5">
                                        <input matInput placeholder="{{ 'APPS.MOBILE' | translate }}" formControlName="customer_mobile">
                                        <mat-error>{{ formErrors?.customer_mobile }}</mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="col-12 offset-md-1 col-md-6">
                                        <input matInput placeholder="{{ 'APPS.PHONE' | translate }}" formControlName="customer_phone">
                                        <mat-error>{{ formErrors?.customer_phone }}</mat-error>
                                    </mat-form-field>
                                </div>

                            </div>
                        </mat-tab>
                        <mat-tab>

                            <ng-template mat-tab-label>
                                {{ 'MARKET.SHIPPING' | translate | uppercase }}
                                <mat-icon class="font-17" *ngIf="this.fg.get('has_shipping')?.value">done</mat-icon>
                            </ng-template>

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div fxLayout="row wrap" class="justify-content-between mb-20">
                                    <div class="col-12">
                                        <mat-checkbox formControlName="has_shipping">{{ 'MARKET.HAS_SHIPPING' | translate }}</mat-checkbox>
                                    </div>
                                </div>

                                <div *ngIf="this.fg.get('has_shipping')?.value">

                                    <div fxLayout="row wrap">
                                        <div class="col-12 col-md-6">

                                            <div fxLayout="row wrap">
                                                <mat-form-field class="col-12 col-md-10">
                                                    <input matInput placeholder="{{ 'MARKET.TRACKING_ID' | translate }}" formControlName="shipping_tracking_id" autocomplete="off">
                                                    <mat-error>{{ formErrors?.shipping_tracking_id }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div fxLayout="row">
                                                <mat-form-field class="col-12 col-md-10">
                                                    <input matInput placeholder="{{ 'APPS.COMPANY' | translate }}" formControlName="shipping_company">
                                                    <mat-error>{{ formErrors?.shipping_company }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div fxLayout="row wrap">
                                                <mat-form-field class="col-12 col-md-10">
                                                    <textarea   matInput
                                                                class="h-88"
                                                                placeholder="{{ 'MARKET.COMMENTS' | translate }}"
                                                                matAutosizeMinRows="5"
                                                                formControlName="shipping_comments"></textarea>
                                                    <mat-error>{{ formErrors?.shipping_comments }}</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>

                                    <div fxLayout="row wrap">
                                        <mat-form-field class="col-12 col-md-5">
                                            <input matInput placeholder="{{ 'APPS.NAME' | translate }}" formControlName="shipping_name">
                                            <mat-error>{{ formErrors?.shipping_name }}</mat-error>
                                        </mat-form-field>
                                        <mat-form-field class="col-12 offset-md-1 col-md-6">
                                            <input matInput placeholder="{{ 'APPS.SURNAME' | translate }}" formControlName="shipping_surname">
                                            <mat-error>{{ formErrors?.shipping_surname }}</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row">
                                        <mat-form-field class="col-12 col-md-5">
                                            <input matInput placeholder="{{ 'APPS.EMAIL' | translate }}" formControlName="shipping_email">
                                            <mat-error>{{ formErrors?.shipping_email }}</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row wrap">
                                        <mat-form-field class="col-12 col-md-5">
                                            <input matInput placeholder="{{ 'APPS.MOBILE' | translate }}" formControlName="shipping_mobile">
                                            <mat-error>{{ formErrors?.shipping_mobile }}</mat-error>
                                        </mat-form-field>
                                        <mat-form-field class="col-12 offset-md-1 col-md-6">
                                            <input matInput placeholder="{{ 'APPS.PHONE' | translate }}" formControlName="shipping_phone">
                                            <mat-error>{{ formErrors?.shipping_phone }}</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row">
                                        <mat-form-field class="col-12">
                                            <input matInput placeholder="{{ 'APPS.ADDRESS' | translate }}" formControlName="shipping_address">
                                            <mat-error>{{ formErrors?.shipping_address }}</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row wrap">
                                        <div class="col-12 col-md-6">

                                            <div fxLayout="row">
                                                <mat-form-field class="col-12 col-md-6">
                                                    <input matInput placeholder="{{ 'APPS.ZIP' | translate }}" formControlName="shipping_zip">
                                                    <mat-error>{{ formErrors?.shipping_zip }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div fxLayout="row">
                                                <mat-form-field class="col-12 col-md-6">
                                                    <input matInput placeholder="{{ 'APPS.LOCALITY' | translate }}" formControlName="shipping_locality">
                                                    <mat-error>{{ formErrors?.shipping_locality }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div fxLayout="row">
                                                <mat-form-field class="col-12 col-md-10">
                                                    <input matInput placeholder="{{ 'APPS.LATITUDE' | translate }}" formControlName="shipping_latitude">
                                                    <mat-error>{{ formErrors?.shipping_latitude }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div fxLayout="row">
                                                <mat-form-field class="col-12 col-md-10">
                                                    <input matInput placeholder="{{ 'APPS.LONGITUDE' | translate }}" formControlName="shipping_longitude">
                                                    <mat-error>{{ formErrors?.shipping_longitude }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                        </div>
                                        <div class="col-12 col-md-6">
                                            MAPA
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </mat-tab>
                        <mat-tab>

                            <ng-template mat-tab-label>
                                {{ 'MARKET.INVOICE' | translate | uppercase }}
                                <mat-icon class="font-17" *ngIf="this.fg.get('has_invoice')?.value">done</mat-icon>
                            </ng-template>

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div fxLayout="row wrap" class="justify-content-between mb-20">
                                    <div class="col-12 col-md-6">
                                        <mat-checkbox formControlName="has_invoice">{{ 'MARKET.HAS_INVOICE' | translate }}</mat-checkbox>
                                    </div>
                                    <div class="col-12 col-md-6" *ngIf="this.fg.get('has_invoice')?.value">
                                        <mat-checkbox formControlName="invoiced">{{ 'MARKET.INVOICED' | translate }}</mat-checkbox>
                                    </div>
                                </div>

                                <div *ngIf="this.fg.get('has_invoice')?.value">

                                    <div fxLayout="row wrap">
                                        <div class="col-12 col-md-6">

                                            <div fxLayout="row wrap">
                                                <mat-form-field class="col-12 col-md-10">
                                                    <input matInput placeholder="{{ 'MARKET.INVOICE_NUMBER' | translate }}" formControlName="invoice_number" autocomplete="off">
                                                    <mat-error>{{ formErrors?.invoice_number }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div fxLayout="row">
                                                <mat-form-field class="col-12 col-md-10">
                                                    <input matInput placeholder="{{ 'APPS.EMAIL' | translate }}" formControlName="invoice_email">
                                                    <mat-error>{{ formErrors?.invoice_email }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div fxLayout="row wrap">
                                                <mat-form-field class="col-12 col-md-10">
                                                    <textarea   matInput
                                                                class="h-88"
                                                                placeholder="{{ 'MARKET.COMMENTS' | translate }}"
                                                                matAutosizeMinRows="5"
                                                                formControlName="invoice_comments"></textarea>
                                                    <mat-error>{{ formErrors?.invoice_comments }}</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>

                                    <div fxLayout="row">
                                        <mat-form-field class="col-12 col-md-5">
                                            <input matInput placeholder="{{ 'APPS.NAME' | translate }}" formControlName="invoice_name">
                                            <mat-error>{{ formErrors?.invoice_name }}</mat-error>
                                        </mat-form-field>
                                        <mat-form-field class="col-12 offset-md-1 col-md-6">
                                            <input matInput placeholder="{{ 'APPS.SURNAME' | translate }}" formControlName="invoice_surname">
                                            <mat-error>{{ formErrors?.invoice_surname }}</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row wrap">
                                        <mat-form-field class="col-12 col-md-5">
                                            <input matInput placeholder="{{ 'APPS.COMPANY' | translate }}" formControlName="invoice_company">
                                            <mat-error>{{ formErrors?.invoice_company }}</mat-error>
                                        </mat-form-field>
                                        <mat-form-field class="col-12 offset-md-1 col-md-6">
                                            <input matInput placeholder="{{ 'APPS.TIN' | translate }}" formControlName="invoice_tin">
                                            <mat-error>{{ formErrors?.invoice_tin }}</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row wrap">
                                        <mat-form-field class="col-12 col-md-5">
                                            <input matInput placeholder="{{ 'APPS.MOBILE' | translate }}" formControlName="invoice_mobile">
                                            <mat-error>{{ formErrors?.invoice_mobile }}</mat-error>
                                        </mat-form-field>
                                        <mat-form-field class="col-12 offset-md-1 col-md-6">
                                            <input matInput placeholder="{{ 'APPS.PHONE' | translate }}" formControlName="invoice_phone">
                                            <mat-error>{{ formErrors?.invoice_phone }}</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row">
                                        <mat-form-field class="col-12">
                                            <input matInput placeholder="{{ 'APPS.ADDRESS' | translate }}" formControlName="invoice_address">
                                            <mat-error>{{ formErrors?.invoice_address }}</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row wrap">
                                        <div class="col-12 col-md-6">

                                            <div fxLayout="row">
                                                <mat-form-field class="col-12 col-md-6">
                                                    <input matInput placeholder="{{ 'APPS.ZIP' | translate }}" formControlName="invoice_zip">
                                                    <mat-error>{{ formErrors?.invoice_zip }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div fxLayout="row">
                                                <mat-form-field class="col-12 col-md-6">
                                                    <input matInput placeholder="{{ 'APPS.LOCALITY' | translate }}" formControlName="invoice_locality">
                                                    <mat-error>{{ formErrors?.invoice_locality }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div fxLayout="row">
                                                <mat-form-field class="col-12 col-md-10">
                                                    <input matInput placeholder="{{ 'APPS.LATITUDE' | translate }}" formControlName="invoice_latitude">
                                                    <mat-error>{{ formErrors?.invoice_latitude }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div fxLayout="row">
                                                <mat-form-field class="col-12 col-md-10">
                                                    <input matInput placeholder="{{ 'APPS.LONGITUDE' | translate }}" formControlName="invoice_longitude">
                                                    <mat-error>{{ formErrors?.invoice_longitude }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                        </div>
                                        <div class="col-12 col-md-6">
                                            MAPA
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </mat-tab>
                        <mat-tab label="{{ 'MARKET.GIFT' | translate | uppercase }}">

                            <ng-template mat-tab-label>
                                {{ 'MARKET.GIFT' | translate | uppercase }}
                                <mat-icon class="font-17" *ngIf="this.fg.get('has_gift')?.value">done</mat-icon>
                            </ng-template>

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div fxLayout="row wrap" class="justify-content-between mb-20">
                                    <div class="col-12">
                                        <mat-checkbox formControlName="has_gift">{{ 'MARKET.HAS_GIFT' | translate }}</mat-checkbox>
                                    </div>
                                </div>

                                <div *ngIf="this.fg.get('has_gift')?.value">

                                    <div fxLayout="row wrap" class="justify-content-between">
                                        <mat-form-field class="col-12 col-md-5">
                                            <input matInput placeholder="{{ 'MARKET.GIFT_FROM' | translate }}" formControlName="gift_from">
                                            <mat-error>{{ formErrors?.gift_from }}</mat-error>
                                        </mat-form-field>
                                        <mat-form-field class="col-12 col-md-5">
                                            <input matInput placeholder="{{ 'MARKET.GIFT_TO' | translate }}" formControlName="gift_to">
                                            <mat-error>{{ formErrors?.gift_to }}</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row wrap" class="justify-content-between">
                                        <mat-form-field class="col-12 col-md-5">
                                                <textarea   matInput
                                                            placeholder="{{ 'MARKET.MESSAGE' | translate }}"
                                                            matAutosizeMinRows="10"
                                                            formControlName="gift_message"></textarea>
                                            <mat-error>{{ formErrors?.gift_message }}</mat-error>
                                        </mat-form-field>
                                        <mat-form-field class="col-12 col-md-5">
                                                <textarea   matInput
                                                            placeholder="{{ 'MARKET.COMMENTS' | translate }}"
                                                            matAutosizeMinRows="10"
                                                            formControlName="gift_comments"></textarea>
                                            <mat-error>{{ formErrors?.gift_comments }}</mat-error>
                                        </mat-form-field>
                                    </div>

                                </div>

                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
    
</div>