#attachment-library{
    display:block;
    position: relative;
    margin-top:20px;
    padding:15px 15px 0;
    width:100%;
    /*background-color: lightgrey;*/
}
#attachment-library a:hover,
#attachment-library a:focus,
#attachment-library a:active,
#attachment-library a:visited,
#attachment-library a{
    outline:none !important;
    text-decoration: none !important;
}

#library-placeholder{
    display: block;
    height: 250px;
    width: 100%;
    border: 2px dashed grey;
    border-radius: 2px;
    margin: 0 0 15px;
}
#library-placeholder p{
    color: grey;
    text-align: center;
    font-size: 20px;
    line-height: 250px;
}

#library-sortable{
    display: block;
    position: relative;
    margin: 0 -15px;
    list-style: none;
    padding:0;
}

#attachment-library-mask{
    position: absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(96, 125, 139, 0.85);
    color:rgb(255,255,255);
    font-size:20px;
    line-height: 20px;
    text-align: center;
    padding-top: 20%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s ease-out 0s, visibility 0.3s ease-out 0s;
    -moz-transition: opacity 0.3s ease-out 0s, visibility 0.3s ease-out 0s;
    -ms-transition: opacity 0.3s ease-out 0s, visibility 0.3s ease-out 0s;
    -o-transition: opacity 0.3s ease-out 0s, visibility 0.3s ease-out 0s;
    transition: opacity 0.3s ease-out 0s, visibility 0.3s ease-out 0s;
}

#attachment-library-mask::before{
    content: '';
    display: block;
    position: absolute;
    top:15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    background-color: transparent;
    border: 2px dashed rgb(255,255,255);
}

/*#attachment-library-mask.active{
   opacity: 1 !important;
   visibility: visible !important;
}

#attachment-library-mask.active ~ div #library-placeholder{
   opacity: 0 !important;
   visibility: hidden !important;
}*/