<div class="card login-panel ui-fluid">
    <div class="ui-g">
        <form [formGroup]="fg" (ngSubmit)="postRecord()" novalidate>
            <div class="ui-g-12">
                <img src="../../assets/layout/images/logo-pulsar.png">
            </div>
            <div class="ui-g-12">
                <span class="md-inputfield">
                    <ps-input   
                        [form]="fg" 
                        label="Username"
                        type="text"
                        name="user" 
                        class="col-12"></ps-input>
                </span>
            </div>
            <div class="ui-g-12">
                <span class="md-inputfield">
                    <ps-input   
                        [form]="fg" 
                        label="Password"
                        type="password"
                        name="password" 
                        class="col-12"></ps-input>
                </span>
            </div>
            <div class="ui-g-12">
                <button type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left">
                    <span class="ui-button-icon-left ui-c fa fa-fw ui-icon-person"></span>
                    <span class="ui-button-text ui-c">Sign In</span>
                </button>
            </div>
            <div class="ui-g-12">
                <ps-messages [value]="msgs"></ps-messages>
            </div>
        </form>
    </div>
</div>