<div class="container-fluid form-group">
    <h1>Customer</h1>
    
    <form [formGroup]="fg" (ngSubmit)="postRecord(object)" novalidate>
        <p-tabView>
            <p-tabPanel header="Personal data" leftIcon="ui-icon-check" class="padding-top-20">

                <div class="row margin-top-30">
                    <ps-input   [form]="fg" 
                                [errors]="formErrors"
                                label="ID."
                                type="text"
                                name="id" class="col-sm-6 col-md-3"></ps-input>
                    <ps-dropdown    [form]="fg"
                                    [errors]="formErrors"
                                    [autoWidth]="false"
                                    [options]="groups"
                                    name="group_id"
                                    class="col-sm-12 col-md-5">
                    </ps-dropdown>
                </div>

                <div class="row">
                    <ps-input   [form]="fg" 
                                [errors]="formErrors"
                                label="Name"
                                type="text"
                                name="name" class="col-sm-12 col-md-4"></ps-input>

                    <ps-input   [form]="fg" 
                                [errors]="formErrors"
                                label="Surname"
                                type="text"
                                name="surname" class="col-sm-12 col-md-8"></ps-input>
                </div>
                
                <div class="row">
                    <ps-input   [form]="fg" 
                                [errors]="formErrors"
                                label="Email"
                                type="email"
                                name="email" class="col-sm-12 col-md-6"></ps-input>
                </div>

                <div class="row">
                    <ps-input   [form]="fg" 
                                [errors]="formErrors"
                                label="Address"
                                type="text"
                                name="address" class="col-sm-12"></ps-input>
                </div>
                
                <ps-form-header title="Access data" icon="fa ui-icon-subject"></ps-form-header>

                <div class="row">
                    <ps-input   [form]="fg" 
                                [errors]="formErrors"
                                label="User"
                                type="text"
                                name="user" class="col-sm-12 col-md-6"></ps-input>
                </div>  
                <div class="row">
                    <ps-input   [form]="fg" 
                                [errors]="formErrors"
                                label="Password"
                                type="password"
                                name="password" class="col-12 col-md-6"></ps-input>
                </div>
                <div class="row">
                    <ps-input   [form]="fg" 
                                [errors]="formErrors"
                                label="Repeat password"
                                type="password"
                                name="re_password" class="col-12 col-md-6"></ps-input>
                </div>
                <div class="row">
                    <ps-checkbox    [form]="fg"
                                    name="active"
                                    label="Active" class="col-sm-12"></ps-checkbox>
                </div>
                
                
            </p-tabPanel>

            <p-tabPanel header="Addreses" leftIcon="ui-icon-edit">
            </p-tabPanel>

            <p-tabPanel *ngIf="family?.attachments" header="Attachments" leftIcon="ui-icon-attachment">
                <ps-attachment-files-library    #attachments
                                                [value]="object.attachments"
                                                [form]="fg"
                                                name="attachments"
                                                [endpoint]="apiUrl + '/api/v1/admin/attachment-upload'"
                                                [families]="attachmentFamilies">
                </ps-attachment-files-library>
            </p-tabPanel>
        </p-tabView>


        <!-- buttons -->
        <div class="row justify-content-sm-center justify-content-md-start action-buttons margin-top-30">
            <ps-button  type="submit" 
                        icon="fa-check" 
                        label="Save" 
                        class="col-sm-10 col-md-3"></ps-button>

            <ps-button  type="button" 
                        icon="ui-icon-clear" 
                        label="Cancel" 
                        [routerLink]="[baseUri]"
                        class="col-sm-10 col-md-3"></ps-button>
        </div>
    </form>
</div>