/* TEXT */
.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}
.capitalize {
    text-transform: capitalize;
}
.pointer {
    cursor: pointer;
}
.full-width {
    width: 100%;
}

@for $i from 0 through 100 {
    // PADDING
    .p-#{$i} {
        padding-top: #{$i}px !important;
        padding-right: #{$i}px !important;
        padding-bottom: #{$i}px !important;
        padding-left: #{$i}px !important;
    }
    .px-#{$i} {
        padding-left: #{$i}px !important;
        padding-right: #{$i}px !important;
    }
    .py-#{$i} {
        padding-top: #{$i}px !important;
        padding-bottom: #{$i}px !important;
    }
    .pt-#{$i} {
        padding-top: #{$i}px !important;
    }
    .pr-#{$i} {
        padding-right: #{$i}px !important;
    }
    .pb-#{$i} {
        padding-bottom: #{$i}px !important;
    }
    .pl-#{$i} {
        padding-left: #{$i}px !important;
    }

    // MARGIN
    .m-#{$i} {
        margin-top: #{$i}px !important;
        margin-right: #{$i}px !important;
        margin-bottom: #{$i}px !important;
        margin-left: #{$i}px !important;
    }
    .mx-#{$i} {
        margin-left: #{$i}px !important;
        margin-right: #{$i}px !important;
    }
    .my-#{$i} {
        margin-top: #{$i}px !important;
        margin-bottom: #{$i}px !important;
    }
    .mt-#{$i} {
        margin-top: #{$i}px !important;
    }
    .mr-#{$i} {
        margin-right: #{$i}px !important;
    }
    .mb-#{$i} {
        margin-bottom: #{$i}px !important;
    }
    .ml-#{$i} {
        margin-left: #{$i}px !important;
    }

    // WIDTH
    .w-#{$i} {
        width: #{$i}px !important;
    }

    // HEIGHT
    .h-#{$i} {
        height: #{$i}px !important;
    }

    // MAX-WIDTH
    .mw-#{$i * 10} {
        max-width: #{$i * 10}px !important;
    }

    // MAX-HEIGHT
    .mh-#{$i * 10} {
        max-height: #{$i * 10}px !important;
    }

    // FONT SIZE
    .fs-#{$i} {
        font-size: #{$i}px !important;
    }

    // LINE HEIGHT
    .lh-#{$i} {
        line-height: #{$i}px !important;
    }

    // TOP
    .t-#{$i} {
        top: #{$i}px !important;
    }

    // RIGHT
    .r-#{$i} {
        right: #{$i}px !important;
    }

    // BOTTOM
    .b-#{$i} {
        bottom: #{$i}px !important;
    }

    // LEFT
    .l-#{$i} {
        left: #{$i}px !important;
    }
}

@for $i from 0 through 10 {
    // FONT SIZE
    .fs-#{$i * 10}-per {
        font-size: #{($i * 10) + '%'} !important;
    }
    // WIDTH
    .w-#{$i * 10}-per {
        width: #{($i * 10) + '%'} !important;
    }
}

// MATERIAL SHADOWS FROM 0 TO 24
@for $i from 0 through 24 {
    .elevation-z#{$i} {
        @include mat-elevation($i);
    }
}