.mat-checkbox-label-before .mat-checkbox-inner-container {
    margin-left: 13px !important;
}

.mat-raised-button {
    .mat-spinner {
        display: inline;
        margin: 0 15px 0 15px;
        circle {
            stroke: #fff !important;
        }
    }
}
.mat-chip-list-wrapper {
    margin: 0 !important;
}

.material-hint {
    font-size:12px; 
    color:rgba(0,0,0,0.54); 
    margin-top: 3px; 
    margin-bottom: 1px;
}

// set input search colors in list elements
body.theme-default {
    .mat-form-field.search-form-field.mat-focused {
        .mat-form-field-ripple {
            background-color: #fff;
        }
        .mat-form-field-label {
            color: #fff;
        }
        .mat-input-element {
            caret-color: #fff;
        }
    }
}