.mat-checkbox-label-before .mat-checkbox-inner-container {
    margin-left: 13px !important;
}

[mat-button].action-btn, [mat-raised-button].action-btn { 
    text-transform: uppercase;
    
    .mat-button-wrapper { 
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 36px;
        .mat-spinner {
            circle {
                stroke: #fff !important;
            }
        }
    }
    .mat-button-wrapper mat-spinner { 
        margin-left: 10px;
    }
}

.material-hint {
    font-size:12px; 
    color:rgba(0,0,0,0.54); 
    margin-top: 3px; 
    margin-bottom: 1px;
}
