.new-btn {
    text-transform: uppercase;
}
.translations-opt {
    .flag-icon {
        margin-right: 10px;
    }
}

navbar-vertical-style-2 .navbar-header .logo .logo-text {
    margin-left: 20px !important;
    letter-spacing: 1.5px !important;
    font-weight: 400 !important;
    white-space: nowrap !important;
    color: $dh2-primary-color;
}

.tabable .content .mat-tab-label {
    height: 64px;
}

div.header-section {
    border-bottom: 1px solid #757575;
    padding-bottom: 7px;
}

.filter-close-icon .mat-icon {
    line-height: 1.5 !important;
}

.field-with-description {
    margin-bottom: 15px;
}

.multi-line-snackbar {
    white-space: pre-line;
}
.red-snackbar .mat-simple-snackbar-action {
    color: red;
}

.search-form-field.mat-focused .mat-form-field-label {
    color: white;
}

.warn-color {
    color: $dh2-warn-color;
}

.hint {
    padding-bottom: 20px;
}

.add-fab-btn {
    position: absolute !important;
    bottom: 12px;
    right: 12px;
    padding: 0 !important;
    z-index: 99;
}


