<div class="page-layout carded fullwidth inner-scroll">

    <horus-spinner [show]="showSpinner"></horus-spinner>

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="baseUri">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <mat-icon>chrome_reader_mode</mat-icon>
                </div>

                <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="dataRoute.action ==='edit' || dataRoute.action ==='create-lang'">
                        {{ object.name }}
                    </div>
                    <div class="h2" *ngIf="dataRoute.action ==='create'">
                        {{ 'APPS.NEW.F' | translate }} {{ 'APPS.CATEGORY' | translate }}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{ 'APPS.DETAIL' | translate }}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <div fxLayoutGap="30px">
                <button mat-raised-button
                        type="submit"
                        form="formDetail"
                        class="fuse-white mt-16 mt-sm-0"
                        [disabled]="fg.pristine || loadingButton"
                        *ngIf="dataRoute.action ==='create'">
                    {{ 'APPS.ADD' | translate }}
                    <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>

                <button mat-raised-button
                        type="submit"
                        form="formDetail"
                        class="fuse-white mt-16 mt-sm-0"
                        [disabled]="fg.invalid || loadingButton"
                        *ngIf="dataRoute.action ==='create-lang'">
                    {{ 'APPS.TRANSLATE' | translate }}
                    <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>

                <button mat-raised-button
                        type="submit"
                        form="formDetail"
                        class="fuse-white mt-16 mt-sm-0"
                        [disabled]="fg.invalid || fg.pristine || loadingButton"
                        *ngIf="dataRoute.action ==='edit'">
                    {{ 'APPS.SAVE' | translate }}
                    <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>

                <button mat-raised-button
                        class="mat-red-400-bg primary-text mt-16 mt-sm-0"
                        [disabled]="loadingTranslationButton"
                        *ngIf="dataRoute.action ==='edit' && lang.id !== baseLang.id"
                        (click)="deleteRecord(object)">
                    <span *ngIf="lang.id !== baseLang.id">{{ 'APPS.DELETE_TRANSLATION' | translate }}</span>
                    <mat-spinner *ngIf="loadingTranslationButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card fuse-white p-24">

            <!-- CONTENT -->
            <div class="content">
                <form   id="formDetail"
                        [formGroup]="fg"
                        (ngSubmit)="postRecord(object)">

                    <div fxLayout="row wrap">
                        <mat-form-field [appearance]="horusConfig.fieldAppearance" *ngIf="dataRoute.action !== 'create'" class="col-12 col-md-4">
                            <mat-label>{{ 'APPS.ID' | translate }}</mat-label>
                            <input matInput formControlName="id">
                        </mat-form-field>
                        <dh2-flag-icon [class.offset-md-1]="dataRoute.action !== 'create'" class="col-12 col-md-4" [lang]="lang" size="22px" [rounded]="true" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'25px'}}"></dh2-flag-icon>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12 col-md-6 field-with-description">
                            <mat-label>{{ 'MARKET.PARENT_CATEGORY' | translate }}</mat-label>
                            <mat-select formControlName="parent_id">
                                <mat-option>{{ 'APPS.NONE.M' | translate }}</mat-option>
                                <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
                            </mat-select>
                            <mat-hint align="start">{{ 'MARKET.PARENT_CATEGORY_DESCRIPTION' | translate }}</mat-hint>
                            <mat-error>{{ formErrors?.parent_id }}</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12">
                            <mat-label>{{ 'APPS.NAME' | translate }}</mat-label>
                            <input dh2Slug [model]="graphQL.model" [object]="object" (checkingSlug)="handleCheckingSlug($event)" matInput formControlName="name" required>
                            <mat-error>{{ formErrors?.name }}</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12">
                            <mat-label>{{ 'APPS.SLUG' | translate }}</mat-label>
                            <mat-spinner *ngIf="loadingSlug" matPrefix mode="indeterminate" diameter="17" class="mr-10"></mat-spinner>
                            <input dh2Slug [model]="graphQL.model" [object]="object" (checkingSlug)="handleCheckingSlug($event)" matInput formControlName="slug" required>
                            <mat-error>{{ formErrors?.slug }}</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <div class="col-12 py-20">
                            <mat-checkbox formControlName="active">{{ 'APPS.ACTIVE.F' | translate }}</mat-checkbox>
                        </div>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field [appearance]="horusConfig.fieldAppearance" class="col-12">
                            <mat-label>{{ 'APPS.DESCRIPTION' | translate }}</mat-label>
                            <textarea   matInput
                                        matTextareaAutosize 
                                        matAutosizeMinRows="2" 
                                        formControlName="description"></textarea>
                            <mat-error>{{ formErrors?.description }}</mat-error>
                        </mat-form-field>
                    </div>

                </form>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
    
</div>
