<div class="container-fluid form-group">
    <h1>User</h1>

    <form [formGroup]="fg" (ngSubmit)="onSubmit(fg, object)" novalidate>
        <div class="row">
            <ps-input   [form]="fg" 
                        [errors]="formErrors"
                        label="ID."
                        type="text"
                        name="id" class="col-sm-6 col-md-3"></ps-input>
        </div>

        <div class="row">
            <ps-input   [form]="fg" 
                        [errors]="formErrors"
                        label="Name"
                        type="text"
                        name="name" class="col-12"></ps-input>
        </div>

        <div class="row">
            <ps-input   [form]="fg" 
                        [errors]="formErrors"
                        label="Surname"
                        type="text"
                        name="surname" class="col-12"></ps-input>
        </div>

        <div class="row">
            <ps-input   [form]="fg" 
                        [errors]="formErrors"
                        label="Email"
                        type="email"
                        name="email" class="col-6"></ps-input>
        </div>

        <div class="row">
            <ps-dropdown    [form]="fg"
                            [errors]="formErrors"
                            [autoWidth]="false"
                            [options]="langsAux"
                            name="lang_id"
                            class="col-sm-12 col-md-5">
            </ps-dropdown>

            <ps-checkbox    [form]="fg"
                            name="access"
                            label="Access" class="col-sm-12 offset-md-2 col-md-4"></ps-checkbox>
        </div>

        <ps-form-header title="Data Access"
                        icon="fa ui-icon-account-box"></ps-form-header>

        <div class="row">
            <ps-dropdown    [form]="fg"
                            [errors]="formErrors"
                            [autoWidth]="false"
                            [options]="profiles"
                            name="profile_id"
                            class="col-sm-12 col-md-5">
            </ps-dropdown>
        </div>

        <div class="row">
            <ps-input   [form]="fg" 
                        [errors]="formErrors"
                        label="User"
                        type="text"
                        name="user" class="col-12"></ps-input>
        </div>

        <div class="row">
            <ps-input   [form]="fg" 
                        [errors]="formErrors"
                        label="Password"
                        type="password"
                        name="password" class="col-12"></ps-input>
        </div>

        <!-- buttons -->
        <div class="row justify-content-sm-center justify-content-md-start action-buttons">
            <ps-button  type="submit" 
                        icon="fa-check" 
                        label="Save" 
                        class="col-sm-10 col-md-3"></ps-button>

            <ps-button  type="button" 
                        icon="ui-icon-clear" 
                        label="Cancel" 
                        [routerLink]="[baseUri]"
                        class="col-sm-10 col-md-3"></ps-button>
        </div>
    </form>
</div>