<div  class="page-layout carded fullwidth tabable" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="baseUri">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="product-image mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <mat-icon>account_circle</mat-icon>
                </div>

                <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="dataRoute.action ==='edit' || dataRoute.action ==='create-lang'">
                        {{ object.name }}
                    </div>
                    <div class="h2" *ngIf="dataRoute.action ==='create'">
                        {{ 'APPS.NEW.M' | translate }} {{ 'APPS.CUSTOMER' | translate }}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{ 'APPS.DETAIL' | translate }}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    type="submit"
                    form="formDetail"
                    class="action-btn mat-white-bg mt-16 mt-sm-0"
                    [disabled]="fg.pristine || loadingButton"
                    *ngIf="dataRoute.action ==='create'">
                <span>{{ 'APPS.ADD' | translate }}</span>
                <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
            </button>

            <button mat-raised-button
                    type="submit"
                    form="formDetail"
                    class="action-btn mat-white-bg mt-16 mt-sm-0"
                    [disabled]="fg.invalid || fg.pristine || loadingButton"
                    *ngIf="dataRoute.action ==='edit'">
                <span>{{ 'APPS.SAVE' | translate }}</span>
                <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">
                
                <form   id="formDetail"
                        class="col-12"
                        [formGroup]="fg"
                        (ngSubmit)="postRecord(object)"
                        fxLayout="column"
                        fxFlex>

                    <mat-tab-group>

                        <mat-tab label="{{ 'APPS.PROPERTIES' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div fxLayout="row">
                                    <mat-form-field class="col-12 col-md-4">
                                        <input matInput placeholder="{{ 'APPS.ID' | translate }}" formControlName="id">
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col-12 col-md-6">
                                        <mat-select placeholder="{{ 'APPS.CUSTOMER_GROUP' | translate }}" formControlName="group_id" required>
                                            <mat-option *ngFor="let customerGroup of customerGroups" [value]="customerGroup.id">{{ customerGroup.name }}</mat-option>
                                        </mat-select>
                                        <mat-error>{{ formErrors?.group_id }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col-12">
                                        <input matInput placeholder="{{ 'APPS.COMPANY' | translate }}" formControlName="company">
                                        <mat-error>{{ formErrors?.company }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col-12 col-md-5">
                                        <input matInput placeholder="{{ 'APPS.TIN' | translate }}" formControlName="tin">
                                        <mat-error>{{ formErrors?.tin }}</mat-error>
                                    </mat-form-field>
                                </div>
            
                                <div fxLayout="row">
                                    <mat-form-field class="col-12 col-md-5">
                                        <input matInput placeholder="{{ 'APPS.NAME' | translate }}" formControlName="name">
                                        <mat-error>{{ formErrors?.name }}</mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="col-12 offset-md-1 col-md-6">
                                        <input matInput placeholder="{{ 'APPS.SURNAME' | translate }}" formControlName="surname">
                                        <mat-error>{{ formErrors?.surname }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col-12 col-md-6">
                                        <input matInput placeholder="{{ 'APPS.EMAIL' | translate }}" formControlName="email" required>
                                        <mat-error>{{ formErrors?.email }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <!-- HEADER -->
                                <div fxLayout="row" fxLayoutAlign="start center" class="my-24 header-section">
                                    <mat-icon class="m-0 mr-16">how_to_reg</mat-icon>
                                    <div class="h2 secondary-text">{{ 'APPS.DATA_ACCESS' | translate }}</div>
                                </div>
                                <!-- / HEADER -->

                                <div fxLayout="row">
                                    <div class="col-12 col-md-6 py-20">
                                        <mat-checkbox formControlName="active">{{ 'APPS.ACTIVE.M' | translate }}</mat-checkbox>
                                    </div>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col-12 col-md-6">
                                        <input matInput placeholder="{{ 'APPS.USER' | translate }}" formControlName="user" required>
                                        <mat-error>{{ formErrors?.user }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col-12 col-md-6">
                                        <mat-icon matSuffix matTooltip="{{ 'APPS.SHOW_PASSWORD' | translate }}" class="pointer" (mousedown)="inputType = 'text'" (mouseup)="inputType = 'password'" (mouseleave)="inputType = 'password'">remove_red_eye</mat-icon>
                                        <mat-icon matSuffix matTooltip="{{ 'APPS.GENERATE_PASSWORD' | translate }}" class="pointer ml-12" (click)="generatePassword()">cached</mat-icon>
                                        <input matInput #password placeholder="{{ 'APPS.PASSWORD' | translate }}" formControlName="password" [type]="inputType" [required]="dataRoute.action === 'create'" autocomplete="new-password">
                                        <mat-hint align="end" aria-live="polite">{{ fg.controls['password'].value?.length }}</mat-hint>
                                        <mat-error>{{ formErrors?.password }}</mat-error>
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row">
                                    <ngx-material-password-strength class="col-12 col-md-6 mb-12" [password]="fg.controls['password'].value"></ngx-material-password-strength>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field class="col-12 col-md-6">
                                        <input matInput placeholder="{{ 'APPS.REPEAT_PASSWORD' | translate }}" formControlName="repeat_password" type="password" [required]="dataRoute.action === 'create'" autocomplete="new-password">
                                        <mat-hint align="end" aria-live="polite">{{ fg.controls['repeat_password'].value?.length }}</mat-hint>
                                        <mat-error>{{ formErrors?.repeat_password }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <!-- HEADER -->
                                <div fxLayout="row" fxLayoutAlign="start center" class="my-24 header-section">
                                    <mat-icon class="m-0 mr-16">person_pin_circle</mat-icon>
                                    <div class="h2 secondary-text">{{ 'APPS.GEOLOCATION' | translate }}</div>
                                </div>
                                <!-- / HEADER -->

                                <div fxLayout="row">
                                    <mat-form-field class="col-12">
                                        <input matInput placeholder="{{ 'APPS.ADDRESS' | translate }}" formControlName="address">
                                        <mat-error>{{ formErrors?.address }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <div class="col-12 col-md-5">

                                        <dh2-territories    [formGroup]="fg"
                                                            [formErrors]="formErrors"
                                                            [countries]="countries"></dh2-territories>

                                        <div fxLayout="row">
                                            <mat-form-field class="col-12 col-md-6">
                                                <input matInput placeholder="{{ 'APPS.ZIP' | translate }}" formControlName="zip">
                                                <mat-error>{{ formErrors?.zip }}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div fxLayout="row">
                                            <mat-form-field class="col-12 col-md-6">
                                                <input matInput placeholder="{{ 'APPS.LOCALITY' | translate }}" formControlName="locality">
                                                <mat-error>{{ formErrors?.locality }}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div fxLayout="row">
                                            <mat-form-field class="col-12 col-md-10">
                                                <input matInput placeholder="{{ 'APPS.LATITUDE' | translate }}" formControlName="latitude">
                                                <mat-error>{{ formErrors?.latitude }}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div fxLayout="row">
                                            <mat-form-field class="col-12 col-md-10">
                                                <input matInput placeholder="{{ 'APPS.LONGITUDE' | translate }}" formControlName="longitude">
                                                <mat-error>{{ formErrors?.longitude }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-7">
                                        <div fxLayout="row">
                                            <dh2-location-map [formGroup]="fg" class="offset-1 col-11"></dh2-location-map>
                                        </div>
                                    </div>

                                </div>             
                            </div>
                        </mat-tab>
                        <mat-tab label="{{ 'CRM.ADDRESSES' | translate | uppercase }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
    
</div>