<ps-datatable-header title="Products {{ objects.length }} de {{ filteredRecords }} - filtrados de {{ totalRecords }}" [createLink]="baseUri + '/create'"></ps-datatable-header>
<ps-datatable-search [dataTable]="dataTableObjects" label="Search"></ps-datatable-search>

<p-dataTable    [value]="objects" [responsive]="true" #dataTableObjects
                [lazy]="true" [rows]="10" [paginator]="true" [totalRecords]="totalRecords"
                [rowsPerPageOptions]="[10,25,50]"
                (onLazyLoad)="getRecords($event, [{'command': 'where', 'column': 'lang_id', 'operator': '=', 'value': baseLang }])">

    <p-column field="id" sortField="market_product_lang.id" header="#" [sortable]="true"></p-column>
    <p-column field="code" header="Code" [sortable]="true"></p-column>
    <p-column field="name" header="Name" [sortable]="true"></p-column>
    <p-column field="active" header="Active" [sortable]="true"></p-column>
    <p-column field="subtotal" header="Subtotal" [sortable]="true"></p-column>
    <p-column styleClass="col-button center">
        <ng-template pTemplate="header">
            @
        </ng-template>
        <ng-template let-object="rowData" pTemplate="body">
            <div class="dropdown">
                <button pButton type="button" icon="ui-icon-translate" class="datatable-actions dropdown-toggle {{ object | checkLangsObject:langs }}-btn" 
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuData">
                    <div *ngFor="let lang of langs">
                        <a  *ngIf="(object | actionLangObject:lang) === 'edit'" 
                            [routerLink]="[baseUri + '/show', lang.id, object.id]"
                            class="dropdown-item"><span class="flag-icon flag-icon-{{ lang.icon }}"></span> Edit</a>
                            
                        <a  *ngIf="(object | actionLangObject:lang) === 'create'" 
                            [routerLink]="[baseUri + '/create', lang.id, object.id]"
                            class="dropdown-item"><span class="flag-icon flag-icon-{{ lang.icon }}"></span> Create</a>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-column>
    <p-column styleClass="col-button center">
        <ng-template pTemplate="header">
            @
        </ng-template>
        <ng-template let-object="rowData" pTemplate="body">
            <div class="dropdown">
                <button pButton type="button" icon="ui-icon-more-vert" class="datatable-actions dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" [routerLink]="[baseUri + '/show', object.lang_id, object.id]">Edit</a>
                    <a class="dropdown-item pointer" (click)="deleteRecord(object)">Delete</a>
                </div>
            </div>
        </ng-template>
    </p-column>
</p-dataTable>