<ps-datatable-header title="Actions {{ objects.length }} de {{ filteredRecords }} - filtrados de {{ totalRecords }}" [createLink]="baseUri + '/create'"></ps-datatable-header>
<ps-datatable-search [dataTable]="dataTableObjects" label="Search"></ps-datatable-search>

<p-dataTable    [value]="objects" [responsive]="true" #dataTableObjects
                [lazy]="true" [rows]="10" [paginator]="true" [totalRecords]="totalRecords" 
                (onLazyLoad)="getRecords($event)">

    <p-column field="object_id" header="#" [sortable]="true"></p-column>
    <p-column field="name" header="Name" [sortable]="true"></p-column>  
    <p-column styleClass="col-button center">
        <ng-template pTemplate="header">
            @
        </ng-template>
        <ng-template let-object="rowData" pTemplate="body">
            <div class="dropdown">
                <button pButton type="button" icon="ui-icon-more-vert" class="datatable-actions dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" [routerLink]="[baseUri + '/show', object.object_id]">Edit</a>
                    <a class="dropdown-item pointer" (click)="deleteRecord(object)">Delete</a>
                </div>
            </div>
        </ng-template>
    </p-column>
</p-dataTable>