<div class="page-layout carded fullwidth inner-scroll">

    <dh2-spinner [show]="showSpinner"></dh2-spinner>

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="baseUri">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <mat-icon>account_circle</mat-icon>
                </div>

                <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="dataRoute.action ==='edit'">
                        {{ object.name }}
                    </div>
                    <div class="h2" *ngIf="dataRoute.action ==='create'">
                        {{ 'APPS.NEW.F' | translate }} {{ 'FOREM.EMPLOYMENT_OFFICE' | translate }}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{ 'APPS.DETAIL' | translate }}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    type="submit"
                    form="formDetail"
                    class="mat-white-bg mt-16 mt-sm-0"
                    [disabled]="fg.pristine || loadingButton"
                    *ngIf="dataRoute.action ==='create'">
                <span>{{ 'APPS.ADD' | translate }}</span>
                <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
            </button>

            <button mat-raised-button
                    type="submit"
                    form="formDetail"
                    class="mat-white-bg mt-16 mt-sm-0"
                    [disabled]="fg.invalid || fg.pristine || loadingButton"
                    *ngIf="dataRoute.action ==='edit'">
                <span>{{ 'APPS.SAVE' | translate }}</span>
                <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg p-24">

            <!-- CONTENT -->
            <div class="content">
                
                <form   id="formDetail"
                        fxLayout="column"
                        fxFlex
                        [formGroup]="fg"
                        (ngSubmit)="postRecord(object)">

                    <div class="container">
                        <div fxLayout="row" *ngIf="dataRoute.action === 'edit'">
                            <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-4">
                                <mat-label>{{ 'APPS.ID' | translate }}</mat-label>
                                <input matInput formControlName="id">
                            </mat-form-field>
                        </div>

                        <div fxLayout="row">
                            <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-6">
                                <mat-label>{{ 'APPS.CODE' | translate }}</mat-label>
                                <input matInput formControlName="code" required>
                                <mat-error>{{ formErrors?.code }}</mat-error>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row">
                            <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12">
                                <mat-label>{{ 'APPS.NAME' | translate }}</mat-label>
                                <input dh2Slug [model]="graphQL.model" [object]="object" (checkingSlug)="handleCheckingSlug($event)" matInput formControlName="name" required>
                                <mat-error>{{ formErrors?.name }}</mat-error>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row">
                            <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12">
                                <mat-label>{{ 'APPS.SLUG' | translate }}</mat-label>
                                <mat-spinner *ngIf="loadingSlug" matPrefix mode="indeterminate" diameter="17" class="mr-10"></mat-spinner>
                                <input dh2Slug [model]="graphQL.model" [object]="object" (checkingSlug)="handleCheckingSlug($event)" matInput formControlName="slug" required>
                                <mat-error>{{ formErrors?.slug }}</mat-error>
                            </mat-form-field>
                        </div>

                        <!-- HEADER -->
                        <div fxLayout="row" fxLayoutAlign="start center" class="my-24 header-section">
                            <mat-icon class="m-0 mr-16">person_pin_circle</mat-icon>
                            <div class="h2 secondary-text">{{ 'APPS.GEOLOCATION' | translate }}</div>
                        </div>
                        <!-- / HEADER -->

                        <div fxLayout="row">
                            <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12">
                                <mat-label>{{ 'APPS.ADDRESS' | translate }}</mat-label>
                                <input matInput formControlName="address">
                                <mat-error>{{ formErrors?.address }}</mat-error>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row">
                            <div class="col-12 col-md-5">

                                <dh2-territories    [formGroup]="fg"
                                                    [formErrors]="formErrors"
                                                    [countries]="countries"></dh2-territories>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-10">
                                        <mat-label>{{ 'APPS.ZIP' | translate }}</mat-label>
                                        <input matInput formControlName="zip">
                                        <mat-error>{{ formErrors?.zip }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-10">
                                        <mat-label>{{ 'APPS.LOCALITY' | translate }}</mat-label>
                                        <input matInput formControlName="locality">
                                        <mat-error>{{ formErrors?.locality }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-10">
                                        <mat-label>{{ 'APPS.LATITUDE' | translate }}</mat-label>
                                        <input matInput formControlName="latitude">
                                        <mat-error>{{ formErrors?.latitude }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row">
                                    <mat-form-field [appearance]="pulsarConfig.fieldAppearance" class="col-12 col-md-10">
                                        <mat-label>{{ 'APPS.LONGITUDE' | translate }}</mat-label>
                                        <input matInput formControlName="longitude">
                                        <mat-error>{{ formErrors?.longitude }}</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-12 col-md-7">
                                <div fxLayout="row">
                                    <dh2-location-map [formGroup]="fg" class="offset-1 col-11"></dh2-location-map>
                                </div>
                            </div>

                        </div>
                    </div>

                </form>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
    
</div>