<h1>Lang</h1>

<form [formGroup]="formDetail" (ngSubmit)="onSubmit(this.formDetail, this.object)" novalidate>

    <div class="form-group">
        <label for="inputId">ID</label>
        <input  formControlName="id" [ngModel]="object.id"
                type="text" class="form-control col-2" id="inputId">
    </div>

    <div class="form-group">
        <label  for="inputName">Name</label>
        <input  formControlName="name" [ngModel]="object.name"
                type="text" class="form-control" id="inputName">
    </div>

    <div class="form-group">
        <label for="inputIco">Ico</label>
        <input  formControlName="icon" [ngModel]="object.icon"
                type="text" class="form-control" id="inputIco">
    </div>

    <div class="form-group">
        <label for="inputSort">Sort</label>
        <input  formControlName="sort" [ngModel]="object.sort"
                type="number" class="form-control col-2" id="inputSort">
    </div>

    <fieldset class="form-group">
        <input  formControlName="base" [ngModel]="object.base"
                type="checkbox" id="inputBase">
        <label for="inputBase">Base</label>
    </fieldset>

    {{ this.action }}

    <fieldset class="form-group">
        <input  formControlName="active" [ngModel]="object.active"
                type="checkbox" id="inputActive">
        <label for="inputActive">Active</label>
    </fieldset>

    <button type="submit" class="btn btn-primary">Save</button>
    <a [routerLink]="[this.objectService.baseUri]" class="btn btn-primary">Cancel</a>
</form>
