<div class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="baseUri">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <mat-icon>class</mat-icon>
                </div>

                <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="dataRoute.action ==='edit'">
                        {{ object.name }}
                    </div>
                    <div class="h2" *ngIf="dataRoute.action ==='create'">
                        {{ 'APPS.NEW.M' | translate }} {{ 'CMS.FAMILY' | translate }}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{ 'APPS.DETAIL' | translate }}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <div fxLayoutGap="30px">
                <button mat-raised-button
                        type="submit"
                        form="formDetail"
                        class="action-btn mat-white-bg mt-16 mt-sm-0"
                        [disabled]="fg.pristine || loadingButton"
                        *ngIf="dataRoute.action ==='create'">
                    <span>{{ 'APPS.ADD' | translate }}</span>
                    <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>

                <button mat-raised-button
                        type="submit"
                        form="formDetail"
                        class="action-btn mat-white-bg mt-16 mt-sm-0"
                        [disabled]="fg.invalid || fg.pristine || loadingButton"
                        *ngIf="dataRoute.action ==='edit'">
                    <span>{{ 'APPS.SAVE' | translate }}</span>
                    <mat-spinner *ngIf="loadingButton" mode="indeterminate" diameter="17"></mat-spinner>
                </button>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg p-24">

            <!-- CONTENT -->
            <div class="content" fusePerfectScrollbar>
                <div fxFlex fxLayout="column">
                    <form   id="formDetail"
                            [formGroup]="fg"
                            (ngSubmit)="postRecord(object)">

                    <div fxLayout="row">
                        <mat-form-field class="col-12 col-md-4">
                            <input matInput placeholder="{{ 'APPS.ID' | translate }}" formControlName="id">
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field class="col-12">
                            <input matInput placeholder="{{ 'APPS.NAME' | translate }}" formControlName="name" required>
                            <mat-error>{{ formErrors?.name }}</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" class="justify-content-between">
                        <div class="col-5 py-20">
                            <mat-checkbox formControlName="date">{{ 'APPS.DATE' | translate }}</mat-checkbox>
                        </div>
                        <div class="col-5 py-20">
                            <mat-checkbox formControlName="title">{{ 'CMS.TITLE' | translate }}</mat-checkbox>
                        </div>
                    </div>

                    <div fxLayout="row" class="justify-content-between">
                        <div class="col-5 py-20">
                            <mat-checkbox formControlName="slug">{{ 'APPS.SLUG' | translate }}</mat-checkbox>
                        </div>
                        <div class="col-5 py-20">
                            <mat-checkbox formControlName="categories">{{ 'NAV.CATEGORIES' | translate }}</mat-checkbox>
                        </div>
                    </div>

                    <div fxLayout="row" class="justify-content-between">
                        <div class="col-5 py-20">
                            <mat-checkbox formControlName="sort">{{ 'APPS.SORT' | translate }}</mat-checkbox>
                        </div>
                        <div class="col-5 py-20">
                            <mat-checkbox formControlName="tags">{{ 'CMS.TAGS' | translate }}</mat-checkbox>
                        </div>
                    </div>

                    <div fxLayout="row" class="justify-content-between">
                        <div class="col-5 py-20">
                            <mat-checkbox formControlName="link">{{ 'APPS.LINK' | translate }}</mat-checkbox>
                        </div>
                        <div class="col-5 py-20">
                            <mat-checkbox formControlName="article_parent">{{ 'CMS.ARTICLE_PARENT' | translate }}</mat-checkbox>
                        </div>
                    </div>

                    <div fxLayout="row">
                        <div class="col-5 py-20">
                            <mat-checkbox formControlName="attachments">{{ 'APPS.ATTACHMENTS' | translate }}</mat-checkbox>
                        </div>
                    </div>

                    <div fxLayout="row" class="justify-content-between">
                        <mat-form-field class="col-12 col-md-5">
                            <mat-select placeholder="{{ 'CMS.EXCERPT_EDITOR' | translate }}" formControlName="excerpt_editor_id">
                                <mat-option>{{ 'APPS.NONE.M' | translate }}</mat-option>
                                <mat-option *ngFor="let editor of editors" [value]="+editor.id">{{ editor.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="col-12 col-md-5">
                            <mat-select placeholder="{{ 'CMS.ARTICLE_EDITOR' | translate }}" formControlName="article_editor_id">
                                <mat-option>{{ 'APPS.NONE.M' | translate }}</mat-option>
                                <mat-option *ngFor="let editor of editors" [value]="+editor.id">{{ editor.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field class="col-12 col-md-5">
                            <mat-select placeholder="{{ 'APPS.FIELD_GROUP' | translate }}" formControlName="field_group_id">
                                <mat-option>{{ 'APPS.NONE.M' | translate }}</mat-option>
                                <mat-option *ngFor="let fieldGroup of fieldGroups" [value]="fieldGroup.id">{{ fieldGroup.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </form>
                </div>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
    
</div>