/* You can add global styles to this file, and also import other style files */

/*
 * Helpers
 */
.center{
    text-align: center;
}
.pointer{
    cursor: pointer;
}
.right{
    float: right
}
.bt-nopad{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.fast {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.slow{
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/*
 * custom primeng
 */
@media (min-width: 768px) {
    .action-buttons ps-button {
        margin-top: 0 !important;
    }
}

.action-buttons ps-button {
    margin-top: 20px;
}
.action-buttons ps-button:first-of-type {
    margin-top: 0;
}
.datatable-dropdown-actions .material-icons{
    font-size: 20px; 
    margin-right: 10px;
}

.main-card{
    z-index: 2 !important;
}

.datatable-search label span {
    position: absolute;
    color: #ffffff !important;
    top: 0;
    left: 30px
}

.datatable-search label i {
    top: -4px;
    position: absolute;
}

.datatable-search input {
    color: #ffffff;
}

body .ui-datatable .ui-datatable-data tr td {
    padding: .5em .6em;
}

.new-button{
    margin: 1em 0;
}

.content-input-search {
    padding:18px 10px 0 0;
    border-bottom: 0 none;
    margin-top: 10px;
}

.content-input-search div[class^="col-"] {
    padding-top: 5px;
    margin-bottom: 8px;
}

.ui-datatable .ui-datatable-thead>tr>th, .ui-datatable .ui-datatable-tfoot>tr>td, .ui-datatable .ui-datatable-data>tr>td {
    overflow: visible !important;
}

.dropdown button.datatable-actions {
    font-size: 11px;
}
.ui-dropdown-message.ui-message.ui-messages-error {
    background-color: transparent;
    border: 0 none;
    margin: 0px;
    color: #e62a10;
    font-size: .75em;
}

/*
 * custom bootstrap
 */
 /* grid for forms */
.form-group div[class^="col-"] {
    margin-bottom: 17px;
}

label {
    margin-bottom: 0px;
}

.ui-fluid .ui-button-text-icon-left .ui-button-text, .ui-fluid .ui-button-text-icon-right .ui-button-text {
    padding: 0 1em; /*vertical align text button*/
}

 /* miscellaneous bootstrap */
 body {
    background-color: #f7f7f7;
}

a:focus, a:hover {
  color: #014c8c;
  text-decoration: none;
}

.card {
    border: none !important;
    border-radius: 2px;   
}











 /* cropper */
.cropper-dialog{
    width: 90% !important;
    left: 5% !important;
}
.img-container,
.img-preview {
    background-color: #f7f7f7;
    overflow: hidden;
}
.img-container {
    min-height: 200px;
    max-height: 466px;
    margin-bottom: 20px;
}
@media (min-width: 768px) {
    .img-container {
        min-height: 466px;
    }
}
.img-container > img {
    max-width: 100%;
}
.img-preview {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.img-preview > img {
    max-width: 100%;
}
.preview-lg {
    width: 263px;
    height: 148px;
}
.preview-md {
    width: 139px;
    height: 78px;
}
.preview-sm {
    width: 69px;
    height: 39px;
}
.preview-xs {
    width: 35px;
    height: 20px;
    margin-right: 0;
}