:host {
    width: 100%;

    p {
        color:rgba(117, 117, 117, 1);
        margin: 0;
    }

    .pane {
        width: 100%;
        margin-bottom: 25px;
    }

    .list {
        width: 100%;
    }

    .pane {
        display: block;
        overflow-y: scroll;
        max-height: 200px;

        .mat-header-row {
            position: sticky;
            top: 0;
            z-index: 1;
        }
    }
}
