<div class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div    class="header accent"
                fxLayout="column" 
                fxLayoutAlign="center center"
                fxLayout.gt-xs="row" 
                fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div    class="logo my-12 m-sm-0"
                    fxLayout="row" 
                    fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">photo</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">{{ 'NAV.ATTACHMENT_FAMILIES' | translate }}</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-input-wrapper mx-12 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <label for="filter" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field floatLabel="never" fxFlex="1 0 auto" class="search-form-field">
                    <input #filter id="filter" matInput placeholder="{{ 'APPS.SEARCH' | translate }}">
                    <button mat-button mat-icon-button matSuffix class="filter-close-icon" *ngIf="filter?.value" (click)="clearFilter()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <!-- / SEARCH -->

            <button mat-raised-button
                    [routerLink]="baseUri + '/create'"
                    class="new-btn fuse-white my-12 mt-sm-0">
                <span>{{ 'APPS.NEW.F' | translate }} {{ 'ADMIN.ATTACHMENT_FAMILY' | translate }}</span>
            </button>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card fuse-white">
            <div class="loading-shape" *ngIf="isLoadingResults">
                <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            </div>

            <mat-table  [dataSource]="dataSource"
                        fusePerfectScrollbar
                        matSort
                        matSortDisableClear>

                <!-- Column -->
                <ng-container matColumnDef="admin_attachment_family.id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="mw-80">#</mat-header-cell>
                    <mat-cell *matCellDef="let row" class="mw-80">{{ row.id }}</mat-cell>
                </ng-container>
        
                <!-- Column -->
                <ng-container matColumnDef="admin_attachment_family.name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'APPS.NAME' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
                </ng-container>

                <!-- Column -->
                <ng-container matColumnDef="admin_attachment_family.width">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="mw-120">{{ 'APPS.WIDTH' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let row" class="mw-120">{{ row.width ? row.width + 'px' : null }}</mat-cell>
                </ng-container>

                <!-- Column -->
                <ng-container matColumnDef="admin_attachment_family.height">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="mw-120">{{ 'APPS.HEIGHT' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let row" class="mw-120">{{ row.height ? row.height + 'px' : null }}</mat-cell>
                </ng-container>

                <!-- Column -->
                <ng-container matColumnDef="admin_resource.name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="d-none d-sm-flex">{{ 'APPS.RESOURCE' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let row" class="d-none d-sm-flex">{{ row.admin_resource_name }}</mat-cell>
                </ng-container>

                <!-- ACTIONS -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>{{ 'APPS.ACTIONS' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item [routerLink]="[baseUri + '/show', row.id]">
                                <mat-icon>mode_edit</mat-icon>
                                <span>{{ 'APPS.EDIT' | translate }}</span>
                            </button>
                            <button mat-menu-item (click)="deleteRecord(row)">
                                <mat-icon>delete</mat-icon>
                                <span>{{ 'APPS.DELETE' | translate }}</span>
                            </button>
                        </mat-menu>
                    </mat-cell>
                </ng-container>
                <!-- / ACTIONS -->

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>