<div class="container-fluid form-group">
    <h1>Field Value</h1>

    <form [formGroup]="fg" (ngSubmit)="postRecord(object, baseUri + '/' + field_id, [field_id])" novalidate>

        <input type="hidden" formControlName="lang_id">
        <input type="hidden" formControlName="field_id">

        <div class="row">
            <ps-input   [form]="fg"
                        [errors]="formErrors" 
                        label="ID."
                        type="text"
                        name="id" class="col-10 col-sm-6 col-md-3"></ps-input>
            <p-checkbox binary="true" (onChange)="handleEnableId($event)" class="col-1"></p-checkbox>

            <ps-lang-label  [lang]="lang" class="offset-md-1 col-sm-6 col-md-3"></ps-lang-label>
        </div>
        
        <div class="row">
            <ps-input   [form]="fg"
                        [errors]="formErrors"
                        label="Name"
                        type="text"
                        name="name" class="col-12"></ps-input>
        </div>

        <div class="row">
            <ps-input   [form]="fg" 
                        [errors]="formErrors"
                        label="Sort"
                        type="number"
                        name="sort" class="col-sm-12 col-md-4"></ps-input>

            <ps-checkbox    [form]="fg"
                            name="featured"
                            label="Featured" class="offset-md-1 col-sm-12 col-md-4"></ps-checkbox>
        </div>

        <!-- buttons -->
        <div class="row justify-content-sm-center justify-content-md-start action-buttons">
            <ps-button  type="submit" 
                        icon="fa-check" 
                        label="Save" 
                        class="col-sm-10 col-md-3"></ps-button>

            <ps-button  type="button" 
                        icon="ui-icon-clear" 
                        label="Cancel" 
                        [routerLink]="[baseUri, field_id]"
                        class="col-sm-10 col-md-3"></ps-button>

            <ps-button  type="button" 
                        icon="ui-icon-clear" 
                        *ngIf="dataRoute.action === 'edit'"
                        label="Delete translation" 
                        (click)="deleteRecord(object, baseUri + '/' + field_id , lang.id, {field:field_id})" 
                        className="red-btn"
                        class="col-sm-10 col-md-3"></ps-button>
        </div>
    </form>
</div>