<div class="attachment-item" [formGroup]="form">
    <div [formArrayName]="name">
        <div [formGroupName]="index">
            <input type="hidden" formControlName="id">
            <input type="hidden" formControlName="file_name">
            <input type="hidden" formControlName="extension">
            <input type="hidden" formControlName="base_path">
            <input type="hidden" formControlName="size">
            <input type="hidden" formControlName="width">
            <input type="hidden" formControlName="height">
            <input type="hidden" formControlName="sort">
            <input type="hidden" formControlName="data">

            <div class="attachment-img">
                <dh2-image-input #image formControlName="url" styleClass="img-fluid"></dh2-image-input>
            </div>
            <div class="attachment-over">
                <div class="attachment-over-uncovered">
                    <h4 class="attachment-title">{{ familySelect?.name }}</h4>
                    <p class="attachment-sub">{{ attachment.get('title').value }}</p>
                    <p class="attachment-size">{{ attachment.get('size').value | sizeFormat }}</p>
                    <a #openOver class="attachment-edit-open">
                        <i class="material-icons">mode_edit</i>
                    </a>
                </div>
                <div class="attachment-over-covered">

                    <a #closeOver class="attachment-edit-close"><i class="material-icons">clear</i></a>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="{{ 'ATTACHMENTS.IMAGE_ALT' | translate }}" formControlName="alt">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="{{ 'ATTACHMENTS.IMAGE_TITLE' | translate }}" formControlName="title">
                    </div>

                    <div class="form-group">
                        <select formControlName="family_id" class="form-control" (change)="changeFamilyHandler($event)">
                            <option value="">{{ 'ATTACHMENTS.SELECT_FAMILY' | translate }}</option>
                            <option *ngFor="let family of families" [value]="+family.id">{{ family.name }}</option>
                        </select>
                        <div class="select-back">
                            <i class="material-icons">keyboard_arrow_down</i>
                        </div>
                    </div>

                    <div class="form-group" *ngIf="showCropButton">
                        <button mat-raised-button type="button" (click)="activeCropHandler($event)">
                            <span>{{ 'ATTACHMENTS.CROP' | translate }}</span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<a class="remove-item" (click)="removeItemHandler($event)">
    <i class="material-icons">clear</i>
</a>
